<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOChartService" />
                <binding name="BasicHttpBinding_IAPIService" />
                <binding name="BasicHttpBinding_IProtocolService" />
                <binding name="BasicHttpBinding_IMailService" />
                <binding name="BasicHttpBinding_ICollaborationService" />
                <binding name="BasicHttpBinding_IFastMergeService" />
                <binding name="BasicHttpBinding_IFastInvoiceProtocolService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://gaiardo.vecompsoftware.local/API/OChartService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOChartService" contract="OChartService.IOChartService" name="BasicHttpBinding_IOChartService" />
            <endpoint address="http://gaiardo.vecompsoftware.local/API/APIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAPIService" contract="APIService.IAPIService" name="BasicHttpBinding_IAPIService" />
            <endpoint address="http://localhost/DSW.API/ProtocolService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProtocolService" contract="ProtocolService.IProtocolService" name="BasicHttpBinding_IProtocolService" />
            <endpoint address="http://localhost/DSW.API/MailService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMailService" contract="MailService.IMailService" name="BasicHttpBinding_IMailService" />
            <endpoint address="http://localhost/DSW.API/CollaborationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICollaborationService" contract="CollaborationService.ICollaborationService" name="BasicHttpBinding_ICollaborationService" />
            <endpoint address="http://localhost/DSW.API/FastMergeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFastMergeService" contract="FastMergeService.IFastMergeService" name="BasicHttpBinding_IFastMergeService" />
            <endpoint address="http://localhost/DSW.API/FastInvoiceProtocolService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFastInvoiceProtocolService" contract="FastInvoiceProtocolService.IFastInvoiceProtocolService" name="BasicHttpBinding_IFastInvoiceProtocolService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
