<bindings>
  <basicHttpBinding>
    <binding name="BasicHttpStreamedBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
      <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
      <security mode="None" />
    </binding>
    <binding name="HTTPStreamedBinding" sendTimeout="00:10:00" transferMode="Streamed" />
    <binding name="basicHttpBindingCfg" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="52428800" maxReceivedMessageSize="655360000" textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
      <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="163840000" maxBytesPerRead="4096" maxNameTableCharCount="1638400" />
      <security mode="None" />
    </binding>
  </basicHttpBinding>
  <netTcpBinding>
    <binding name="NetTcpStreamedBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
      <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
      <security mode="None" />
    </binding>
  </netTcpBinding>
  <wsHttpBinding>
    <binding name="WSHttpBindingCfg" closeTimeout="00:01:00" openTimeout="00:01:00"
        receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
        maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
      <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
      <security mode="None"/>
    </binding>
  </wsHttpBinding>
</bindings>