<appSettings>
  <clear />

  <!-- Service Bus specific app setings for messaging connections -->
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://srvgeddev.vecompsoftware.local/DocSuiteNamespace;StsEndpoint=https://srvgeddev.vecompsoftware.local:9355/DocSuiteNamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=pe3QDNHy/kTRy4hkIsFa0klir0Cq093kHSlJ7qa1u0s=" />

  <!--<add key="QueueName" value="management_uds_create" />
    <add key="QueueName" value="management_uds_update" />
    <add key="QueueName" value="data_uds_insert" />
    <add key="QueueName" value="data_uds_update" />
    <add key="QueueName" value="data_uds_delete" />
    <add key="QueueName" value="cqrs_insert" />
    <add key="QueueName" value="cqrs_update" />
    <add key="QueueName" value="management_uds_create" />
    <add key="QueueName" value="dematerialisation_request" />
    <add key="QueueName" value="secure_document_request" />
    <add key="QueueName" value="secure_paper_request" />
    <add key="QueueName" value="data_protocol_insert" />
    <add key="QueueName" value="data_pecmail_insert" />-->


  <!--<add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.UDS.Listener.Create.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.UDS.Listener.Update.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.UDS.Listener.DataInsert.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.UDS.Listener.DataUpdate.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.UDS.Listener.DataDelete.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.CQRS.Listener.ModelInsert.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.CQRS.Listener.ModelUpdate.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.UDS.Listener.Create.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.Workflow.Listener.Dematerialisation.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.Workflow.Listener.SecureDocument.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.Workflow.Listener.SecurePaper.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.Entities.Listener.InsertProtocol.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.Entities.Listener.InsertPECMail.dll" />-->

</appSettings>