table.bodyFrameHeader
{
    background: none;
    background-color: #008046;
}

table.bodyFrameHeader td.leftHead
{
    color: #fff8dc;
}

div.bodyFrameFooter
{
    background: none;
    background-color: #008046;
}

