<bindings>
  <basicHttpBinding>

    <!-- Per Authenticazione windows-->
    <binding name="BasicHttpStreamedBindingWithWindowsAuthentication"
    transferMode="Streamed"
    maxReceivedMessageSize="2147483647"
    maxBufferSize="2147483647">
        <readerQuotas maxDepth="128"
                    maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" />
        <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
        </security>
    </binding>
    <!-- end -->

    <binding name="BasicHttpStreamedBinding"
    transferMode="Streamed"
    maxReceivedMessageSize="2147483647"
    maxBufferSize="2147483647">
        <readerQuotas maxDepth="128"
                    maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" />
        <security mode="None" />
    </binding>

  </basicHttpBinding>

  <!--Servono per i vari servizi di biblos-->
  <netTcpBinding>
      
    <binding name="NetTcpStreamedBinding"
                    transferMode="Streamed"
                    maxReceivedMessageSize="2147483647"
                    maxBufferSize="2147483647">
    <readerQuotas maxDepth="128"
                    maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" />
    <security mode="None" />
    </binding>
      
  </netTcpBinding>
  <!--End-->
</bindings>