<appSettings>
   <add key="log4net" value="true" />
  <!-- Abilita Debug log4net -->
  <add key="log4net.Internal.Debug" value="false"/>

  <!-- NHProf -->
  <add key="rhino" value="true" />
  <add key="limilabs" value="false" />
  
  <add key="LocalServerName" value="ServerName"/>
  <add key="LocalServerWorkgroup" value="WorkgroupName"/>

  <add key="FullVersion" value="1"/>
  <add key="ThinClientX" value="1"/>

  <add key="DomainPath" value="LDAP" />

  <add key="DocSuiteWeb.Biblos.DisableInnerConversion" value="True" />
  <add key="DocSuiteWeb.Biblos.DisableCloneDocument" value="False" />
  <add key="DocSuiteWeb.Biblos.CheckIsAliveEnabled" value="True" />
  <add key="DocSuiteWeb.Biblos.CheckIsAliveTimer" value="10" />
  <add key="DocSuiteWeb.Biblos.LatestVersionWorkaround" value="False" />
  <add key="DocSuiteWeb.Biblos.AttributesPour" value="False" />
  <add key="DocSuiteWeb.Biblos.SkipEmptyDataTime" value="False" />

  <add key="DocSuite.BiblosDSConv.BiblosdSConv" value="http://rmvsw-sc.westeurope.cloudapp.azure.com/StampaConforme2010/BiblosDSConv.asmx" />
  <add key="DocSuiteWeb.Biblos.URI" value="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/Documents.svc" />
  <add key="DocSuiteWeb.ContentSearch.URI" value="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/ContentSearch.svc" />

  <add key="PageCompression" value="1"/>
  <add key="DocSuiteWeb.SP.PublishToSharepoint" value=""/>
  <add key="DocSuite.PEC.Segnature" value=""/>

  <!--Web Service WebPublication AUSLPC-->
  <add key="DocSuiteWeb.WebPublicationAUSLPC" value=""/>
  <add key="DocSuite.ProductName" value="DocSuiteWeb"/>

  <add key="owin:AutomaticAppStartup" value="false"/>
  <add key="DocSuite.WSColl.ProtocolTemplateCollaborationName" value="Template Prova"/>
</appSettings>