<bindings>
  <basicHttpBinding>
    <binding name="BasicHttpBinding_IDocuments" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
      <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
      <security mode="None" />
    </binding>
    <binding name="BasicHttpBinding_IAdministration" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
      <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
      <security mode="None" />
    </binding>
    <binding name="BasicHttpBinding_IPDFGenerator" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
      <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
    </binding>
    <binding name="BasicHttpBinding_BiblosDSConvSoap" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
      <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
      <security mode="None" />
    </binding>
  </basicHttpBinding>
</bindings>