<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.11.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="VecompSoftware.Commons.Interfaces" version="9.9.20254.2" targetFramework="net48" />
  <package id="VecompSoftware.Core.Command" version="9.9.20267.1" targetFramework="net48" />
  <package id="VecompSoftware.DocSuiteWeb.Common" version="9.9.20254.2" targetFramework="net48" />
  <package id="VecompSoftware.DocSuiteWeb.Entity" version="9.9.20254.2" targetFramework="net48" />
  <package id="VecompSoftware.DocSuiteWeb.Model" version="9.9.20254.5" targetFramework="net48" />
  <package id="VecompSoftware.DocSuiteWeb.Repository" version="9.9.20254.2" targetFramework="net48" />
  <package id="VecompSoftware.Helpers.UDS" version="9.9.20267.1" targetFramework="net48" />
  <package id="VecompSoftware.Helpers.XML" version="9.9.20267.1" targetFramework="net48" />
  <package id="VecompSoftware.Services.Command" version="9.9.20267.1" targetFramework="net48" />
</packages>