GO
ALTER TABLE dbo.PreservationStorageDevice ADD
	IdCompany uniqueidentifier NULL
GO
ALTER TABLE dbo.PreservationStorageDevice ADD CONSTRAINT
	FK_PreservationStorageDevice_Company FOREIGN KEY
	(
	IdCompany
	) REFERENCES dbo.Company
	(
	IdCompany
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
