<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="VecompSoftware.Clients.WebAPI" version="8.87.19296.2" targetFramework="net461" />
  <package id="VecompSoftware.Commons.Interfaces" version="8.87.19295.1" targetFramework="net461" />
  <package id="VecompSoftware.DocSuiteWeb.Entity" version="8.87.19295.3" targetFramework="net461" />
  <package id="VecompSoftware.DocSuiteWeb.Model" version="8.87.19295.3" targetFramework="net461" />
  <package id="VecompSoftware.DocSuiteWeb.Repository" version="8.87.19295.1" targetFramework="net461" />
  <package id="VecompSoftware.Helpers" version="8.87.19296.1" targetFramework="net461" />
  <package id="VecompSoftware.Helpers.Json" version="8.87.19296.1" targetFramework="net461" />
  <package id="VecompSoftware.Helpers.WebAPI" version="8.87.19296.1" targetFramework="net461" />
  <package id="VecompSoftware.Services.Logging" version="8.87.19296.1" targetFramework="net461" />
</packages>