.loading-spinner {
    position: fixed; 
    right: 0;
    bottom: 0;
    top: 0; 
    width: 100%; 
    background: #fff;
    z-index: 999999;
    opacity: 0.5;
    filter: alpha(opacity=50); 
}

#spinner-gif {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 100px; 
    height: 100px; 
    margin-left: -50px; 
    margin-top: -50px;
}