<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
	</configSections>
	<connectionStrings>
		<!--<add name="BiblosDS" connectionString="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=DevBiblosDs2010;User ID=DocSuite;Password=DocSuite;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BiblosDSCnn" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DevBiblosDS2010;User ID=DocSuite;Password=DocSuite" providerName="System.Data.SqlClient" />-->
    <!-- Connessione APH_BiblosDS su SRVBIBLOS -->
    <add name="BiblosDS" connectionString="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=APH_BiblosDS;User ID=DocSuite;Password=DocSuite;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="BiblosDSCnn" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=APH_BiblosDS;User ID=DocSuite;Password=DocSuite" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<microsoft.visualstudio.testtools>
		<dataSources>
			<add name="BiblosDSDataSource_Archive" connectionString="BiblosDSCnn" dataTableName="Archive" dataAccessMethod="Sequential"/>
			<add name="BiblosDSDataSource_Document" connectionString="BiblosDSCnn" dataTableName="Document" dataAccessMethod="Sequential"/>
			<add name="BiblosDSDataSource_Transito" connectionString="BiblosDSCnn" dataTableName="Transito" dataAccessMethod="Sequential"/>
		</dataSources>
	</microsoft.visualstudio.testtools>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceTIOCA" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="ServiceDocumentStorage" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536000" maxConnections="10" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="ServiceDocument" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Streamed" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536000" maxConnections="10" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IServicePreservation" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="01:00:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384000" maxBytesPerRead="4096" maxNameTableCharCount="16384000"/>
          <reliableSession ordered="true" inactivityTimeout="01:00:00"/>
          <security mode="Message">
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default"/>
          </security>
        </binding>
      </wsDualHttpBinding>
      <wsHttpBinding>
        <binding name="Design_http" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="65536000" maxBytesPerRead="4096" maxNameTableCharCount="65536000"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true"/>
          </security>
        </binding>
        <binding name="Design_http1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IAdministration" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/BiblosDS.WCF.Storage/ServiceDocumentStorage/" binding="netNamedPipeBinding" bindingConfiguration="ServiceDocumentStorage" contract="ServiceReferenceStorage.IServiceDocumentStorage" name="ServiceDocumentStorage">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/BiblosDS.WCF.Storage/ServiceDocumentStorage/" binding="wsHttpBinding" bindingConfiguration="Design_http1" contract="ServiceReferenceStorage.IServiceDocumentStorage" name="Design_http1">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/Design_Time_Addresses/BiblosDS.WCF.Preservation/ServicePreservation/" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IServicePreservation" contract="PreservationSvc.IServicePreservation" name="WSDualHttpBinding_IServicePreservation">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="http://tioca.cloudapp.net/WCFTIOCA/ServiceTIOCA.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceTIOCA" contract="ServiceReferenceTIOCA.IServiceTIOCA" name="BasicHttpBinding_IServiceTIOCA"/>
      <endpoint address="http://biblosdsazurehost.cloudapp.net:8080/Administration.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAdministration" contract="ServiceReferenceAdmin.IAdministration" name="WSHttpBinding_IAdministration"/>
      <endpoint address="net.tcp://localhost:8085/" binding="netTcpBinding" bindingConfiguration="ServiceDocument" contract="ServiceReferenceDocument.IDocuments" name="ServiceDocument_">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="http://biblosdsazurehost.cloudapp.net:8080/documents.svc" binding="wsHttpBinding" bindingConfiguration="Design_http" contract="ServiceReferenceDocument.IDocuments" name="ServiceDocument">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
