<?xml version="1.0"?>
<configuration>
  <system.diagnostics/>
  <appSettings>
    <add key="UrlmarcheInfoCamere" value="https://marte.infocert.it/cdie/DtsService"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding" receiveTimeout="00:30:00" transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="1024"/>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="BiblosDS.WCF.DigitalSign.ServiceDigitalSignBehavior" name="BiblosDS.WCF.DigitalSign.ServiceDigitalSign">
        <endpoint address="net.pipe://localhost/BiblosDS.WCF.DigitalSign/ServiceDigitalSign/" behaviorConfiguration="" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding" name="ServiceDigitalSign" bindingName="ServiceDigitalSign" bindingNamespace="BiblosDS" contract="VecompSoftware.ServiceContract.BiblosDS.Signs.IServiceDigitalSign"/>
        <endpoint address="mex" binding="mexHttpBinding" name="Design_mex" contract="IMetadataExchange" listenUriMode="Explicit">
        </endpoint>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="" name="Design_http" contract="VecompSoftware.ServiceContract.BiblosDS.Signs.IServiceDigitalSign">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/BiblosDS.WCF.DigitalSign/ServiceDigitalSign/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BiblosDS.WCF.DigitalSign.ServiceDigitalSignBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
