<bindings>
  <basicHttpBinding>
      
    <binding name="BasicHttpStreamedBinding"
        transferMode="Streamed"
        maxReceivedMessageSize="2147483647"
        maxBufferSize="2147483647">
        <readerQuotas maxDepth="128"
                    maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" />
        <security mode="None" />
    </binding>
   
    <!--Servono per i vari servizi di biblos-->
    <binding name="basicHttpBindingCfg" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="52428800" maxReceivedMessageSize="655360000" textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
      <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="163840000" maxBytesPerRead="4096" maxNameTableCharCount="1638400" />
      <security mode="None" />
    </binding>
  </basicHttpBinding>

  <netTcpBinding>
    <binding name="NetTcpStreamedBinding"
                    transferMode="Streamed"
                    maxReceivedMessageSize="2147483647"
                    maxBufferSize="2147483647">
        <readerQuotas maxDepth="128"
                    maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" />
        <security mode="None" />
    </binding>
  </netTcpBinding>
  <!--End-->
</bindings >