<appSettings>

  <add key="DocSuiteWeb.CustomizatorName" value="" />
  <add key="log4net" value="true" />
  <!-- Abilita Debug log4net -->
  <add key="log4net.Internal.Debug" value="false"/>

  <!-- NHProf -->
  <add key="rhino" value="true" />

  <add key="LogPath" value="c:\temp\Log\docsuiteweb.log"/>
  <add key="DocSuite.Trace" value="false"/>
  <add key="LocalServerName" value="ServerName"/>
  <add key="LocalServerWorkgroup" value="WorkgroupName"/>

  <add key="ScannerWeb" value="1"/>
  <add key="ThinClientXVersion" value="40"/>

  <!-- Active Directory -->

  <add key="DocSuiteWeb.Biblos.DisableInnerConversion" value="True" />
  <add key="DocSuiteWeb.Biblos.DisableCloneDocument" value="False" />
  <add key="DocSuiteWeb.Biblos.CheckIsAliveEnabled" value="True" />
  <add key="DocSuiteWeb.Biblos.CheckIsAliveTimer" value="10" />
  <add key="DocSuiteWeb.Biblos.LatestVersionWorkaround" value="False" />
  <add key="DocSuiteWeb.Biblos.AttributesPour" value="False" />
  <add key="DocSuiteWeb.Biblos.SkipEmptyDataTime" value="False" />

  <add key="DocSuite.BiblosDSConv.BiblosdSConv" value="http://rmvsw-sc.westeurope.cloudapp.azure.com/StampaConforme2010/BiblosDSConv.asmx" />
  <add key="DocSuiteWeb.Biblos.URI" value="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/Documents.svc" />
  <add key="DocSuiteWeb.ContentSearch.URI" value="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/ContentSearch.svc" />

  <add key="DocSuite.PEC.Segnature" value="C:\Users\Daniele\Software\VecompSoftware\DocSuite2010\Src\DocSuite.Web\Config\Segnatura.dtd"/>
  
  <add key="DocSuite.ProductName" value="DocSuiteWeb"/>

  <add key="DocSuiteWeb.StampaConforme.Template" value="\\sviluppo\SHARE\Config\SignatureTemplate.xml"/>

  <!-- Lista separata da | di estensioni da escludere dalla conversione in pdf -->
  <add key="ExcludedExtensions" value=".xml"/>
  <add key="ConsultationIncludeDocumentStream" value="true" />
  <add key="HistoryConsultationEnable" value="false" />
  <add key="owin:AutomaticAppStartup" value="false"/>

</appSettings>