<connectionStrings>
  <!-- AFOL (SRVGEDDEV9999) -->
  <!--<add name="ProtConnection" connectionString="Data Source=localhost;  Initial Catalog=AFOL_Protocollo;   User ID=utente;   Pwd=;App=AFOL" providerName="System.Data.SqlClient"/>
  <add name="DocmConnection" connectionString="Data Source=localhost;  Initial Catalog=AFOL_Pratiche;   User ID=utente;   Pwd=;App=AFOL" providerName="System.Data.SqlClient"/>
  <add name="ReslConnection" connectionString="Data Source=localhost;  Initial Catalog=AFOL_Atti;         User ID=utente;   Pwd=;;App=AFOL" providerName="System.Data.SqlClient"/>-->
  <!-- AUSL-RE (SRVGEDDEV9999) -->
  <add name="ProtConnection" connectionString="Data Source=localhost;  Initial Catalog=AUSLRE_Protocollo;   User ID=utente;   Pwd=;" providerName="System.Data.SqlClient"/>
  <add name="DocmConnection" connectionString="Data Source=localhost;  Initial Catalog=AUSLRE_Pratiche;   User ID=utente;   Pwd=;" providerName="System.Data.SqlClient"/>
  <add name="ReslConnection" connectionString="Data Source=localhost;  Initial Catalog=AUSLRE_Atti;         User ID=utente;   Pwd=;" providerName="System.Data.SqlClient"/>
  <!-- AUSL-TO (SRVGEDDEV9999) -->
  <!--<add name="ProtConnection" connectionString="Data Source=localhost;Initial Catalog=ASLTO_Protocollo; User ID=utente;Pwd=;" providerName="System.Data.SqlClient"/>
  <add name="DocmConnection" connectionString="Data Source=localhost;Initial Catalog=ASLTO_Pratiche;   User ID=utente;Pwd=;" providerName="System.Data.SqlClient"/>
  <add name="ReslConnection" connectionString="Data Source=localhost;Initial Catalog=ASLTO_Atti;       User ID=utente;Pwd=;" providerName="System.Data.SqlClient"/>-->
  <!-- AUSL-PC (SRVGEDDEV9999) -->
  <!--<add name="ProtConnection" connectionString="Data Source=localhost; Initial Catalog=AUSLPC_Protocollo;  User ID=utente; Pwd=;" providerName="System.Data.SqlClient" />
  <add name="DocmConnection" connectionString="Data Source=localhost;Initial Catalog=AUSLPC_Pratiche;   User ID=utente;Pwd=;" providerName="System.Data.SqlClient"/>
  <add name="ReslConnection" connectionString="Data Source=localhost; Initial Catalog=AUSLPC_Atti;       User ID=utente; Pwd=;" providerName="System.Data.SqlClient" />-->
  <!-- cliente (SRVGEDDEV9999) -->
  <!--<add name="ProtConnection" connectionString="Data Source=localhost;Initial Catalog=cliente_Protocollo;     User ID=utente;Pwd=;" providerName="System.Data.SqlClient"/>
  <add name="DocmConnection" connectionString="Data Source=localhost;Initial Catalog=cliente_Pratiche;     User ID=utente;Pwd=;" providerName="System.Data.SqlClient"/>-->
  <!-- DocSuite ENPACL -->
  <!--<add name="ProtConnection" connectionString="Data Source=localhost;Initial Catalog=ENPACL_Protocollo; User ID=utente;Pwd=;" providerName="System.Data.SqlClient"/>
  <add name="DocmConnection" connectionString="Data Source=localhost;Initial Catalog=ENPACL_Pratiche;   User ID=utente;Pwd=;" providerName="System.Data.SqlClient"/>-->

  <!-- AZFT (SRVGEDDEV9999) -->
  <!--<add name="ProtConnection" connectionString="Data Source=localhost;  Initial Catalog=AZFT_Protocollo;   User ID=utente;   Pwd=;" providerName="System.Data.SqlClient"/>
  <add name="DocmConnection" connectionString="Data Source=localhost;  Initial Catalog=AZFT_Pratiche;   User ID=utente;   Pwd=;" providerName="System.Data.SqlClient"/>-->

</connectionStrings>