<connectionStrings>

	<add name="ProtConnection" connectionString="Data Source=localhost; Initial Catalog=ASLTO_Protocollo;  User ID=utente; Pwd=;" providerName="System.Data.SqlClient" />
	<add name="DocmConnection" connectionString="Data Source=localhost;Initial Catalog=ASLTO_Pratiche;   User ID=utente;Pwd=;" providerName="System.Data.SqlClient"/>
	<add name="ReslConnection" connectionString="Data Source=localhost; Initial Catalog=ASLTO_Atti;       User ID=utente; Pwd=;" providerName="System.Data.SqlClient" />

</connectionStrings>