<sessionState
    mode="InProc"
    sqlConnectionString="data source=WIN2003SRV-LOC2;user id=sessionUser;password=;Application Name=sessionState"
    cookieless="false"
    timeout="20">
</sessionState>

<!--<sessionState
  mode="SQLServer"
  allowCustomSqlDatabase="true"
  sqlConnectionString="Data Source=SVILUPPO; Integrated Security=SSPI; Initial Catalog=ASMNASPState; Application Name=sessionState;"
  cookieless="false"
  timeout="30">
</sessionState>-->
