<connectionStrings>
  <!-- AFOL (SRVGEDDEV9999) -->
  <!--<add name="ProtConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET;  Initial Catalog=AFOL_Protocollo;   User ID=DocSuite;   Pwd=Passw0rd;App=AFOL" providerName="System.Data.SqlClient"/>
  <add name="DocmConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET;  Initial Catalog=AFOL_Pratiche;   User ID=DocSuite;   Pwd=Passw0rd;App=AFOL" providerName="System.Data.SqlClient"/>
  <add name="ReslConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET;  Initial Catalog=AFOL_Atti;         User ID=DocSuite;   Pwd=Passw0rd;;App=AFOL" providerName="System.Data.SqlClient"/>-->
  <!-- AUSL-RE (SRVGEDDEV9999) -->
  <!--<add name="ProtConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET;  Initial Catalog=AUSLRE_Protocollo;   User ID=DocSuite;   Pwd=Passw0rd" providerName="System.Data.SqlClient" />
  <add name="DocmConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET;  Initial Catalog=AUSLRE_Pratiche;   User ID=DocSuite;   Pwd=Passw0rd" providerName="System.Data.SqlClient" />
  <add name="ReslConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET;  Initial Catalog=AUSLRE_Atti;   User ID=DocSuite;   Pwd=Passw0rd" providerName="System.Data.SqlClient" />-->
  <!-- AUSL-TO (SRVGEDDEV9999) -->
  <add name="ProtConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET; Initial Catalog=ASLTO_Protocollo;  User ID=DocSuite; Pwd=Passw0rd;" providerName="System.Data.SqlClient" />
  <add name="DocmConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET;Initial Catalog=ASLTO_Pratiche;   User ID=DocSuite;Pwd=Passw0rd;" providerName="System.Data.SqlClient"/>
  <add name="ReslConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET; Initial Catalog=ASLTO_Atti;       User ID=DocSuite; Pwd=Passw0rd;" providerName="System.Data.SqlClient" />
  <!-- AUSL-PC (SRVGEDDEV9999) --> 
  <!--<add name="ProtConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET; Initial Catalog=AUSLPC_Protocollo;  User ID=DocSuite; Pwd=Passw0rd;" providerName="System.Data.SqlClient" />
  <add name="DocmConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET;Initial Catalog=AUSLPC_Pratiche;   User ID=DocSuite;Pwd=Passw0rd;" providerName="System.Data.SqlClient"/>
  <add name="ReslConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET; Initial Catalog=AUSLPC_Atti;       User ID=DocSuite; Pwd=Passw0rd;" providerName="System.Data.SqlClient" />-->
  <!-- ***REMOVED*** (SRVGEDDEV9999) -->
  <!--<add name="ProtConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET;Initial Catalog=***REMOVED***_Protocollo;     User ID=DocSuite;Pwd=Passw0rd;" providerName="System.Data.SqlClient"/>
  <add name="DocmConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET;Initial Catalog=***REMOVED***_Pratiche;     User ID=DocSuite;Pwd=Passw0rd;" providerName="System.Data.SqlClient"/>-->
  <!-- DocSuite ENPACL -->
  <!--<add name="ProtConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET;Initial Catalog=ENPACL_Protocollo; User ID=DocSuite;Pwd=Passw0rd;" providerName="System.Data.SqlClient"/>
  <add name="DocmConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET;Initial Catalog=ENPACL_Pratiche;   User ID=DocSuite;Pwd=Passw0rd;" providerName="System.Data.SqlClient"/>-->

  <!-- AZFT (SRVGEDDEV9999) -->
  <!--<add name="ProtConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET;  Initial Catalog=AZFT_Protocollo;   User ID=DocSuite;   Pwd=Passw0rd;" providerName="System.Data.SqlClient"/>
  <add name="DocmConnection" connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET;  Initial Catalog=AZFT_Pratiche;   User ID=DocSuite;   Pwd=Passw0rd;" providerName="System.Data.SqlClient"/>-->

</connectionStrings>