<appSettings>
  <add key="CustomInstanceName" value="" />
  <add key="log4net" value="true" />
  <!-- Abilita Debug log4net -->
  <add key="log4net.Internal.Debug" value="false" />

  <!-- NHProf -->
  <add key="rhino" value="true" />
  <add key="limilabs" value="false" />

  <add key="LocalServerWorkgroup" value="WorkgroupName" />

  <!-- Active Directory -->
  <add key="DomainPath" value="LDAP" />

  <add key="DocSuiteWeb.Biblos.DisableInnerConversion" value="True" />
  <add key="DocSuiteWeb.Biblos.DisableCloneDocument" value="False" />
  <add key="DocSuiteWeb.Biblos.CheckIsAliveEnabled" value="True" />
  <add key="DocSuiteWeb.Biblos.CheckIsAliveTimer" value="10" />
  <add key="DocSuiteWeb.Biblos.LatestVersionWorkaround" value="False" />
  <add key="DocSuiteWeb.Biblos.AttributesPour" value="False" />
  <add key="DocSuiteWeb.Biblos.SkipEmptyDataTime" value="False" />
  
  <add key="DocSuite.BiblosDSConv.BiblosdSConv" value="http://geddevsc.northeurope.cloudapp.azure.com/StampaConforme/BiblosDSConv.asmx" />
  <add key="DocSuiteWeb.Biblos.URI" value="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/Documents.svc" />
  <add key="DocSuiteWeb.ContentSearch.URI" value="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/ContentSearch.svc" />

  <add key="Signer.Infocert.ProxySign" value="https://testdev.proxysign.it" />
  <add key="Signer.Aruba.Actalis" value="https://arss.demo.firma-automatica.it/ArubaSignService/ArubaSignService" />

  <add key="PageCompression" value="1" />
  <add key="DocSuiteWeb.SP.PublishToSharepoint" value="http://win2003hv:99/PublishToSharepoint.asmx" />
  <add key="DocSuite.PEC.Segnature" value="\\sviluppo\SHARE\Config\Segnatura.dtd" />

  <!--Web Service WebPublication AUSLPC-->
  <add key="DocSuiteWeb.WebPublicationAUSLPC" value="" />
  <add key="DocSuite.ProductName" value="DocSuite" />

  <!-- Embedded Skins and Scripts -->
  <add key="Telerik.Skin" value="Office2007" />
  <add key="Telerik.EnableEmbeddedSkins" value="true" />
  <add key="Telerik.EnableEmbeddedBaseStylesheet" value="true" />
  <add key="Telerik.EnableEmbeddedScripts" value="true" />
  <add key="Telerik.Web.UI.ScriptFolders" value="~/js/;" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="5F3FCD0A2729C7591F3D85C83C31611BF3C867C2926E07A098F1C2EAB93A1A4B47E8E7546AFA96384EECD566B9C5632039B98C99689327D8B81E79A58FACFEF0"/>
  <add key="Telerik.Upload.ConfigurationHashKey" value="4C7BD2D96EAC32DEAD164CA2D1B943C53F37D5EA6299B62B5F79671499DAA51F4C6AA80D0E99253D447F7D252D1950AF27DC9BAE150CD23126D2865FF8EC3414"/>
  <add key="Telerik.Upload.AllowedCustomMetaDataTypes" value="Telerik.Web.UI.AsyncUploadConfiguration" />
    
  <add key="DocSuite.Default.ODATA.Finder.TopQuery" value="100" />

</appSettings>