<appSettings>
	<add key="CustomInstanceName" value="" />
	<add key="PasswordEncryptionKey" value="" />
	<add key="log4net" value="true" />
	<!-- Abilita Debug log4net -->
	<add key="log4net.Internal.Debug" value="false" />

	<!-- NHProf -->
	<add key="rhino" value="true" />

	<add key="DocSuiteWeb.Biblos.DisableInnerConversion" value="True" />
	<add key="DocSuiteWeb.Biblos.DisableCloneDocument" value="False" />
	<add key="DocSuiteWeb.Biblos.CheckIsAliveEnabled" value="True" />
	<add key="DocSuiteWeb.Biblos.CheckIsAliveTimer" value="10" />
	<add key="DocSuiteWeb.Biblos.LatestVersionWorkaround" value="False" />
	<add key="DocSuiteWeb.Biblos.AttributesPour" value="False" />
	<add key="DocSuiteWeb.Biblos.SkipEmptyDataTime" value="False" />

	<add key="DocSuite.BiblosDSConv.BiblosdSConv" value="http://localhost/StampaConforme/BiblosDSConv.asmx" />
	<add key="DocSuiteWeb.Biblos.URI" value="http://localhost/BiblosDS2010WCF/Documents.svc" />
	<add key="DocSuiteWeb.ContentSearch.URI" value="http://localhost/BiblosDS2010WCF/ContentSearch.svc" />

	<add key="DocSuiteNext.DocumentProxy.GrpcEndpoint" value="" />
	<add key="DocSuiteNext.DocumentProxy.IdentityAccount" value="" />
	<add key="DocSuiteNext.DocumentProxy.IdentityUniqueId" value="" />

	<add key="Signer.Infocert.ProxySign" value="https://testdev.proxysign.it" />
	<add key="Signer.Aruba.Actalis" value="https://arss.demo.firma-automatica.it/ArubaSignService/ArubaSignService" />
	<add key="Signer.Dgroove.DgrooveSigner" value="http://localhost:42101/signer" />

	<add key="PageCompression" value="1" />
	<add key="DocSuite.PEC.Segnature" value="C:\inetpub\wwwroot\docsuite\Segnatura.dtd" />

	<!--Web Service WebPublication AUSLPC-->
	<add key="DocSuiteWeb.WebPublicationAUSLPC" value="" />
	<add key="DocSuite.ProductName" value="DocSuite" />

	<!-- Embedded Skins and Scripts -->
	<add key="Telerik.Skin" value="Office2007" />
	<add key="Telerik.EnableEmbeddedSkins" value="true" />
	<add key="Telerik.EnableEmbeddedBaseStylesheet" value="true" />
	<add key="Telerik.EnableEmbeddedScripts" value="true" />
	<add key="Telerik.Web.UI.ScriptFolders" value="~/js/;" />
	<add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
	<add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
	<add key="Telerik.AsyncUpload.ConfigurationEncryptionKey" value="encriptionkey"/>
	<add key="Telerik.Upload.ConfigurationHashKey" value="encriptionkey"/>
	<add key="Telerik.Upload.AllowedCustomMetaDataTypes" value="Telerik.Web.UI.AsyncUploadConfiguration" />

	<add key="DocSuite.Default.ODATA.Finder.TopQuery" value="100" />

</appSettings>