<services>
  <service behaviorConfiguration="BiblosDS.WCF.StampaConforme.Converter.StampaConformeConverterBehavior" name="BiblosDS.WCF.StampaConforme.Converter.StampaConformeConverter">
    <endpoint address="http://localhost:800/StampaConformeConverter" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="BiblosDS.WCF.Interface.IStampaConformeConverter">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
  </service>
</services>