<connectionStrings>
  <clear />
  <add connectionString="Data Source=.;Initial Catalog=AUSLRE_Protocollo;persist security info=True;MultipleActiveResultSets=True;Max Pool Size=1024;user id=DocSuite;password=.;Application Name=DSW.PrivateWebAPI" name="DSWDataContext" providerName="System.Data.SqlClient" />
</connectionStrings>