<connectionStrings>
  <clear />
  <add connectionString="Data Source=.;Initial Catalog=ASLTO_Protocollo;persist security info=True;MultipleActiveResultSets=True;Max Pool Size=1024;user id=sa;password=Passw0rd;Application Name=DSW.PrivateWebAPI" name="DSWDataContext" providerName="System.Data.SqlClient" />
</connectionStrings>