<connectionStrings>
  <clear />
  <add connectionString="Data Source=localhost;Initial Catalog=AUSLRE_Protocollo;persist security info=True;MultipleActiveResultSets=True;Max Pool Size=1024;User ID=utente;password=Passw0rd;Application Name=DSW.PrivateWebAPI" name="DSWDataContext" providerName="System.Data.SqlClient" />
</connectionStrings>