<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="App_BrowsersUpdate" version="1.0" targetFramework="net461" />
  <package id="FluentMigrator" version="1.6.1" targetFramework="net461" />
  <package id="FluentMigrator.Runner" version="1.6.1" targetFramework="net461" />
  <package id="Google.Apis" version="1.32.2" targetFramework="net461" />
  <package id="Google.Apis.AnalyticsReporting.v4" version="1.32.2.1169" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.32.2" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.32.2" targetFramework="net461" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net461" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.94.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="Telerik.Web.UI" version="2014.2.618.40" targetFramework="net461" />
  <package id="VecompSoftware.Helpers" version="8.26.16125.4" targetFramework="net461" />
  <package id="VecompSoftware.Helpers.Web" version="8.26.16125.4" targetFramework="net461" />
  <package id="VecompSoftware.Services.Logging" version="8.26.16125.4" targetFramework="net461" />
</packages>