<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx" redirectMode="ResponseRedirect" />
    <compilation debug="true" targetFramework="4.6.1" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="Document" type="AmministrazioneTrasparente.Document" verb="*" />
      <add path="Annexed" type="AmministrazioneTrasparente.Annexed" verb="*" />
    </httpHandlers>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="it-IT" uiCulture="it-IT" />
    <authentication mode="Forms">
      <forms defaultUrl="~/Admin/Default.aspx" loginUrl="~/Admin/Login.aspx" timeout="2880" />
    </authentication>
  </system.web>
  <connectionStrings>
    <add name="AmmTraspLite" connectionString="Data Source=|DataDirectory|amministrazioneTrasparente.db" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="log4net" value="true" />
    <add key="URLRegex" value="(?&lt;Protocol&gt;\w+):\/\/(?&lt;Domain&gt;[\w@][\w.:@]+)\/?[\w\.?=%&amp;=\-@/$,]*" />
    <!-- Il parametro è composto da una sequenza di URL riconosciuti come interni e una sequenza di URL riconosciuti come esterni -->
    <!-- Se è presente un link tra i definiti allora questo viene adeguato alla navigazione corrente in modo da poter essere navigato -->
    <!-- Sintassi: url_interno_1;url_interno_2;url_interno_3;|url_esterno_1;url_esterno_2;url_esterno_3 -->
    <add key="LocalUrlRewriteCondition" value="http://localhost/AmministrazioneTrasparente;http://sviluppo/amministrazionetrasparente|http://pcfabbri1720/AmministrazioneTrasparente;http://sviluppoalias" />
    <!-- Il parametro è composto da una sequenza di match regex e corrispettive trasformazioni per link generici -->
    <!-- Se viene trovato un link del tipo cercato allora viene sostituito con quello proposto dal match -->
    <!-- Sintassi: url_to_match_1|url_to_write_1;url_to_match_2|url_to_write_2;url_to_match_2|url_to_write_2 -->
    <add key="UrlRewriterDictionary" value="http://www.google.it*|http://www.google.com" />
    <add key="WebServiceURI" value="http://srvgeddev9999.cloudapp.net/DSW.WSSeries/wsseries.svc" />
    <add key="ImpersonatingUser" value="vecompsoftware\developer" />
    <add key="ElementForPage" value="10" />
    <add key="DynamicColumnsInGrid" value="False" />
    <add key="ShowPriorityGrid" value="true" />
    <add key="DynamicColumnsInPriorityGrid" value="False" />
    <add key="SkipSingleSeriesList" value="True" />
    <add key="ContactMail" value="info@pec.ausl.re.it" />
    <add key="LogoLink" value="http://www.vecompsoftware.it" />
    <!-- Tempo di Cache in minuti-->
    <add key="CacheExpiration" value="60" />
    <!-- Embedded Skins and Scripts -->
    <add key="Telerik.Skin" value="Metro" />
    <add key="Telerik.EnableEmbeddedSkins" value="true" />
    <add key="Telerik.EnableEmbeddedBaseStylesheet" value="true" />
    <add key="Telerik.EnableEmbeddedScripts" value="true" />
    <add key="AVCP.UrlMask" value="http://localhost/AmministrazioneTrasparente/AvcpDocument?idSeriesitem={0}" />
    <add key="AVCP.UrlFileMask" value="http://localhost/AmministrazioneTrasparente/AvcpIndex?idSeries={0}" />
    <add key="AVCP.Titolo" value="Indice Pubblicazione" />
    <add key="AVCP.EntePubblicatore" value="Vecomp Software S.r.l." />
    <add key="AVCP.AnnoRiferimento" value="2013" />
    <add key="FamiliesToHide" value="|AVCP|" />
    <add key="AVCPDocumentSeriesId" value="2009" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpStreamedBinding" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpEndpoint" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/DSW.WSSeries/wsseries.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="WSSeries.IWSSeries" name="WSSeriesEndpoint" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="AT_Document" path="Document" type="AmministrazioneTrasparente.Document" verb="*" />
      <add name="AT_Annexed" path="Annexed" type="AmministrazioneTrasparente.Annexed" verb="*" />
      <add name="AVCP_Document" path="AvcpDocument" type="AmministrazioneTrasparente.AvcpDocument" verb="*" />
      <add name="AVCP_Index" path="AvcpIndex" type="AmministrazioneTrasparente.AvcpIndex" verb="*" />
      <add name="AT_FileDocument" path="FileDocument" type="AmministrazioneTrasparente.FileDocument" verb="*" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2014.2.724.40" newVersion="2014.2.724.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VecompSoftware.Helpers" publicKeyToken="bea6ad8812d06015" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.26.0.0" newVersion="8.26.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>