<appSettings>
  <add key="DeleteFile" value="false" />
  <add key="CacheDir" value="D:\StampaConformeCache" />
  <add key="LabelPosizioneXY" value="10, 5" />
  <add key="ScalePercent" value="96" />
  <add key="OpenOfficeExtension" value=".htm,.html,.xlsm,.ppt,.pptx,.xls" />
  <add key="TifExtension" value=".tif,.tiff,.xml" />
  <add key="ConvertTiffAsPdf" value="true" />
  <add key="RedirectExtension" value=".doc,.mht,.mhtml,.docx,.docm,.rtf,.msg,.eml,.odt,.xlsx" />
  <add key="RedirectConvertWsUrl" value="net.tcp://localhost:800/StampaConformeConverter" />
  <add key="RedirectConvertOpenOfficeWsUrl" value="net.tcp://localhost:801/StampaConformeConverter" />
  <add key="DefaultBoxConfig" value="{ X: 10, Y: 100, DrawingPageNumber: 1, BackgroundColor: &quot;#FFFFFF&quot;, BorderWidth: 1, BorderColor: &quot;#000000&quot;, Opacity: 1.5 }" />
  <add key="DefaultBoxLineConfig" value="{ TrueFalseBox: true, ForeColor: &quot;#000000&quot;, FontSize: 8, Width: 10, Height: 10, Spacing: 5 }" />
  <add key="DefaultAttachConversionMode" value="2" />
  <add key="CompliantPrinting.EnableUnethicalReading" value="true" />
  <add key="Reporting.SignContentReport.Heading" value="" />
  <add key="IdSecureDocumentService" value="" />
  <add key="SecureDocumentServiceCertificateThumbprint" value="" />
</appSettings>