<bindings>
  <basicHttpBinding>
    <binding name="BasicHttpStreamedBinding" maxBufferSize="2147483647"
      maxReceivedMessageSize="2147483647" transferMode="Streamed">
      <readerQuotas maxDepth="128" maxStringContentLength="2147483647"
        maxArrayLength="2147483647" />
      <security mode="None" />
    </binding>
  </basicHttpBinding>
  <netNamedPipeBinding>
    <binding name="NetNamedPipeStreamedBinding" transferMode="Streamed"
      maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
      <readerQuotas maxDepth="128" maxStringContentLength="2147483647"
        maxArrayLength="2147483647" />
      <security mode="None" />
    </binding>
    <binding name="ServiceDigitalSign" transferMode="Streamed" />
  </netNamedPipeBinding>
  <netTcpBinding>
    <binding name="NetTcpBufferedBinding" maxBufferSize="2147483647"
      maxReceivedMessageSize="2147483647">
      <readerQuotas maxDepth="128" maxStringContentLength="2147483647"
        maxArrayLength="2147483647" />
      <security mode="None" />
    </binding>
    <binding name="NetTcpStreamedBinding" transferMode="Streamed"
      maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
      <readerQuotas maxDepth="128" maxStringContentLength="2147483647"
        maxArrayLength="2147483647" />
      <security mode="None" />
    </binding>
    <binding name="ServiceDocument" transferMode="Streamed">
      <security mode="None" />
    </binding>
    <binding name="NetTcpBinding_IServicePreservation">
      <security mode="None" />
    </binding>
  </netTcpBinding>
  <wsHttpBinding>
    <binding name="Design_http" />
  </wsHttpBinding>
</bindings>