<behaviors>
  <serviceBehaviors>
    <behavior name="MetadataServiceBehavior">
      <serviceMetadata httpGetEnabled="True"/>
      <dataContractSerializer maxItemsInObjectGraph="2147483647" />
      <serviceDebug includeExceptionDetailInFaults="True"/>
    </behavior>
    <behavior name="ServiceBehavior">
      <serviceMetadata httpGetEnabled="False"/>
      <dataContractSerializer maxItemsInObjectGraph="2147483647" />
      <serviceDebug includeExceptionDetailInFaults="True"/>
    </behavior>
  </serviceBehaviors>
  <endpointBehaviors>
    <behavior name="EndpointBehaviors">
      <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
    </behavior>
  </endpointBehaviors>
</behaviors>