<client>
  <endpoint address="net.pipe://localhost/ServiceDocument/"
            binding="netNamedPipeBinding"
            bindingConfiguration="NetNamedPipeStreamedBinding"
            contract="ServiceReferenceDocument.IServiceDocument"
            name="ServiceDocument" />
  <!--<endpoint address="net.pipe://localhost/ServiceDocumentStorage/"
            binding="netNamedPipeBinding"
            bindingConfiguration="NetNamedPipeStreamedBinding"
            contract="ServiceReferenceStorage.IServiceDocumentStorage"
            name="ServiceDocumentStorage" />-->
  <endpoint address="net.tcp://localhost:8086" binding="netTcpBinding" bindingConfiguration="NetTcpStreamedBinding" contract="ServiceReferenceStorage.IServiceDocumentStorage" name="ServiceDocumentStorage" />
</client>
<!--<client>
  <endpoint address="net.pipe://localhost/ServiceDocument/" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeStreamedBinding" contract="ServiceReferenceDocument.IServiceDocument" name="ServiceDocument" />
  -->
<!--<endpoint address="net.tcp://localhost:9085" binding="netTcpBinding" bindingConfiguration="NetTcpStreamedBinding" contract="ServiceReferenceDocument.IServiceDocument" name="ServiceDocument" />-->
<!--
  <endpoint address="net.tcp://localhost:9086" binding="netTcpBinding" bindingConfiguration="NetTcpStreamedBinding" contract="ServiceReferenceStorage.IServiceDocumentStorage" name="ServiceDocumentStorage" />
  <endpoint address="net.tcp://localhost:9087" binding="netTcpBinding" bindingConfiguration="NetTcpStreamedBinding" contract="ServiceReferenceDigitalSign.IServiceDigitalSign" name="ServiceDigitalSign" />
</client>-->