<services>
  <service behaviorConfiguration="ServiceBehavior" name="Administration">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Documents.IAdministration" />
  </service>
  <service behaviorConfiguration="ServiceBehavior" name="Log">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Logs.ILog" />
  </service>
  <service behaviorConfiguration="MetadataServiceBehavior" name="ContentSearch">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Documents.IContentSearch" />
  </service>
  <service behaviorConfiguration="ServiceBehavior" name="DigitalSignature">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Signs.IServiceDigitalSign" />
  </service>
  <service behaviorConfiguration="MetadataServiceBehavior" name="Documents">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Documents.IDocuments" />
  </service>
  <service behaviorConfiguration="ServiceBehavior" name="Preservation">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Preservations.IPreservation" />
  </service>
  <service behaviorConfiguration="ServiceBehavior" name="Transit">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Documents.ITransit" />
  </service>
  <service behaviorConfiguration="ServiceBehavior" name="PreservationAdministration">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Preservations.IPreservationAdministration" />
  </service>
</services>