<appSettings>
  <add key="ServerName" value=".FullProxy" />
  <add key="PathCache" value="C:\BiblosDs" />
  <add key="BoblosDSConvWs.BiblosDSConv" value="" />
  <add key="BiblosDSConvWsUrl" value="" />
  <add key="VerifyDocumentMainDate" value="true" />
  <add key="AllowZeroByteDocument" value="true" />
  <add key="PreservationAutoClose" value="true" />
  <!--<add key="BiblosDS" value="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cs5lgricdl.database.windows.net;initial catalog=DEV-BIBLOSDS;user id=TioAdmin@cs5lgricdl;password=Passw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;"/>-->
  <add key="BoblosDSConvWs.BiblosDSConv" value="" />
  <add key="JournalEnabled" value="false" />
</appSettings>