<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ArubaSignServicePortBinding" messageEncoding="Mtom">
                    <security mode="Transport" />
                </binding>
                <binding name="ArubaSignServicePortBinding1" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://arss-land.actalis.it:443/ArubaSignService/ArubaSignService"
                binding="basicHttpBinding" bindingConfiguration="ArubaSignServicePortBinding"
                contract="Aruba.ArubaSignService" name="ArubaSignServicePort" />
        </client>
    </system.serviceModel>
</configuration>