/* --------------------- LOGO HEIGHT AND WIDTH -----------------*/
h1.logo,          
h1.logo a{
  width:300px;   /*width of your logo image*/
  height:80px;    /*height of your logo image*/
}

/*Color*/
#ja-left .ja-colswrap{}
#ja-right .ja-colswrap{}
.ja-megamenu .childcontent-inner-wrap{border-bottom:3px solid #4f9eb8;}

/* .ja-moduletable h3 span, #ja-botsl .ja-moduletable h3 span.h31st, #ja-left .ja-moduletable h3 span.h31st, #ja-container h2 a, h4 span, h4.intro, div.contentheading */
#ja-container a, a, .ja-megamenu a.active span.menu-title, .ja-typo-colswrap h4 span, #ja-container h4.nspHeader a, .ja-moduletable h3 span.h31st,
#ja-mainnav ul.level0 li.haschild-over a.haschild.over, #ja-mainnav ul li a:hover, #ja-cssmenu li.havechildsfhover a, #k2Container a.k2ReadMore, h4 span.green,
div.contentheading span, .li-content a span, #ja-extras a.moduleItemTitle{color:#4f9eb8;}

ul.gkTabs li:hover, ul.gkTabs li.actives {background:#9fb711;} 
.button, .button-clean, #ja-container p.readmore span, #member-registration .validate, .form-validate button, .foxbutton, .acymailing_mootoolsbutton, 
input#submitCommentButton, div.catItemHeader div.catItemDateCreated, div.itemToolbar .itemDateCreated{
  background-color: #6faed8; /* fallback */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6faed8), to(#4f9eb8)); /* Safari 4-5, Chrome 1-9 */
  background: -webkit-linear-gradient(top, #6faed8, #4f9eb8); /* Safari 5.1, Chrome 10+ */
  background: -moz-linear-gradient(top, #6faed8, #4f9eb8); /* Firefox 3.6+ */
  background: -ms-linear-gradient(top, #6faed8, #4f9eb8); /* IE 10 */
  background: -o-linear-gradient(top, #6faed8, #4f9eb8); /* Opera 11.10+ */
  color:#e5e5e5;
}
#k2Container .k2ReadMore{background:none;}

.button:hover, .button-clean:hover, #ja-container p.readmore a:hover span, #member-registration .validate:hover, .form-validate button:hover, .foxbutton:hover, 
input#submitCommentButton:hover, .selecterBtns li a.active{
  background-color: #4f9eb8; /* fallback */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f9eb8), to(#6faed8)); /* Safari 4-5, Chrome 1-9 */
  background: -webkit-linear-gradient(top, #4f9eb8, #6faed8); /* Safari 5.1, Chrome 10+ */
  background: -moz-linear-gradient(top, #4f9eb8, #6faed8); /* Firefox 3.6+ */
  background: -ms-linear-gradient(top, #4f9eb8, #6faed8); /* IE 10 */
  background: -o-linear-gradient(top, #4f9eb8, #6faed8); /* Opera 11.10+ */
  color:#f5f5f5;
}
button.foxbutton span{color:#f5f5f5;}

/* #ja-topsl .main .main-inner1 .ja-moduletable{background:url(../images/v-line.jpg) no-repeat 100% 50%;}
#ja-extras div.ja-moduletable h3, #ja-portfolio div.ja-moduletable h3{background:url(../images/h3line.jpg) repeat-x 0 90%;}
#ja-botsl div.ja-moduletable h3{background:url(../images/h3line.jpg) repeat-x 0 50%;} */

.inputbox, .form-validate input, .login-fields input, .form-validate select, .autarti-table input, input#recaptcha_response_field, #ja-sample .main-inner1,
.foxform input, .foxform textarea, input.validfoxtext, textarea.validfoxtext, input.invalidfoxtext, textarea.invalidfoxtext, select.foxtext, 
select.validfoxtext, select.invalidfoxtext, .foxcheckbox, .validcheckbox, .invalidcheckbox, .outer_dropdown, .foxcheckbox, .gkTabsContainer + ul.butbot{
border:1px solid #a7cedb; background:#ffffff;}

.gkTabsWrap.vertical ul li:hover,
.gkTabsWrap.vertical ul li.active,
.gkTabsWrap.horizontal ul li:hover,
.gkTabsWrap.horizontal ul li.active {
  color: #fff;
  background: #6faed8
}

div.ja-moduletable h3, .b4tab{background:url(../images/h3line.jpg) repeat-x 0 43%;}
#ja-megamenu  {background:url(../images/menubg.png) repeat-x 0 60%;}


/* FONT FAMILY ---*/
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on June 22, 2012 09:17:43 PM America/New_York */
@font-face {
    font-family: 'CartoGothicStdBook';
    src: url('../fonts/CartoGothicStd-Book-webfont.eot');
    src: url('../fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
         url('../fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'),
         url('../fonts/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}


.itemListCategory h2, h2.itemTitle, h3.catItemTitle, h2.tagItemTitle, .userBlockPadding h2, h3.userItemTitle, .itemCommentsForm h3, h3.itemCommentsCounter, h3.itemAuthorName{
  font-weight: normal;
  font-family:'BebasNeueRegular';
}

body#bd, 
h1, h2, h3, h4, h5, h6, 
.moduletable h3, .moduletable-blocks h3, .moduletable-clean h3, .moduletable-portfolio h3, #itemListLinks h3,
.inputbox, #ja-botsl h3 span{font-weight: normal; font-family: 'CartoGothicStdBook';}


/* Font-Size ---*/
h1{font-size:36px;}
h2, h2.itemTitle, #ja-container h1.contentheading, .contentheading, h3.catItemTitle{font-size: 30px;}
#ja-container h2.contentheading{font-size: 16px;}
h3, #ja-topsl div.ja-moduletable h3, #ja-promo .text h3, .subCategory h2, h2.genericItemTitle{font-size: 21px;}
h4, .feed h4, .items-more h3, div.categories-list ul li .jitem-title{font-size:16px;}
h5, #ja-botsl div.ja-moduletable h3, div.categories-list ul li li .jitem-title, h1.componentheading, .componentheading, .feed h5, .cat-children h3, .itemListSubCategories h3{font-size:14px;}
h6, ul.gkTabs li {font-size:12px;}

#ja-intro h2{font-size:42px;}
body#bd, h4.nspHeader, #ja-mainnav ul li, .button, .inputbox, .form-validate button, .form-validate input, .login-fields input, .form-validate select, #member-registration .validate, #itemListLinks h3{font-size: 13px;}
#ja-botsl, p.site-slogan, .pagination{font-size:12px;}
#ja-footer,  #ja-navhelper, .article-tools dl.article-info, div.bannergroup_text div.bannerfooter a, p.modifydate{font-size:11px;}
.item-title {font-size: 110%;}
dt.result-title{font-size:15px;}

/* Animated CSS ---*/
div.boxplus-slider img:hover, .item-page img:hover, .items-leading img:hover, .items-row img:hover, span.catItemImage img:hover, span.itemImage img:hover, span.userItemImage img:hover, a.subCategoryImage img:hover{opacity:0.9;}
img.nspImage, div.boxplus-slider img, #ja-mainnav ul li a, .item-page img, .items-leading img, .items-row img, .button, #member-registration .validate, .form-validate button, .foxform input, .foxform textarea, input.validfoxtext, textarea.validfoxtext, 
input.invalidfoxtext, textarea.invalidfoxtext, select.foxtext, select.validfoxtext, select.invalidfoxtext, .foxcheckbox, .foxbutton, .validcheckbox, .invalidcheckbox, .outer_dropdown, .foxcheckbox, #ja-botsl .inputbox, .inputbox, .form-validate input, 
.login-fields input, .form-validate select, .autarti-table input, input#recaptcha_response_field, span.catItemImage img, span.itemImage img, span.genericItemImage img, span.userItemImage img, a.subCategoryImage img, .nspArtPage .nspArt,
#k2Container .k2ReadMore, .linkedin, .fb, .tweet, .vimeo, .rss, .skype, ul.gkTabs li:hover, .pagination ul li:hover, ul.pagenav li:hover, .k2ItemsBlock.service ul li .li-content, div.gkTabsItem .nspArt h4.nspHeader {
  opacity:1.0;      
  -moz-transition: all 0.4s ease; /* FF3.7+ */
  -o-transition: all 0.4s ease; /* Opera 10.5 */
  -webkit-transition: all 0.4s ease; /* Saf3.2+, Chrome */
    transition: all 0.4s ease;
}
.gkTabsItem .from-top, .gkTabsItem .from-left{      
  -moz-transition: all 0.5s ease 0.6s; /* FF3.7+ */
  -o-transition: all 0.5s ease 0.6s; /* Opera 10.5 */
  -webkit-transition: all 0.5s ease 0.6s; /* Saf3.2+, Chrome */
    transition: all 0.5s ease 0.6s;
}
.gkTabsItem .welcome img , .gkTabsItem .welcome span {      
  -moz-transition: all 0.4s ease 1.5s; /* FF3.7+ */
  -o-transition: all 0.4s ease 1.5s; /* Opera 10.5 */
  -webkit-transition: all 0.4s ease 1.5s; /* Saf3.2+, Chrome */
    transition: all 0.4s ease 1.5s;
}