<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BiblosDSConvSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://geddevsc.northeurope.cloudapp.azure.com/StampaConforme/BiblosDSConv.asmx"
                binding="basicHttpBinding" bindingConfiguration="BiblosDSConvSoap"
                contract="StampaConforme.BiblosDSConvSoap" name="BiblosDSConvSoap" />
        </client>
    </system.serviceModel>
</configuration>