<client>

  <!-- SVILUPPO: BIBLOS -->
  <endpoint address="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/ContentSearch.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding"
            contract="ContentSearchService.IContentSearch" behaviorConfiguration="ContentSearchBehavior" name="Biblos.ContentSearch" />

  <endpoint address="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/Documents.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding"
          contract="DocumentsService.IDocuments" name="Biblos.Documents" />

  <!-- SRVBIBLOS: STAMPA CONFORME DOCSUITEWEB -->
  <endpoint address="http://geddevsc.northeurope.cloudapp.azure.com/StampaConforme/BiblosDSConv.asmx"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding"
          contract="StampaConformeService.BiblosDSConvSoap" name="Biblos.StampaConforme" />

  <!-- WEB SERVICE ESTERNI -->
  <endpoint address="http://win2003hv:99/PublishToSharepoint.asmx" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingCfg" contract="SHP.PublishToSharepointSoap" name="PublishToSharepointSoapEndpoint" />
  <endpoint address="http://sviluppo/AUSLPCPUBBLICAZIONE/WebService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingCfg" contract="WPAUSLPC.IWebService" name="WebPublicationAUSLPCEndpoint" />

  <!-- Endpoint API e OChart -->
  <endpoint address="http://localhost/DSW.API/OChartService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding"
        contract="OChartService.IOChartService" name="VecompSoftware.DocSuiteWeb.API.OChartService" />
  
  <endpoint address="http://localhost/DSW.API/APIService.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding"
      contract="APIService.IAPIService" name="VecompSoftware.DocSuiteWeb.API.APIService" />

  <endpoint address="https://arss-land.actalis.it:443/ArubaSignService/ArubaSignService"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ArubaSignService"
      contract="Aruba.ArubaSignService" name="ArubaSignServicePort" />
</client>
