
@{
    ViewBag.Title = "Lista conservazioni da chiudere";
}

@section featured {
    <hgroup class="title">
        <h1><span class="fas fa-list-ul" style="font-size: 32px; margin-right: 10px;"></span>@ViewBag.Title</h1>
    </hgroup>
}

<div style="padding:10px 0px 15px 0px;">
    @Html.ActionLink("Ritorna alla firma delle conservazioni da chiudere", "PreservationToClose", "Ipda")
</div>

<div>
    @(Html.Kendo().Grid<BiblosDS.Library.Common.Objects.Preservation>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(o => o.IdArchive)
                    .ClientTemplate("<a href=" + Url.Action("PreservationCheck", "Preservation", new { id = "#=IdPreservation#" }) + " class='k-button'>Stato</a>")
                    .Title(" ");
                columns.Bound(o => o.Archive.Name)
                    .ClientTemplate("<b>#=Archive.Name#</b> dal #=kendo.toString(StartDate, 'dd/MM/yyyy')# al #=kendo.toString(EndDate, 'dd/MM/yyyy')#")
                    .Title("Conservazione");
                columns.Bound(o => o.IdPreservation)
                    .ClientTemplate("<span id='path_#=IdPreservation#' class='pathLink' onclick=\"selectText('path_#=IdPreservation#');\">#=Path#</span>")
                        .Title("Percorso");
            })
            .DataSource(dataSource => dataSource
                            .Ajax()
                            .Read(read => read.Action("GetPreservationsToClose", "Preservation"))))
</div>
