<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<appSettings>
		<add key=".Log.ConnectionString" value="Server=GUZZODELL; User ID=utente; Password=DocSuite; Database=DSProtocollo;" />
		<!-- prevale su quello su file -->
		<add key="Log.Directory" value="C:\temp" />
		<add key="Log.Level" value="0" />
		<!-- 0 verbose, 1 warning, 2 error -->
		<add key="CacheDir" value="" />
		<!-- estensioni separate da , -->
		<add key="P7M.Extensions" value="doc,xls,htm,html,txt,pdf,tif,tiff" />
		<!-- estensioni separate da , -->
		<add key="TimeOutWaitingPrinterFree" value="600" />
		<!-- decimi di secondo -->
		<add key="OutputPrinter.TIF" value="Microsoft Office Document Image Writer" />
		<add key="OutputPrinter.PDF" value="LEADTOOLS ePrint IV" />
		<add key="TimeOutWaitingOutput" value="600" />
		<!-- decimi di secondo -->
		<add key="TimeOutWaitingEndOfPrint" value="600" />
		<!-- decimi di secondo -->
		<add key="DeleteFile" value="true" />
		<!-- delete file temporanei -->
		<add key="TrapDlgTitle.0" value="Salva con nome" />
		<!-- delete file temporanei -->
		<add key="TrapDlgDelay.0" value="1000" />
		<!-- millesimi -->
		<add key="TrapDlgButtn.0" value="1" />
		<!-- 1=OK 2=IDCANCEL 6=IDYES 7=IDNO -->
		<add key="TrapDlgTitle.1" value="Microsoft Excel" />
		<!-- delete file temporanei -->
		<add key="TrapDlgDelay.1" value="1000" />
		<!-- millesimi -->
		<add key="TrapDlgButtn.1" value="7" />
		<!-- 1=OK 2=IDCANCEL 6=IDYES 7=IDNO -->
		<add key=".TrapDlgTitle.2" value="Stampa" />
		<!-- delete file temporanei -->
		<add key=".TrapDlgDelay.2" value="1000" />
		<!-- millesimi -->
		<add key=".TrapDlgButtn.2" value="1" />
		<!-- 1=OK 2=IDCANCEL 6=IDYES 7=IDNO -->
		<add key="ToStartProgram.#" value="C:\Program Files\Adobe\Acrobat 7.0\Reader\AcroRd32.exe" />
		<add key="ToStopProgram.0" value="DOCPRINTER.EXE" />
		<add key="ToStopProgram.1" value="WINWORD.EXE" />
		<add key="ToStopProgram.2" value="EXCEL.EXE" />
	</appSettings>

	<system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding" receiveTimeout="00:30:00" transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="BiblosDS.WCF.StampaConforme.ServiceStampaConformeBehavior" name="BiblosDS.WCF.StampaConforme.ServiceStampaConforme">
        <endpoint address="net.pipe://localhost/BiblosDS.WCF.StampaConforme/ServiceStampaConforme/" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding" name="ServiceStampaConforme" bindingName="ServiceStampaConforme" bindingNamespace="BiblosDS" contract="BiblosDS.WCF.Interface.IServiceStampaConforme">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="Design_mex" contract="IMetadataExchange" listenUriMode="Explicit">
        </endpoint>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="" name="Design_http" contract="BiblosDS.WCF.Interface.IServiceStampaConforme">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/BiblosDS.WCF.StampaConforme/ServiceStampaConforme/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BiblosDS.WCF.StampaConforme.ServiceStampaConformeBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
