<client>

  <!-- SVILUPPO: BIBLOS -->
  <endpoint address="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/ContentSearch.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding"
            contract="ContentSearchService.IContentSearch" behaviorConfiguration="ContentSearchBehavior" name="Biblos.ContentSearch" />

  <endpoint address="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/Documents.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding"
          contract="DocumentsService.IDocuments" name="Biblos.Documents" />

  <!-- SRVBIBLOS: STAMPA CONFORME DOCSUITEWEB -->
  <endpoint address="http://rmvsw-sc.westeurope.cloudapp.azure.com/StampaConforme2010/BiblosDSConv.asmx"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding"
          contract="StampaConformeService.BiblosDSConvSoap" name="Biblos.StampaConforme" />


</client>

