<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
  <listeners>
    <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\trace.log" footer="" formatter="File Formatter"
      header="" rollInterval="Midnight" maxArchivedFiles="20" traceOutputOptions="DateTime"
      asynchronous="false" />
    <add name="FALCK Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.FALCK.Workflows.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" asynchronous="false" />
    <add name="IP4D Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.***REMOVED***.IP4D.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" asynchronous="false" />
    <add name="ASCON Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.AUSLPC.ASCON.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" asynchronous="false" />
    <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      source="DSW.WebAPI" formatter="Event Formatter" log="" machineName="."
      traceOutputOptions="None" asynchronous="true" />
    <add name="ENavigare Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.***REMOVED***.ENavigare.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="Dematerialisation Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.Dematerialisation.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="ZEN Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.AUSLRE.ZEN.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="SecureDocument Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.SecureDocument.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
  </listeners>
  <formatters>
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, &#xD;&#xA;           Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;&#xA;           &#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;&#xA;           &#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;&#xA;           &#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;&#xA;           &#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
      name="Event Formatter" />
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      template="{timestamp(local)} - {category} - {severity} -&gt; {message}"
      name="File Formatter" />
  </formatters>
  <categorySources>
    <add switchValue="All" name="General">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="Validation">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="UnitOfWork">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="DataContext">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="ServiceEntity">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="ServiceBus">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="ServiceWorkflow">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="WebAPIEntity">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="WebAPIServiceBus">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="WebAPIWorkflow">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="SignalR">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="DocumentContext">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.***REMOVED***.IP4D">
      <listeners>
        <add name="IP4D Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.FALCK.Workflows">
      <listeners>
        <add name="FALCK Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.AUSLPC.ASCON">
      <listeners>
        <add name="ASCON Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.***REMOVED***.ENavigare">
      <listeners>
        <add name="ENavigare Rolling Flat File Trace Listener" />
      </listeners>
    </add> 
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.Dematerialisation">
      <listeners>
        <add name="Dematerialisation Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.AUSLRE.ZEN">
      <listeners>
        <add name="ZEN Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.SecureDocument">
      <listeners>
        <add name="SecureDocument Rolling Flat File Trace Listener" />
      </listeners>
    </add>
  </categorySources>
  <specialSources>
    <allEvents switchValue="All" name="All Events" />
    <notProcessed switchValue="All" name="Unprocessed Category" />
    <errors switchValue="All" name="Logging Errors &amp; Warnings">
      <listeners>
        <add name="Event Log Listener" />
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </errors>
  </specialSources>
</loggingConfiguration>