<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="FileLog" type="log4net.Appender.RollingFileAppender">
		<file value="logs/ApplicationLog.txt"/>
		<appendToFile value="true"/>
		<rollingStyle value="Size"/>
		<maxSizeRollBackups value="10"/>
		<maximumFileSize value="1024KB"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<evaluator type="log4net.Core.LevelEvaluator">
			<threshold value="INFO"/>
		</evaluator>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="DEBUG" />
			<levelMax value="FATAL" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m Postazione: [%property{log4net:HostName}] User: [%property{dswUser}] Url: %property{Url} %ex_data%n"/>
			<converter>
				<name value="ex_data" />
				<type value="VecompSoftware.Services.Logging.ExceptionDataPatternConverter" />
			</converter>
		</layout>
	</appender>
	<appender name="DirectoryService" type="log4net.Appender.RollingFileAppender">
		<file value="logs/DirectoryServiceLog.log"/>
		<appendToFile value="true"/>
		<rollingStyle value="Size"/>
		<maxSizeRollBackups value="10"/>
		<maximumFileSize value="1024KB"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m ThreadUser: %usernamePostazione: %property{log4net:HostName} User: [%property{dswUser}] Url: %property{Url} %ex_data%n"/>
			<converter>
				<name value="ex_data" />
				<type value="VecompSoftware.Services.Logging.ExceptionDataPatternConverter" />
			</converter>
		</layout>
	</appender>
	<appender name="CollLog" type="log4net.Appender.RollingFileAppender">
		<file value="logs/CollLog.log"/>
		<appendToFile value="true"/>
		<rollingStyle value="Size"/>
		<maxSizeRollBackups value="10"/>
		<maximumFileSize value="1024KB"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m ThreadUser: %username Postazione: %property{log4net:HostName} User: [%property{dswUser}] Url: %property{Url}%n"/>
		</layout>
	</appender>
	<appender name="BiblosService" type="log4net.Appender.RollingFileAppender">
		<file value="logs/BiblosService.log"/>
		<appendToFile value="true"/>
		<rollingStyle value="Size"/>
		<maxSizeRollBackups value="10"/>
		<maximumFileSize value="1024KB"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m ThreadUser: %username Postazione: %property{log4net:HostName} User: [%property{dswUser}] Url: %property{Url}%n"/>
		</layout>
	</appender>
	<appender name="SessionLog" type="log4net.Appender.RollingFileAppender">
		<file value="logs/SessionLog.txt"/>
		<appendToFile value="true"/>
		<rollingStyle value="Size"/>
		<maxSizeRollBackups value="10"/>
		<maximumFileSize value="1024KB"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %username %property{log4net:HostName} - User: %property{dswUser} - %c - %m%n"/>
		</layout>
	</appender>
	<appender name="DocSuite.WebAPIClient" type="log4net.Appender.RollingFileAppender">
		<file value="logs/DocSuite.WebAPIClient.txt"/>
		<appendToFile value="true"/>
		<rollingStyle value="Size"/>
		<maxSizeRollBackups value="10"/>
		<maximumFileSize value="1024KB"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<evaluator type="log4net.Core.LevelEvaluator">
			<threshold value="INFO"/>
		</evaluator>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="DEBUG" />
			<levelMax value="FATAL" />
		</filter>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m Postazione: [%property{log4net:HostName}] User: [%property{dswUser}] Url: %property{Url} %ex_data%n"/>
			<converter>
				<name value="ex_data" />
				<type value="VecompSoftware.Services.Logging.ExceptionDataPatternConverter" />
			</converter>
		</layout>
	</appender>

	<appender name="CMVGroup" type="log4net.Appender.RollingFileAppender">
		<file value="logs/CMVGroup.log"/>
		<appendToFile value="true"/>
		<rollingStyle value="Size"/>
		<maxSizeRollBackups value="10"/>
		<maximumFileSize value="4096KB"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m ThreadUser: %usernamePostazione: %property{log4net:HostName} %n"/>
		</layout>
	</appender>

	<appender name="DromedianWeb" type="log4net.Appender.RollingFileAppender">
		<file value="logs/DromedianWeb.log"/>
		<appendToFile value="true"/>
		<rollingStyle value="Size"/>
		<maxSizeRollBackups value="10"/>
		<maximumFileSize value="4096KB"/>
		<staticLogFileName value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m ThreadUser: %usernamePostazione: %property{log4net:HostName} %n"/>
		</layout>
	</appender>

	<root>
		<level value="ALL"/>
	</root>

	<logger name="FileLog" additivity="false">
		<level value="ALL"/>
		<appender-ref ref="FileLog"/>
	</logger>
	<logger name="BiblosServiceLog" additivity="false">
		<level value="ALL"/>
		<appender-ref ref="BiblosService"/>
	</logger>
	<logger name="Biblos.FileLogger" additivity="false">
		<level value="ALL"/>
		<appender-ref ref="BiblosService"/>
	</logger>
	<logger name="StampaConforme.FileLogger" additivity="false">
		<level value="ALL"/>
		<appender-ref ref="BiblosService"/>
	</logger>
	<logger name="Session" additivity="false">
		<level value="ALL"/>
		<appender-ref ref="SessionLog"/>
	</logger>
	<logger name="Collaboration" additivity="false">
		<level value="ALL"/>
		<appender-ref ref="FileLog"/>
	</logger>
	<logger name="CMVGroup" additivity="false">
		<level value="ALL"/>
		<appender-ref ref="CMVGroup"/>
	</logger>
	<logger name="DromedianWeb" additivity="false">
		<level value="ALL"/>
		<appender-ref ref="DromedianWeb"/>
	</logger>
	<logger name="DirectoryServiceLog" additivity="false">
		<level value="ALL"/>
		<appender-ref ref="DirectoryService"/>
	</logger>
	<logger name="DocSuite.WebAPIClient" additivity="false">
		<level value="ALL"/>
		<appender-ref ref="DocSuite.WebAPIClient"/>
	</logger>

</log4net>