<div class="row">
    <div class="col-xs-12">
        <p class="text-justify">
            <abbr title="Sistema Pubblico di Identit&agrave; Digitale" class="initialism">SPID</abbr> &egrave; il sistema di accesso che consente di utilizzare, con un'identit&agrave; digitale unica, 
            i servizi online della Pubblica Amministrazione e dei privati accreditati.<br />
            <abbr title="Federazione degli Enti dell'Emilia-Romagna per l'autenticazione" class="initialism">FedERa</abbr> &egrave; la Federazione degli Enti dell'Emilia-Romagna per l'autenticazione e consente di utilizzare, 
            con un'identit&agrave; digitale unica, i servizi online della Pubblica Amministrazione emiliana romagnola.<br />
            Se sei gi&agrave; in possesso di un'identit&agrave; digitale, accedi con le credenziali del tuo gestore. <br />
            Se non hai ancora un'identit&agrave; digitale, richiedila ad uno dei gestori.
        </p>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-xs-12 col-md-5 col-lg-5 col-sm-5">
        <div><strong><a href="http://www.spid.gov.it" target="_blank">Maggiori informazioni su SPID</a></strong></div>
        <div><strong><a href="http://www.spid.gov.it/richiedi-spid" target="_blank">Non hai SPID?</a></strong></div>
        <div><strong><a href="http://federazione.lepida.it" target="_blank">Maggiori informazioni su FedERa</a></strong></div>
        <div><strong><a href="http://federazione.lepida.it/partecipanti/gestori-delle-identita" target="_blank">Non hai una identit&agrave; FedERa?</a></strong></div>
    </div>
    <div class="col-xs-12 col-md-7 col-lg-7 col-sm-7" style="margin: 0; text-align: center;">
        <app-federa-button></app-federa-button>
    </div>
</div>
<div class="row" style="margin-top: 30px;">
    <div class="text-center">
        <img [src]="agidImage" alt="">
        <img [src]="federaImage" alt="" style="height: 34px; margin-left: 30px;">
    </div>
</div>