<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="FileLog" type="log4net.Appender.RollingFileAppender">
    <file value="logs/ApplicationLog.txt"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/> 
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="INFO"/>
    </evaluator>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m %newlinePostazione: [%property{log4net:HostName}] User: [%property{dswUser}] %newline%ex_data%newline"/>
      <converter>
        <name value="ex_data" />
        <type value="VecompSoftware.Services.Logging.ExceptionDataPatternConverter" />
      </converter>
    </layout>
  </appender>
  <appender name="DirectoryService" type="log4net.Appender.RollingFileAppender"> 
    <file value="logs/DirectoryServiceLog.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m %newlineThreadUser: %username%newlinePostazione: %property{log4net:HostName}%newlineUrl: %property{Url}%newline%ex_data%newline"/>
      <converter>
        <name value="ex_data" />
        <type value="VecompSoftware.Services.Logging.ExceptionDataPatternConverter" />
      </converter>
    </layout>
  </appender>
  <appender name="AVCPFacade" type="log4net.Appender.RollingFileAppender"> 
    <file value="logs/AVCPFacade.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m %newlineThreadUser: %username %newlinePostazione: %property{log4net:HostName} %newlineUrl: %property{Url}%n"/>
    </layout>
  </appender>
  <appender name="CollLog" type="log4net.Appender.RollingFileAppender"> 
    <file value="logs/CollLog.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m %newlineThreadUser: %username %newlinePostazione: %property{log4net:HostName} %newlineUrl: %property{Url}%n"/>
    </layout>
  </appender>
  <appender name="BiblosService" type="log4net.Appender.RollingFileAppender">
    <file value="logs/BiblosService.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m %newlineThreadUser: %username%newlinePostazione: %property{log4net:HostName} %n"/>
    </layout>
  </appender>
  <appender name="SessionLog" type="log4net.Appender.RollingFileAppender">
    <file value="logs/SessionLog.txt"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %username %property{log4net:HostName} - User: %property{dswUser} - %c - %m%n"/>
    </layout>
  </appender>
  <appender name="DocSuite.WebAPIClient" type="log4net.Appender.RollingFileAppender">
    <file value="logs/DocSuite.WebAPIClient.txt"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="INFO"/>
    </evaluator>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m %newlinePostazione: [%property{log4net:HostName}] User: [%property{dswUser}] %newline%ex_data%newline"/>
      <converter>
        <name value="ex_data" />
        <type value="VecompSoftware.Services.Logging.ExceptionDataPatternConverter" />
      </converter>
    </layout>
  </appender>
  
  <appender name="SqlLog" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="100" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=SVILUPPO;Initial Catalog=AUSLProtocollo;User ID=utente;Pwd=;" />
    <commandText value="INSERT INTO Log ([Date],[Thread],[ThreadUser],[LocationUser],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @thread_user, @location_user, @log_level, @logger, @message, @exception)" />
    <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="INFO"/>
    </evaluator>
    <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
    </filter>
    <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout">
            <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff}" />
        </layout>
    </parameter>
    <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%thread" />
        </layout>
    </parameter>
    <parameter>
        <parameterName value="@thread_user" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%username" />
        </layout>
    </parameter>
    <parameter>
        <parameterName value="@location_user" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%property{log4net:HostName}" />
        </layout>
    </parameter>
    <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%level" />
        </layout>
    </parameter>
    <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%logger" />
        </layout>
    </parameter>
    <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message" />
        </layout>
    </parameter>
    <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>
    
  <appender name="ProtocolSearch" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=SVILUPPO;Initial Catalog=AUSLPCProtocollo;User ID=utente;Pwd=;" />
    <commandText value="INSERT INTO log4net_ProtocolSearch ([Username], [Date],[Thread],[Level],[Logger],[Message],[Exception], [Start], [End], [Count], 
                 [Year], [Number], [RegistrationDateFrom], [RegistrationDateTo], [ProtocolNotReaded], [IdType], [IdLocation], [IdContainer],
                 [ProtocolObject], [ProtocolObjectSearch], [DocumentDateFrom], [DocumentDateTo], [DocumentProtocol], [DocumentName], [Note], [Recipient], 
                 [EnableRecipientsContains], [Subject], [ServiceCategory], [Classifications], [IncludeChildClassifications], [ProtocolStatusCancel],
                 [IncludeIncolpete], [ProtocolNoRoles], [RegistrationUser], [IdDocType], [IsClaim], [EnableInvoiceSearch], [InvoiceNumber], [InvoiceDateFrom],
                 [InvoiceDateTo], [AccountingSectional], [AccountingYear], [AccountingNumber], [Contacts], [IncludeChildContacts], [EnablePackageSearch],
                 [PackageOrigin], [Package], [PackageLot], [PackageIncremental], [AdvancedStatus]) 
                 VALUES (@username, @log_date, @thread, @log_level, @logger, @message, @exception, @start, @end, @count, @year, @number, @registrationDateFrom,
                 @registrationDateTo, @protocolNotReaded, @idType, @idLocation, @idContainer, @protocolObject, @protocolObjectSearch, @documentDateFrom, 
                 @documentDateTo, @documentProtocol, @documentName, @Note, @recipient, @enableRecipientsContains, @Subject, @ServiceCategory, @classifications,
                 @includeChildClassifications, @protocolStatusCancel, @includeIncolpete, @protocolNoRoles, @registrationUser, @idDocType, @isClaim,
                 @enableInvoiceSearch, @invoiceNumber, @invoiceDateFrom, @invoiceDateTo, @accountingSectional, @accountingYear, @accountingNumber, 
                 @contacts, @includeChildContacts, @enablePackageSearch, @packageOrigin, @package, @packageLot, @packageIncremental, @advancedStatus)" />

    <parameter>
      <parameterName value="@username" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{DocSuiteWeb.UserConnected}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@start" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ProtocolSearch.Start}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@end" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ProtocolSearch.End}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@count" />
      <dbType value="Int32" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ProtocolSearch.Count}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@year" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ProtocolSearch.Year}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@number" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{ProtocolSearch.Number}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@registrationDateFrom" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.RegistrationDateFrom" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@registrationDateTo" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.RegistrationDateTo" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@protocolNotReaded" />
      <dbType value="Int32" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.ProtocolNotReaded" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@idType" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.IdType" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@idLocation" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.IdLocation" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@idContainer" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.IdContainer" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@protocolObject" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.ProtocolObject" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@protocolObjectSearch" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.ProtocolObjectSearch" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@documentDateFrom" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.DocumentDateFrom" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@documentDateTo" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.DocumentDateTo" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@documentProtocol" />
      <dbType value="String" />
      <size value="100" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.DocumentProtocol" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@documentName" />
      <dbType value="String" />
      <size value="150" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.DocumentName" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@note" />
      <dbType value="String" />
      <size value="150" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.Note" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@recipient" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.Recipient" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@enableRecipientsContains" />
      <dbType value="Boolean" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.EnableRecipientsContains" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@subject" />
      <dbType value="String" />
      <size value="150" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.Subject" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@serviceCategory" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.ServiceCategory" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@classifications" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.Classifications" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@includeChildClassifications" />
      <dbType value="Boolean" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.IncludeChildClassifications" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@protocolStatusCancel" />
      <dbType value="Boolean" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.ProtocolStatusCancel" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@includeIncolpete" />
      <dbType value="Boolean" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.IncludeIncolpete" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@protocolNoRoles" />
      <dbType value="Boolean" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.ProtocolNoRoles" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@registrationUser" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.RegistrationUser" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@idDocType" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.IdDocType" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@isClaim" />
      <dbType value="Boolean" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.IsClaim" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@enableInvoiceSearch" />
      <dbType value="Boolean" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.EnableInvoiceSearch" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@invoiceNumber" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.InvoiceNumber" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@invoiceDateFrom" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.InvoiceDateFrom" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@invoiceDateTo" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.InvoiceDateTo" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@accountingSectional" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.AccountingSectional" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@accountingYear" />
      <dbType value="Int32" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.AccountingYear" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@accountingNumber" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.AccountingNumber" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@contacts" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.Contacts" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@includeChildContacts" />
      <dbType value="Boolean" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.IncludeChildContacts" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@enablePackageSearch" />
      <dbType value="Boolean" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.EnablePackageSearch" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@packageOrigin" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.PackageOrigin" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@package" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.Package" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@packageLot" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.PackageLot" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@packageIncremental" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.PackageIncremental" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@advancedStatus" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.RawPropertyLayout">
        <key value="ProtocolSearch.AdvancedStatus" />
      </layout>
    </parameter>
  </appender>
  
  <!--<appender name="SqlLog" type="log4net.Appender.RollingFileAppender">
    <file value="logs/sql.txt"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %username %property{log4net:HostName} %c - %m%n"/>
    </layout>
  </appender>-->
  
  <appender name="WsProtLog" type="log4net.Appender.RollingFileAppender">
    <file value="logs/WsProtLog.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %username %property{log4net:HostName} %c - %m%n"/>
    </layout>
  </appender>

  <appender name="CMVGroup" type="log4net.Appender.RollingFileAppender">
    <file value="logs/CMVGroup.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="4096KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m %newlineThreadUser: %username%newlinePostazione: %property{log4net:HostName} %n"/>
    </layout>
  </appender>

  <root>
    <level value="ALL"/>
  </root>
  
  <logger name="FileLog" additivity="false">
    <level value="ALL"/>
    <!--<appender-ref ref="SqlLog"/>-->
    <appender-ref ref="FileLog"/>
  </logger>
  <logger name="BiblosServiceLog" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="BiblosService"/>
  </logger>
  <logger name="Biblos.FileLogger" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="BiblosService"/>
  </logger>
  <logger name="StampaConforme.FileLogger" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="BiblosService"/>
  </logger>
  <logger name="Session" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="SessionLog"/>
  </logger>
  <logger name="Collaboration" additivity="false">
    <level value="ALL"/>
    <!--<appender-ref ref="SqlLog"/>-->
    <appender-ref ref="FileLog"/>
  </logger>
  <logger name="WsProt" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="WsProtLog"/>
  </logger>
  <!--<logger name="ProtocolSearch" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="ProtocolSearch"/>
  </logger>-->
  <logger name="CMVGroup" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="CMVGroup"/>
  </logger>
  <logger name="AVCPFacade" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="AVCPFacade"/>
  </logger>
  <logger name="DirectoryServiceLog" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="DirectoryService"/>
  </logger>
  <logger name="DocSuite.WebAPIClient" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="DocSuite.WebAPIClient"/>
  </logger>
  
</log4net>