<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Lista delle applicazioni disponibili</h3>
    </div>
    <div class="panel-body">
        <div *ngIf="!isBusy" class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let app of applications">
                <app-home-application [currentApplication]="app"></app-home-application>
            </div>
        </div>
        <app-loading [show]="isBusy"></app-loading>
    </div>    
</div>