<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  
  <appender name="Application" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Application.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="1000KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="INFO"/>
    </evaluator>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m %nPostazione: [%property{log4net:HostName}] User: [%property{dswUser}] %n%ex_data %n"/>
      <converter>
        <name value="ex_data" />
        <type value="VecompSoftware.Services.Logging.ExceptionDataPatternConverter" />
      </converter>
    </layout>
  </appender>

  <root>
    <level value="ALL"/>
  </root>

  <logger name="Application" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="Application"/>
  </logger>

</log4net>