<div class="panel panel-danger">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-ban fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <div *ngIf="!isBusy" class="widget-counter">{{requests | deniedRequestsCount}}</div>
                <div class="">Elementi in diniego</div>
            </div>
        </div>
    </div>
    <a routerLink="/le-mie-richieste">
        <div class="panel-footer text-danger">
            <span class="pull-left">Visualizza richieste</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
        </div>
    </a>
</div>