<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogToTrace="true">


  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="defaultTarget" fileName="Log\nlog-all-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=ToString,StackTrace:separator=\r\n}${newline}"
            maxArchiveFiles="10"
            archiveAboveSize="1000000"
            archiveNumbering="Sequence" />

    <target xsi:type="File" name="webTarget" fileName="Log\nlog-web-${shortdate}.log"
            layout="${longdate}|${aspnet-MVC-Controller}/${aspnet-MVC-Action}|${aspnet-Request-Host}|${uppercase:${level}}|${logger}|${message} ${exception:format=ToString,StackTrace:separator=\r\n}${newline}"
            maxArchiveFiles="10"
            archiveAboveSize="1000000"
            archiveNumbering="Sequence" />
  </targets>

  <rules>
    <logger name="General" minlevel="Trace" writeTo="defaultTarget" />
    <logger name="Application" minlevel="Trace" writeTo="webTarget" />
  </rules>
</nlog>