<appSettings>
  <add key="VecompSoftware.Logger.Services.InterceptorEnabled" value="false" />
  <add key="VecompSoftware.Logger.Mappers.InterceptorEnabled" value="false" />
  <add key="VecompSoftware.Logger.Validations.InterceptorEnabled" value="false" />
  <add key="VecompSoftware.DocSuiteWeb.UDS.Assembly.FullName" value="VecompSoftware.DocSuiteWeb.UDS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  <add key="VecompSoftware.DocSuiteWeb.UDS.FileName" value="UDS\VecompSoftware.DocSuiteWeb.UDS.dll" />
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://srvazvsdev.vecompsoftware.local/DocSuiteNamespace;StsEndpoint=https://srvazvsdev.vecompsoftware.local:9355/DocSuiteNamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=JRIjZKohmkbhwBy66XugRrNQve8hMrQyxnS/YmT0xk4=" />
  <add key="VecompSoftware.DocSuiteWeb.Finder.ConfigurationName" value="AUSL" />
  <add key="VecompSoftware.DocSuiteWeb.TenantId" value="1F761813-6086-44F1-A507-99954EA64343" />
  <add key="VecompSoftware.DocSuiteWeb.TenantName" value="AUSL-RE" />
  <!-- VecompSoftware.DocSuiteWeb.Service.Workflow.EngineType può assumere il valore JSON o WorkflowManager -->
  <add key="VecompSoftware.DocSuiteWeb.Service.Workflow.EngineType" value="JSON" />
  <add key="VecompSoftware.DocSuiteWeb.CollaborationLocationId" value="99" />
  <add key="VecompSoftware.DocSuiteWeb.MessageLocationId" value="0" />
  <!-- VecompSoftware.DocSuiteWeb.AllowCrossOrigin può assumere il valore ALL (tutte le oringini client) o RESTRICTED (necessita della gestione del json in App_Data\ConfigurationFiles\WebAPI.Origin.Allow.Lists.json -->
  <add key="VecompSoftware.DocSuiteWeb.AllowCrossOrigin" value="ALL" />
  <!-- VecompSoftware.DocSuiteWeb.Service.Workflow.EngineType può assumere il valore Machine, Domain o ApplicationDirectory  -->
  <add key="VecompSoftware.DocSuiteWeb.Security.ContextType" value="Domain" />
</appSettings>