<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BiblosDS.WCF.Storage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="BiblosDS" connectionString="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srvbiblos;Initial Catalog=DevBiblosDS2010;User ID=DocSuite;Password=DocSuite;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
    <!-- Connessione APH_BiblosDS su SRVBIBLOS -->
    <add name="_BiblosDS" connectionString="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srvbiblos;Initial Catalog=APH_BiblosDS;User ID=DocSuite;Password=DocSuite;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BiblosDS" connectionString="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRVGEDDEV9999.CLOUDAPP.NET;initial catalog=BiblosDS2010;user id=DocSuite;password=Passw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="ServerName" value="srvbiblosFullProxy" />
    <add key="PathCache" value="C:\BiblosDs" />
    <add key="ForceSharePointSecurity" value="true" />
    <add key="SiteGroupsName" value="BiblosDs" />
    <add key="MasterDocumentWsUrl" value="http://{0}:8731/Design_Time_Addresses/BiblosDS.WCF.Documents/ServiceDocument/" />
    <add key="MasterDocumentWsBindignName" value="bindignDocument" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetNamedTcpBinding" receiveTimeout="00:30:00" transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="Design_http" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="163840000" maxBytesPerRead="4096" maxNameTableCharCount="163840000" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8087" binding="netTcpBinding" bindingConfiguration="NetNamedTcpBinding" contract="ServiceReferenceDigitalSigned.IServiceDigitalSign" name="ServiceDigitalSign">
        <identity>
          <userPrincipalName value="TeraVaio\Gianni" />
        </identity>
      </endpoint>     
      <endpoint address="net.tcp://localhost:8085" binding="netTcpBinding" bindingConfiguration="NetNamedTcpBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Documents.IDocuments" name="ServiceDocument">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8086" binding="netTcpBinding" bindingConfiguration="NetNamedTcpBinding" contract="ServiceReferenceStorage.IServiceDocumentStorage" name="ServiceDocumentStorage">
          <identity>
            <dns value="localhost" />
          </identity>
      </endpoint>
    </client>    
    <services>
      <service behaviorConfiguration="BiblosDS.WCF.Storage.ServiceDocumentStorageBehavior" name="BiblosDS.WCF.Storage.ServiceDocumentStorage">
        <endpoint address="net.tcp://localhost:8086" binding="netTcpBinding" bindingConfiguration="NetNamedTcpBinding" name="ServiceDocumentStorage" bindingName="ServiceDocumentStorage" bindingNamespace="BiblosDS" contract="VecompSoftware.ServiceContract.BiblosDS.Documents.IServiceDocumentStorage">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="Design_mex" contract="IMetadataExchange" listenUriMode="Explicit">
        </endpoint>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="" name="Design_http" contract="VecompSoftware.ServiceContract.BiblosDS.Documents.IServiceDocumentStorage">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/Design_Time_Addresses/BiblosDS.WCF.Storage/ServiceDocumentStorage/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BiblosDS.WCF.Storage.ServiceDocumentStorageBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <applicationSettings>
    <BiblosDS.WCF.Storage.Properties.Settings>
      <setting name="BiblosDS_WCF_Storage_BiblosDSConv_BiblosDSConv" serializeAs="String">
        <value>http://localhost/StampaConforme/BiblosDSConv.asmx</value>
      </setting>
    </BiblosDS.WCF.Storage.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
