<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="FileLog" type="log4net.Appender.RollingFileAppender">
    <file value="logs/ApplicationLog.txt"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="INFO"/>
    </evaluator>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m %newlinePostazione: [%property{log4net:HostName}] User: [%property{dswUser}] %newline%ex_data%newline"/>
      <converter>
        <name value="ex_data" />
        <type value="VecompSoftware.Services.Logging.ExceptionDataPatternConverter" />
      </converter>
    </layout>
  </appender>
  <appender name="DirectoryService" type="log4net.Appender.RollingFileAppender">
    <file value="logs/DirectoryServiceLog.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m %newlineThreadUser: %username%newlinePostazione: %property{log4net:HostName}%newlineUrl: %property{Url}%newline%ex_data%newline"/>
      <converter>
        <name value="ex_data" />
        <type value="VecompSoftware.Services.Logging.ExceptionDataPatternConverter" />
      </converter>
    </layout>
  </appender>
  <appender name="AVCPFacade" type="log4net.Appender.RollingFileAppender">
    <file value="logs/AVCPFacade.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m %newlineThreadUser: %username %newlinePostazione: %property{log4net:HostName} %newlineUrl: %property{Url}%n"/>
    </layout>
  </appender>
  <appender name="CollLog" type="log4net.Appender.RollingFileAppender">
    <file value="logs/CollLog.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m %newlineThreadUser: %username %newlinePostazione: %property{log4net:HostName} %newlineUrl: %property{Url}%n"/>
    </layout>
  </appender>
  <appender name="BiblosService" type="log4net.Appender.RollingFileAppender">
    <file value="logs/BiblosService.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m %newlineThreadUser: %username%newlinePostazione: %property{log4net:HostName} %n"/>
    </layout>
  </appender>
  <appender name="SessionLog" type="log4net.Appender.RollingFileAppender">
    <file value="logs/SessionLog.txt"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %username %property{log4net:HostName} - User: %property{dswUser} - %c - %m%n"/>
    </layout>
  </appender>
  <appender name="DocSuite.WebAPIClient" type="log4net.Appender.RollingFileAppender">
    <file value="logs/DocSuite.WebAPIClient.txt"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="INFO"/>
    </evaluator>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd/MM/yyyy HH:mm:ss.fff} [%t] %-5p %c - %m %newlinePostazione: [%property{log4net:HostName}] User: [%property{dswUser}] %newline%ex_data%newline"/>
      <converter>
        <name value="ex_data" />
        <type value="VecompSoftware.Services.Logging.ExceptionDataPatternConverter" />
      </converter>
    </layout>
  </appender>

  <appender name="JeepService" type="log4net.Appender.RollingFileAppender">
    <file value="logs/JeepService.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  <appender name="Pec_Ingoing" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Pec_Ingoing.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="40"/>
    <maximumFileSize value="3096KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  <appender name="Pec_Outgoing" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Pec_Outgoing.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="2048KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  <appender name="Messaggi" type="log4net.Appender.RollingFileAppender">
    <file value="logs/Messaggi.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="20"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  <appender name="DocSuiteLog" type="log4net.Appender.RollingFileAppender">
    <file value="logs/DocSuiteLog.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="1024KB"/>
    <staticLogFileName value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  <logger name="FileLog" additivity="false">
    <level value="ALL"/>
    <!--<appender-ref ref="SqlLog"/>-->
    <appender-ref ref="FileLog"/>
  </logger>
  <logger name="BiblosServiceLog" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="BiblosService"/>
  </logger>
  <logger name="Biblos.FileLogger" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="BiblosService"/>
  </logger>
  <logger name="StampaConforme.FileLogger" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="BiblosService"/>
  </logger>
  <logger name="Session" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="SessionLog"/>
  </logger>

  <logger name="DirectoryServiceLog" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="DirectoryService"/>
  </logger>
  <logger name="DocSuite.WebAPIClient" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="DocSuite.WebAPIClient"/>
  </logger>

  <logger name="Application">
    <appender-ref ref="JeepService"/>
    <level value="INFO"/>
  </logger>
  <logger name="Messaggi">
    <appender-ref ref="Messaggi"/>
    <level value="INFO"/>
  </logger>
  <logger name="Pec_Ingoing">
    <appender-ref ref="Pec_Ingoing"/>
    <level value="ALL"/>
  </logger>
  <logger name="Pec_Outgoing">
    <appender-ref ref="Pec_Outgoing"/>
    <level value="ALL"/>
  </logger>
  <logger name="FileLog">
    <appender-ref ref="DocSuiteLog"/>
    <level value="DEBUG"/>
  </logger>
</log4net>