<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CCypher" version="1.0.0.0" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Mail" version="3.0.18151.1319" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.WebForms" version="11.0.2802.16" targetFramework="net461" />
  <package id="VecompSoftware.Commons" version="8.79.19078.2" targetFramework="net461" />
  <package id="VecompSoftware.Commons.BiblosDS.Objects" version="8.79.19078.2" targetFramework="net461" />
  <package id="VecompSoftware.Commons.Interfaces" version="8.80.19092.2" targetFramework="net461" />
  <package id="VecompSoftware.DocSuiteWeb.Model" version="8.80.19092.2" targetFramework="net461" />
  <package id="VecompSoftware.Helpers" version="8.79.19078.2" targetFramework="net461" />
  <package id="VecompSoftware.Helpers.LimilabsMail" version="8.79.19078.2" targetFramework="net461" />
  <package id="VecompSoftware.Helpers.XML" version="8.79.19078.2" targetFramework="net461" />
  <package id="VecompSoftware.Helpers.XML.Converters" version="8.79.19078.2" targetFramework="net461" />
</packages>