<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="VecompSoftware.Helpers.UDS" version="9.22.23292.1" targetFramework="net48" />
  <package id="VecompSoftware.Helpers.XML" version="9.22.23292.1" targetFramework="net48" />
</packages>