<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="VecompSoftware.Core.Command" version="9.22.23328.1" targetFramework="net48" />
  <package id="VecompSoftware.Helpers.Workflow" version="9.22.23328.1" targetFramework="net48" />
  <package id="VecompSoftware.Services.Command" version="9.22.23328.1" targetFramework="net48" />
</packages>