<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VecompSoftware.BPM.Integrations.Modules.TECHNOSKY.SAP.Invoice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <VecompSoftware.BPM.Integrations.Modules.TECHNOSKY.SAP.Invoice.Properties.Settings>
      <setting name="VecompSoftware_BPM_Integrations_Modules_TECHNOSKY_SAP_Invoice_ReceivableInvoiceService_ZFI_FATTEL_UPDATE_PASS" serializeAs="String">
        <value>http://sap01.technosky.it:8001/sap/bc/srt/rfc/sap/zfi_fattel_update_pass/400/zfi_fattel_update_pass/zfi_fattel_update_pass</value>
      </setting>
      <setting name="VecompSoftware_BPM_Integrations_Modules_TECHNOSKY_SAP_Invoice_PayableInvoiceService_ZFI_FATTEL_UPDATE_ATT" serializeAs="String">
        <value>http://sap01.technosky.it:8001/sap/bc/srt/rfc/sap/zfi_fattel_update_att/400/zfi_fattel_update_att/zfi_fattel_update_att</value>
      </setting>
    </VecompSoftware.BPM.Integrations.Modules.TECHNOSKY.SAP.Invoice.Properties.Settings>
  </applicationSettings>
</configuration>