<client>
  <endpoint address="http://SRVBIBLOS/BiblosDSDocSuiteWebWCFServices/Documents.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="DocumentsService.IDocuments" name="Biblos.Documents" />
  <endpoint address="http://SRVBIBLOS/StampaConformeDocSuiteWeb/BiblosDSconv.asmx" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="StampaConformeService.BiblosDSConvSoap" name="Biblos.StampaConforme" />
</client>