<appSettings>
  <add key="log4net" value="true" />
  <!-- NHProf -->
  <add key="rhino" value="true" />

  <add key="DocSuiteWeb.Biblos.DisableInnerConversion" value="True" />
  <add key="DocSuiteWeb.Biblos.DisableCloneDocument" value="False" />
  <add key="DocSuiteWeb.Biblos.CheckIsAliveEnabled" value="True" />
  <add key="DocSuiteWeb.Biblos.CheckIsAliveTimer" value="10" />
  <add key="DocSuiteWeb.Biblos.LatestVersionWorkaround" value="False" />
  <add key="DocSuiteWeb.Biblos.AttributesPour" value="False" />
  <add key="DocSuiteWeb.Biblos.SkipEmptyDataTime" value="False" />

  <add key="DocSuite.BiblosDSConv.BiblosdSConv" value="http://localhost/StampaConforme2010/BiblosDSConv.asmx" />
  <add key="DocSuiteWeb.Biblos.URI" value="http://localhost/BiblosDS2010WCF/Documents.svc" />
  <add key="DocSuiteWeb.ContentSearch.URI" value="http://localhost/BiblosDS2010WCF/ContentSearch.svc" />
  <add key="PasswordEncryptionKey" value="" />
</appSettings>