<services>
  <service name="WSDocm.WSDocmSoap">
    <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://www.vecompsoftware.it/DocSuiteWS" bindingConfiguration="BasiHttpBindindCfg"
      contract="VecompSoftware.DocSuiteWeb.Services.WSDocm.IWSDocm">
      <identity>
        <dns value="localhost"/>
      </identity>
    </endpoint>
  </service>
</services>