<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory name="resl">
    <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">ReslConnection</property>
    <property name="connection.provider">VecompSoftware.NHibernateManager.Config.ConnectionStringsSectionConnectionProvider, VecompSoftware.NHibernateManager</property>
    <property name="connection.isolation">ReadCommitted</property>
    <property name="default_schema">dbo</property>
    <property name="connection.release_mode">on_close</property>
    <property name="generate_statistics">false</property>
    <property name="use_sql_comments">false</property>
  </session-factory>
</hibernate-configuration>