<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.WebForms" version="11.0.2802.16" targetFramework="net461" />
  <package id="VecompSoftware.Commons" version="8.79.19078.2" targetFramework="net461" />
</packages>