<behaviors>
  <serviceBehaviors>
    <behavior name="BiblosDS.WCF.StampaConforme.Converter.StampaConformeConverterBehavior">
      <serviceMetadata httpGetUrl="http://localhost:901/StampaConformeConverterWSDL" httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
  </serviceBehaviors>
</behaviors>