<appSettings>
  <add key="ConverterAssemblyName" value="BiblosDS.Library.Common.Converter.OpenOffice" />
  <add key="ConverterClassName" value="BiblosDS.Library.Common.Converter.OpenOffice.OpenOfficeToPdfConverter" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  <add key="BiblosDsConvUrl" value="http://localhost:50527/BiblosDSConv.asmx" />
  <add key="RedirectUrlFilter" value="vnd.sun.star.GraphicObject:10000000000005780000041A08FD2E42|vnd.sun.star.GraphicObject:2000005D0000F66500015C323FDA51A7|vnd.sun.star.GraphicObject:100000000000029800000094255FBC5D" />
  <add key="RedirectSheetNames" value="Frontespizio,Presentazione,Istruzioni,Sezione A,Sezione B,Sezione C,Sezione D,Sezione E,Sezione F,Sezione G,Sezione H" />
</appSettings>