<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VecompSoftware.BPM.Integrations.Modules.SM.ACTA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="VecompSoftware.BPM.Integrations.Modules.SM.ACATA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <VecompSoftware.BPM.Integrations.Modules.SM.ACATA.Properties.Settings>
      <setting name="VecompSoftware_BPM_Integrations_Modules_SM_ACATA_RepositoryService_RepositoryService" serializeAs="String">
        <value>http://localhost</value>
      </setting>
      <setting name="VecompSoftware_BPM_Integrations_Modules_SM_ACATA_OfficialBookService_OfficialBookService" serializeAs="String">
        <value>http://localhost</value>
      </setting>
      <setting name="VecompSoftware_BPM_Integrations_Modules_SM_ACATA_ObjectService_ObjectService" serializeAs="String">
        <value>http://localhost</value>
      </setting>
      <setting name="VecompSoftware_BPM_Integrations_Modules_SM_ACATA_SubjectRegistryService_SubjectRegistryService" serializeAs="String">
        <value>http://localhost</value>
      </setting>
      <setting name="VecompSoftware_BPM_Integrations_Modules_SM_ACATA_BackOfficeService_BackOfficeService" serializeAs="String">
        <value>http://localhost</value>
      </setting>
      <setting name="VecompSoftware_BPM_Integrations_Modules_SM_ACATA_DocumentService_DocumentService" serializeAs="String">
        <value>http://localhost</value>
      </setting>
    </VecompSoftware.BPM.Integrations.Modules.SM.ACATA.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>