<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BiblosDS.Library.Storage.PaRERReferti.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BiblosDS.Library.Storage.PaRERReferti.Properties.Settings>
            <setting name="XSDParerVersion" serializeAs="String">
                <value>1.3</value>
            </setting>
            <setting name="ParerForzaConservazione" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ParerForzaAccettazione" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ParerForzaCollegamento" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseHTTPProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HTTPVersamentoService_PROD" serializeAs="String">
                <value>https://parer.regione.emilia-romagna.it/sacertest/VersamentoSync</value>
            </setting>
            <setting name="SimulaSalvataggioParer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TraceEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastCloseExtensions" serializeAs="String">
                <value>PDF</value>
            </setting>
            <setting name="SMTP_User" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMTP_Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMTP_Server" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMTP_Port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SMTP_SenderMail" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMTP_EnableSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SMTP_ReceiveMail" serializeAs="String">
                <value/>
            </setting>
            <setting name="HTTPVersamentoService_PRE" serializeAs="String">
                <value>https://parer.regione.emilia-romagna.it/sacertest/VersamentoSync</value>
            </setting>
            <setting name="HTTPEsibizioneService_PRE" serializeAs="String">
                <value>https://</value>
            </setting>
            <setting name="HTTPEsibizioneService_PROD" serializeAs="String">
                <value>https://</value>
            </setting>
        </BiblosDS.Library.Storage.PaRERReferti.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
