/*
   martedì 29 maggio 201210:20:44
   User: sa
   Server: srvbiblos
   Database: BiblosDS2010
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PreservationTask ADD
	Executed bit NOT NULL CONSTRAINT DF_PreservationTask_Executed DEFAULT 0,
	Enabled bit NOT NULL CONSTRAINT DF_PreservationTask_Enabled DEFAULT 0,
	HasError bit NOT NULL CONSTRAINT DF_PreservationTask_HasError DEFAULT 0,
	ErrorMessages nvarchar(4000) NULL,
	ActivationPin uniqueidentifier NULL
GO
ALTER TABLE dbo.PreservationTask SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
