/*
   giovedì 7 giugno 201209:48:33
   User: sa
   Server: srvbiblos
   Database: BiblosDS2010
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Preservation
	DROP CONSTRAINT FK_Preservation_PreservationUser
GO
ALTER TABLE dbo.PreservationUser SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Preservation
	DROP CONSTRAINT FK_Conservazione_Archive
GO
ALTER TABLE dbo.Archive SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Preservation
	DROP CONSTRAINT FK_Preservation_PreservationTask
GO
ALTER TABLE dbo.PreservationTask SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Preservation
	DROP CONSTRAINT FK_Preservation_PreservationTaskGroup
GO
ALTER TABLE dbo.PreservationTaskGroup SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_Preservation
	(
	IdPreservation uniqueidentifier NOT NULL,
	IdArchive uniqueidentifier NOT NULL,
	IdPreservationTaskGroup uniqueidentifier NULL,
	IdPreservationTask uniqueidentifier NULL,
	Path varchar(255) NULL,
	Label varchar(255) NULL,
	PreservationDate datetime NULL,
	StartDate datetime NULL,
	EndDate datetime NULL,
	CloseDate datetime NULL,
	IndexHash varchar(255) NULL,
	CloseContent image NULL,
	LastVerifiedDate datetime NULL,
	IdPreservationUser uniqueidentifier NULL,
	IdCompatibility int NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_Preservation SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.Preservation)
	 EXEC('INSERT INTO dbo.Tmp_Preservation (IdPreservation, IdArchive, IdPreservationTaskGroup, IdPreservationTask, Path, Label, PreservationDate, StartDate, EndDate, CloseDate, IndexHash, CloseContent, LastVerifiedDate, IdPreservationUser, IdCompatibility)
		SELECT IdPreservation, IdArchive, IdPreservationTaskGroup, IdPreservationTask, Path, Label, PreservationDate, StartDate, EndDate, CloseDate, IndexHash, CloseContent, LastVerifiedDate, IdPreservationUser, IdCompatibility FROM dbo.Preservation WITH (HOLDLOCK TABLOCKX)')
GO
ALTER TABLE dbo.[Document]
	DROP CONSTRAINT FK_Document_Preservation
GO
ALTER TABLE dbo.PreservationInStorageDevice
	DROP CONSTRAINT FK_PreservationInStorageDevice_Preservation
GO
ALTER TABLE dbo.PreservationJournaling
	DROP CONSTRAINT FK_PreservationJournaling_Preservation
GO
DROP TABLE dbo.Preservation
GO
EXECUTE sp_rename N'dbo.Tmp_Preservation', N'Preservation', 'OBJECT' 
GO
ALTER TABLE dbo.Preservation ADD CONSTRAINT
	PK_Conservazione_1 PRIMARY KEY CLUSTERED 
	(
	IdPreservation
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Preservation ADD CONSTRAINT
	FK_Preservation_PreservationTaskGroup FOREIGN KEY
	(
	IdPreservationTaskGroup
	) REFERENCES dbo.PreservationTaskGroup
	(
	IdPreservationTaskGroup
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Preservation ADD CONSTRAINT
	FK_Preservation_PreservationTask FOREIGN KEY
	(
	IdPreservationTask
	) REFERENCES dbo.PreservationTask
	(
	IdPreservationTask
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Preservation ADD CONSTRAINT
	FK_Conservazione_Archive FOREIGN KEY
	(
	IdArchive
	) REFERENCES dbo.Archive
	(
	IdArchive
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Preservation ADD CONSTRAINT
	FK_Preservation_PreservationUser FOREIGN KEY
	(
	IdPreservationUser
	) REFERENCES dbo.PreservationUser
	(
	IdPreservationUser
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PreservationJournaling ADD CONSTRAINT
	FK_PreservationJournaling_Preservation FOREIGN KEY
	(
	IdPreservation
	) REFERENCES dbo.Preservation
	(
	IdPreservation
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PreservationJournaling SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PreservationInStorageDevice ADD CONSTRAINT
	FK_PreservationInStorageDevice_Preservation FOREIGN KEY
	(
	IdPreservation
	) REFERENCES dbo.Preservation
	(
	IdPreservation
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PreservationInStorageDevice SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.[Document] ADD CONSTRAINT
	FK_Document_Preservation FOREIGN KEY
	(
	IdPreservation
	) REFERENCES dbo.Preservation
	(
	IdPreservation
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.[Document] SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
