<connectionStrings>
  <add connectionString="Data Source=.; Initial Catalog=SM_Protocollo;  User ID=sa; Pwd=Passw0rd" name="ProtConnection" providerName="System.Data.SqlClient" />
  <add connectionString="Data Source=.; Initial Catalog=SM_Pratiche;   User ID=sa;Pwd=Passw0rd" name="DocmConnection" providerName="System.Data.SqlClient" />
  <add connectionString="Data Source=.; Initial Catalog=SM_Atti;       User ID=sa; Pwd=Passw0rd" name="ReslConnection" providerName="System.Data.SqlClient" />
</connectionStrings>