<appSettings>
  <add key="CustomInstanceName" value="" />
  <add key="log4net" value="true" />
  <!-- Abilita Debug log4net -->
  <add key="log4net.Internal.Debug" value="false" />

  <!-- NHProf -->
  <add key="rhino" value="false" />
  <add key="limilabs" value="false" />

  <add key="LocalServerWorkgroup" value="WorkgroupName" />


  <!-- Active Directory -->
  <add key="DomainPath" value="LDAP" />

  <add key="DocSuiteWeb.Biblos.DisableInnerConversion" value="True" />
  <add key="DocSuiteWeb.Biblos.DisableCloneDocument" value="False" />
  <add key="DocSuiteWeb.Biblos.CheckIsAliveEnabled" value="True" />
  <add key="DocSuiteWeb.Biblos.CheckIsAliveTimer" value="10" />
  <add key="DocSuiteWeb.Biblos.LatestVersionWorkaround" value="False" />
  <add key="DocSuiteWeb.Biblos.AttributesPour" value="False" />
  <add key="DocSuiteWeb.Biblos.SkipEmptyDataTime" value="False" />
  
  <add key="DocSuite.BiblosDSConv.BiblosdSConv" value="http://geddevsc.northeurope.cloudapp.azure.com/StampaConforme/BiblosDSConv.asmx" />
  <add key="DocSuiteWeb.Biblos.URI" value="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/Documents.svc" />
  <add key="DocSuiteWeb.ContentSearch.URI" value="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/ContentSearch.svc" />

  <add key="Signer.Infocert.ProxySign" value="https://testdev.proxysign.it" />
  <add key="Signer.Aruba.Actalis" value="https://arss.demo.firma-automatica.it/ArubaSignService/ArubaSignService" />

  <add key="PageCompression" value="1" />
  <add key="DocSuiteWeb.SP.PublishToSharepoint" value="http://win2003hv:99/PublishToSharepoint.asmx" />
  <add key="DocSuite.PEC.Segnature" value="~/Config/Segnatura.dtd" />

  <!--Web Service WebPublication AUSLPC-->
  <add key="DocSuiteWeb.WebPublicationAUSLPC" value="" />
  <add key="DocSuite.ProductName" value="DocSuite" />

  <!-- Embedded Skins and Scripts -->
  <add key="Telerik.Skin" value="Office2007" />
  <add key="Telerik.EnableEmbeddedSkins" value="true" />
  <add key="Telerik.EnableEmbeddedBaseStylesheet" value="true" />
  <add key="Telerik.EnableEmbeddedScripts" value="true" />
  <add key="Telerik.Web.UI.ScriptFolders" value="~/js/;" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
    
  <add key="DocSuite.Default.ODATA.Finder.TopQuery" value="100" />

</appSettings>