<client>
  <endpoint address="http://postgresqlvm2399.cloudapp.net/BiblosDS2010WCF/Transit.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpStreamedBinding" contract="ServiceReferenceTransit.ITransit"
    name="Binding_Transit" />
  <endpoint address="http://postgresqlvm2399.cloudapp.net/BiblosDS2010WCF/Documents.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpStreamedBinding" contract="ServiceReferenceDocument.IDocuments"
    name="Binding_Documents" />
  <endpoint address="http://postgresqlvm2399.cloudapp.net/BiblosDS2010WCF/Administration.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding"
    contract="ServiceReferenceAdministration.IAdministration" name="Binding_Administration" />
  <endpoint address="http://postgresqlvm2399.cloudapp.net/BiblosDS2010WCF/ContentSearch.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpStreamedBinding" contract="ServiceReferenceContentSearch.IContentSearch"
    name="ContentSearch" />
  <endpoint address="http://postgresqlvm2399.cloudapp.net/BiblosDS2010WCF/Log.svc" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpStreamedBinding" contract="ServiceReferenceLog.ILog"
    name="Binding_Log" />
</client>