<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <replaceAll>
    <endpontAddresses xdt:Locator="XPath(//*[@address='http://localhost:1526/Transit.svc'])" xdt:Transform="SetAttributes(address)" address="http://biblosdsazurehost.cloudapp.net:8080/Transit.svc" />
    <endpontAddresses xdt:Locator="XPath(//*[@address='http://localhost:1526/Documents.svc'])" xdt:Transform="SetAttributes(address)" address="http://biblosdsazurehost.cloudapp.net:8080/Documents.svc" />
    <endpontAddresses xdt:Locator="XPath(//*[@address='http://localhost:1526/Administration.svc'])" xdt:Transform="SetAttributes(address)" address="http://biblosdsazurehost.cloudapp.net:8080/Administration.svc" />
    <endpontAddresses xdt:Locator="XPath(//*[@address='http://localhost:1526/ContentSearch.svc'])" xdt:Transform="SetAttributes(address)" address="http://biblosdsazurehost.cloudapp.net:8080/ContentSearch.svc" />
    <endpontAddresses xdt:Locator="XPath(//*[@address='http://localhost:1526/Log.svc'])" xdt:Transform="SetAttributes(address)" address="http://biblosdsazurehost.cloudapp.net:8080/Log.svc" />
    <endpontAddresses xdt:Locator="XPath(//*[@address='http://localhost:1526/Documents.svc'])" xdt:Transform="SetAttributes(address)" address="http://biblosdsazurehost.cloudapp.net:8080/Documents.svc" />

  </replaceAll>
  
</configuration>