<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings configSource="biblosds.system.servicemodel.bindings.config"/>
    <client configSource="admincentral.system.servicemodel.client.config"/>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
