/*
   mercoledì 21 dicembre 201116:13:40
   User: 
   Server: .\sqlexpress
   Database: BiblosLight
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PreservationSchedule ADD
	IsDefault smallint NOT NULL CONSTRAINT DF_PreservationSchedule_IsDefault DEFAULT 0
GO
CREATE UNIQUE NONCLUSTERED INDEX [UX_IsDefault] ON [dbo].[PreservationSchedule] 
(
	[IsDefault] ASC
)
WHERE ([IsDefault]<>(0) AND [IsDefault] IS NOT NULL)
WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
ALTER TABLE dbo.PreservationSchedule SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
