/*
   venerdì 16 dicembre 201111:11:21
   User: sa
   Server: 217.133.23.55
   Database: BiblosDS2010
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PreservationStorageDevice ADD
	MinDate datetime NULL,
	MaxDate datetime NULL
GO
ALTER TABLE dbo.PreservationStorageDevice
	DROP CONSTRAINT FK_PreservationStorageDevice_Archive
GO
ALTER TABLE dbo.Archive SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.PreservationStorageDevice
	DROP COLUMN IdArchive
GO
ALTER TABLE dbo.PreservationStorageDevice SET (LOCK_ESCALATION = TABLE)
GO
COMMIT



/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Archive ADD
	FiscalDocumentType varchar(250) NULL
GO
ALTER TABLE dbo.Archive SET (LOCK_ESCALATION = TABLE)
GO
COMMIT

