/*
   martedì 8 maggio 201214:48:35
   User: sa
   Server: srvbiblos
   Database: BiblosDS2010
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PreservationTask ADD
	IdCorrelatedPreservationTask uniqueidentifier NULL
GO
ALTER TABLE dbo.PreservationTask ADD CONSTRAINT
	FK_PreservationTask_PreservationTask FOREIGN KEY
	(
	IdCorrelatedPreservationTask
	) REFERENCES dbo.PreservationTask
	(
	IdPreservationTask
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PreservationTask SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
