.border-hide {
    border: none;
}

.card-stats .card-header .card-category:not([class*=text-]) {
    color: #000 !important;
    font-size: 14px;
}

.card .card-category:not([class*=text-]) {
    color: #fff;
}

.table {
    text-align: justify !important;
}
