<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDocuments" />
                <binding name="BasicHttpBinding_IAdministration" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/Documents.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocuments"
                contract="BiblosDS.IDocuments" name="BasicHttpBinding_IDocuments" />
            <endpoint address="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/Administration.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministration"
                contract="BiblosDSManagement.IAdministration" name="BasicHttpBinding_IAdministration" />
        </client>
    </system.serviceModel>
</configuration>
