<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net48" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.21.12" targetFramework="net48" />
  <package id="Grpc" version="2.46.5" targetFramework="net48" />
  <package id="Grpc.Core" version="2.46.5" targetFramework="net48" />
  <package id="Grpc.Core.Api" version="2.51.0" targetFramework="net48" />
  <package id="itext7" version="7.1.15" targetFramework="net48" />
  <package id="log4net" version="2.0.15" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="Telerik.Web.UI" version="2021.1.119.45" targetFramework="net48" />
  <package id="VecompSoftware.Commons" version="9.22.23292.1" targetFramework="net48" />
  <package id="VecompSoftware.Commons.Interfaces" version="9.22.23089.1" targetFramework="net48" />
  <package id="VecompSoftware.DocSuiteWeb.Entity" version="9.22.23089.1" targetFramework="net48" />
  <package id="VecompSoftware.DocSuiteWeb.Model" version="9.22.23089.1" targetFramework="net48" />
  <package id="VecompSoftware.DocSuiteWeb.Repository" version="9.22.23089.1" targetFramework="net48" />
  <package id="VecompSoftware.Helpers" version="9.22.23292.1" targetFramework="net48" />
  <package id="VecompSoftware.Helpers.PDF" version="9.22.23292.1" targetFramework="net48" />
  <package id="VecompSoftware.Helpers.Signer" version="9.22.23292.1" targetFramework="net48" />
  <package id="VecompSoftware.Helpers.Web" version="9.22.23292.1" targetFramework="net48" />
  <package id="VecompSoftware.Services.Biblos" version="9.22.23292.1" targetFramework="net48" />
  <package id="VecompSoftware.Services.Command" version="9.22.23292.1" targetFramework="net48" />
  <package id="VecompSoftware.Services.Logging" version="9.22.23292.1" targetFramework="net48" />
  <package id="VecompSoftware.Services.StampaConforme" version="9.22.23292.1" targetFramework="net48" />
</packages>