<appSettings>
  <add key="BiblosDsConvUrl" value="http://localhost:50527/BiblosDSConv.asmx" />
  <add key="NomeService" value="Office" />
  <add key="ConverterAssemblyName" value="BiblosDS.Library.Common.Converter.Office" />
  <add key="ConverterClassName" value="BiblosDS.Library.Common.Converter.Office.OfficeToPdfConverter" />
  <add key="OpenOfficeFilter" value="1033|Picture 9;" />
</appSettings>