<services>
  <service behaviorConfiguration="BiblosDS.WCF.StampaConforme.Converter.StampaConformeConverterBehavior" name="BiblosDS.WCF.StampaConforme.Converter.StampaConformeConverter">
    <endpoint address="StampaConformeConverter" binding="netTcpBinding" bindingConfiguration="NetTcpStreamedBinding" contract="BiblosDS.WCF.Interface.IStampaConformeConverter">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <host>
      <baseAddresses>
        <add baseAddress="net.tcp://localhost:800/" />
        <add baseAddress="http://localhost:900/" />
      </baseAddresses>
    </host>
  </service>
</services>