<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StampaConformeConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender, log4net">
      <param name="File" value="Log/log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1000KB"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n"/>
      </layout>
    </appender>    
    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="rollingFile"/>      
    </root>
  </log4net>
  <appSettings>
    <add key="DeleteFile" value="false"/>
    <add key="UseOverprintConverter" value="true"/>
    <add key="CacheDir" value=""/>
    <add key="OpenOfficeExtension" value=".txt,.htm,.html,.xls,.xlsm,.ppt,.pptx"/>
    <add key="TifExtension" value=".tif,.tiff"/>
    <add key="ConvertTiffAsPdf" value="true"/>
    <add key="RedirectExtension" value=".doc,.mht,.mhtml,.docx,.docm,.rtf,.msg"/>
    <add key="RedirectConvertWsUrl" value="http://localhost:800/StampaConformeConverter"/>
    <add key="RedirectConvertOpenOfficeWsUrl" value="http://localhost:801/StampaConformeConverter"/>
    <add key="LabelPosizioneXY" value="15, 5"/>
    <add key="ScalePercent" value="98"/>
    <add key="SignConfig" value="{Width: 400, Height: 400, X: 10, Y: 500, DPI:400}"/>
    <add key="ConvertPdfToPdfA" value="true"/>
    <add key="DefaultBoxConfig" value="{ Width: 400, Height: 400, X: 10, Y: 100, Opacity: 1.0 }"/>
    <add key="BiblosDsConvUrl" value="http://localhost:50527/BiblosDSConv.asmx"/>

    <!--<add key="DeleteFile" value="true"/>
    <add key="UseOverprintConverter" value="true"/>
    <add key="CacheDir" value=""/>
    <add key="OpenOfficeExtension" value=".txt,.htm,.html,.xlsm,.ppt,.pptx"/>
    <add key="TifExtension" value=".tif,.tiff"/>
    <add key="ConvertTiffAsPdf" value="true"/>
    <add key="OpenOfficeFilter" value="1033|Picture9;"/>
    <add key="RedirectExtension" value=".xls,.doc,.mht,.mhtml,.docx,.docm,.rtf"/>
    <add key="RedirectConvertWsUrl" value="http://localhost:800/StampaConformeConverter"/>
    <add key="RedirectConvertOpenOfficeWsUrl" value="http://localhost:800/StampaConformeConverter" />
    <add key="LabelPosizioneXY" value="10, 5"/>
    <add key="ScalePercent" value="98" />
    <add key="SignConfig" value="{Width: 400, Height: 400, X: 10, Y: 500, DPI:400}" />-->
  </appSettings>
  <!--<appSettings>
    <add key="DeleteFile" value="true"/>
    <add key="UseOverprintConverter" value="true"/>
    <add key="CacheDir" value=""/>
    <add key="OpenOfficeExtension" value=".txt,.htm,.html,.xls,.xlsm,.ppt,.pptx"/>
    <add key="TifExtension" value=".tif,.tiff"/>
    <add key="ConvertTiffAsPdf" value="true"/>
    <add key="RedirectExtension" value=".doc,.mht,.mhtml,.docx,.docm,.rtf"/>
    <add key="RedirectConvertWsUrl" value="http://localhost:800/StampaConformeConverter"/>
    <add key="RedirectConvertOpenOfficeWsUrl" value="http://localhost:801/StampaConformeConverter" />
    <add key="LabelPosizioneXY" value="15, 25"/>
    <add key="ScalePercent" value="98" />
    <add key="SignConfig" value="{Width: 400, Height: 400, X: 10, Y: 500, DPI:400}" />
  </appSettings>-->

  <!--<appSettings>
    <add key="DeleteFile" value="false"/>
    <add key="ConvertTiffAsPdf" value="false"/>
    <add key="UseOverprintConverter" value="false"/>
    <add key="OpenOfficeExtension" value=".txt,.htm,.html,.xls,.xlsm,.ppt,.pptx"/>
    <add key="RedirectExtension" value=".mht,.rtf,.doc,.docm,.docx,"/>
    <add key ="RedirectUrlFilter" value="vnd.sun.star.GraphicObject:10000000000005780000041A08FD2E42"/>
    <add key ="RedirectSizeFilter" value="37042,27781"/>
    <add key="RedirectConvertWsUrl" value="http://localhost:801/StampaConformeConverter" />
    <add key="RedirectConvertOpenOfficeWsUrl" value="http://localhost:800/StampaConformeConverter" />
    <add key="LabelPosizioneXY" value="10, 5"/>
    <add key="ScalePercent" value="98" />
    <add key="SignConfig" value="{Width: 400, Height: 550, X: 10, Y: 550, DPI:300}" />
    <add key="ConvertPdfToPdfA" value="true"/>
  </appSettings>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStampaConformeConverter" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:4948/StampaConformeConverter.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStampaConformeConverter" contract="ConverterServiceSvc.IStampaConformeConverter" name="StampaConformeConverter"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <StampaConformeConsole.Properties.Settings>
      <setting name="StampaConformeConsole_StampaConformeSvc_BiblosDSConv"
        serializeAs="String">
        <value>http://localhost:50894/BiblosDSConv.asmx</value>
      </setting>
    </StampaConformeConsole.Properties.Settings>
  </applicationSettings>
</configuration>
