<validation>
  <type name="VecompSoftware.DocSuiteWeb.Validation.Objects.Entities.Desks.DeskValidator"
    defaultRuleset="DeskInsert" assemblyName="VecompSoftware.DocSuiteWeb.Validation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null">
    <ruleset name="DeskInsert">
      <properties>
        <property name="Name">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
  </type>
  <type name="VecompSoftware.DocSuiteWeb.Validation.ServiceBus.ServiceBusValidator"
    assemblyName="VecompSoftware.DocSuiteWeb.Validation, Version=8.52.0.0, Culture=neutral">
    <ruleset name="ServiceBusInsert">
      <properties>
        <property name="CommandName">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            lowerBound="1" lowerBoundType="Inclusive" upperBoundType="Ignore"
            messageTemplate="La proprietà CommandName non può essere vuota."
            name="String Required Validator" />
        </property>
        <property name="TenantName">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            lowerBound="1" lowerBoundType="Inclusive" upperBoundType="Ignore"
            messageTemplate="La proprietà TenantName non può essere vuota."
            name="String Required Validator" />
        </property>
        <property name="TenantId">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La proprietà TenantId non può essere vuota."
            name="Not Null Validator" />
        </property>
        <property name="CommandId">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La proprietà CommandId non può essere vuota."
            name="Not Null Validator" />
        </property>
        <property name="CreationTime">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La proprietà CreationTime non può essere vuota."
            name="Not Null Validator" />
        </property>
      </properties>
    </ruleset>
  </type>
  <type name="VecompSoftware.DocSuiteWeb.Validation.Objects.Entities.Fascicles.FascicleValidator"
    defaultRuleset="" assemblyName="VecompSoftware.DocSuiteWeb.Validation, Version=8.52.0.0, Culture=neutral">
    <ruleset name="FascicleInsert">
      <properties>
        <property name="Number">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            culture="it-IT" lowerBound="1" lowerBoundType="Inclusive" upperBound="2147483647"
            upperBoundType="Inclusive" messageTemplate="Il numero del fascicolo non può essere minore di 1."
            name="Range Validator" />
        </property>
        <property name="Conservation">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La Conservazione non può essere vuota." name="Not Null Validator" />
        </property>
        <property name="FascicleObject">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            upperBound="0" lowerBound="1" lowerBoundType="Inclusive" upperBoundType="Ignore"
            messageTemplate="L'Oggetto del Fascicolo non può essere vuoto."
            name="String Required Validator" />
        </property>
        <property name="Category">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="Il Classificatore non può essere vuoto." name="Not Null Validator" />
        </property>
        <property name="Contacts">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="Il Responsabile di Procedimento non può essere vuoto."
            name="Not Null Validator" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.CollectionCountValidator, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Il Responsabile di Procedimento non può essere vuoto."
            name="Collection Count Validator" />
        </property>
        <property name="Self">
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.IsLegacyFascicle, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Non è possibile creare o modificare Fascicoli non a norma."
            name="IsLegacyFascicle" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.FascicleAlreadyExists, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="La combinazione Anno-Numero-Classificatore del Fascicolo deve essere univoca."
            name="FascicleAlreadyExists" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.HasValidCategory, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Sul classificatore selezionato non è stato definito nessun piano di fascicolazione."
            name="HasValidCategory" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.HasValidFascicleType, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="La tipologia di fascicolo passata non corrisponde a quella definita dal piano di fascicolazione."
            name="HasValidFascicleType" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.HasAlreadyPeriodicFascicle, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Sul nodo di classificazione indicato è già presente almeno un fascicolo periodico attivo."
            name="HasAlreadyPeriodicFascicle" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.HasAlreadyProcedureFascicle, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Sul nodo di classificazione indicato è già presente almeno un fascicolo per procedimento attivo."
            name="HasAlreadyProcedureFascicle" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.IsFascicleManagerUnique, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Il responsabile di procedimento deve essere unico."
            name="IsFascicleManagerUnique" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.HasManagerFiscalCode, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Il contatto del responsabile di procedimento non ha il codice fiscale."
            name="HasManagerFiscalCode" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="FascicleUpdate">
      <properties>
        <property name="FascicleObject">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            lowerBound="1" lowerBoundType="Inclusive" upperBoundType="Ignore"
            messageTemplate="L'Oggetto del Fascicolo non può essere vuoto."
            name="String Required Validator" />
        </property>
        <property name="Contacts">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="Il Responsabile di Procedimento non può essere vuoto."
            name="Not Null Validator" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.CollectionCountValidator, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Il Responsabile di Procedimento non può essere vuoto."
            name="Collection Count Validator" />
        </property>
        <property name="Self">
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.IsLegacyFascicle, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Non è possibile creare o modificare Fascicoli non a norma."
            name="IsLegacyFascicle" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.IsFascicleManagerUnique, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Il responsabile di procedimento deve essere unico."
            name="IsFascicleManagerUnique" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.HasManagerFiscalCode, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Il contatto del responsabile di procedimento non ha il codice fiscale."
            name="HasManagerFiscalCode" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="FascicleClose">
      <properties>
        <property name="Self">
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.IsFascicleClosable, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Non è possibile chiudere il Fascicolo corrente."
            messageTemplateResourceType="" name="IsFascicleClosable" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.IsFascicleClosed, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Il Fascicolo corrente risulta già chiuso."
            name="IsFascicleClosed" />
        </property>
      </properties>
    </ruleset>
  </type>
  <type name="VecompSoftware.DocSuiteWeb.Validation.Objects.Entities.Fascicles.FascicleProtocolValidator"
    defaultRuleset="FascicleInsert" assemblyName="VecompSoftware.DocSuiteWeb.Validation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null">
    <ruleset name="FascicleInsert">
      <properties>
        <property name="UniqueIdProtocol">
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.Fascicles.GuidEmptyValidator, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null "
            messageTemplate="UniqueId di Protocollo non può essere vuoto."
            name="Guid Empty Validator" />
        </property>
        <property name="Fascicle">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="Il Fascicolo non può essere vuoto." name="Not Null Validator" />
        </property>
        <property name="Self">
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.FascicleProtocols.IsFascicleOpen, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Non è possibile inserire unità documentarie in fascicoli chiusi."
            name="IsFascicleOpen" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.FascicleProtocols.IsLegacyFascicle, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Non è possibile inserire unità documentarie in Fascicoli non a norma."
            name="IsLegacyFascicle" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.FascicleProtocols.ProtocolExists, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Non è stato possibile recuperare il protocollo selezionato."
            name="ProtocolExists" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.FascicleProtocols.IsEnvironmentValid, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Il classificatore indicato non prevede un piano di fascicolazione per l'ambiente di Protocollo."
            name="IsEnvironmentValid" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.FascicleProtocols.IsProtocolAlreadyInFascicle, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Il protocollo selezionato è già presente nel fascicolo indicato."
            name="IsProtocolAlreadyInFascicle" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.FascicleProtocols.IsProtocolFascicolable, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Il protocollo selezionato è già stato fascicolato."
            name="IsProtocolFascicolable" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="FascicleDelete">
      <properties>
        <property name="Self">
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.FascicleProtocols.IsFascicleOpen, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Non è possibile eliminare unità documentarie da fascicoli chiusi."
            name="IsFascicleOpen" />
        </property>
      </properties>
    </ruleset>
  </type>
  <type name="VecompSoftware.DocSuiteWeb.Validation.Objects.Entities.Fascicles.FascicleResolutionValidator"
    defaultRuleset="FascicleInsert" assemblyName="VecompSoftware.DocSuiteWeb.Validation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null">
    <ruleset name="FascicleInsert">
      <properties>
        <property name="Resolution">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="L'Atto da inserire nel Fascicolo non può essere vuoto."
            name="Not Null Validator" />
        </property>
        <property name="Fascicle">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="Il Fascicolo non può essere vuoto." name="Not Null Validator" />
        </property>
        <property name="Self">
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.FascicleResolutions.IsLegacyFascicle, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Non è possibile inserire unità documentarie in Fascicoli non a norma."
            name="IsLegacyFascicle" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.FascicleResolutions.IsEnvironmentValid, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Il classificatore indicato non prevede un piano di fascicolazione per l'ambiente di Atti."
            name="IsEnvironmentValid" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.FascicleResolutions.HasAdoptionDate, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Non è possibile inserire l'atto nel fascicolo selezionato perchè l'atto non è ancora stato adottato."
            name="HasAdoptionDate" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.FascicleResolutions.IsResolutionAlreadyInFascicle, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="L'atto selezionato è già presente nel fascicolo indicato."
            name="IsResolutionAlreadyInFascicle" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.FascicleResolutions.IsResolutionFascicolable, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="L'atto selezionato è già stato fascicolato."
            name="IsResolutionFascicolable" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.FascicleResolutions.IsFascicleOpen, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Non è possibile inserire unità documentarie in fascicoli chiusi."
            name="IsFascicleOpen" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="FascicleDelete">
      <properties>
        <property name="Self">
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.FascicleResolutions.IsFascicleOpen, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.52.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="Non è possibile eliminare unità documentarie da fascicoli chiusi."
            name="IsFascicleOpen" />
        </property>
      </properties>
    </ruleset>
  </type>
  <type name="VecompSoftware.DocSuiteWeb.Validation.Objects.Entities.PECMails.PECMailValidator"
    defaultRuleset="PECMailUpdate" assemblyName="VecompSoftware.DocSuiteWeb.Validation, Version=8.53.0.0, Culture=neutral, PublicKeyToken=null">
    <ruleset name="PECMailUpdate">
      <properties>
        <property name="Self">
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.PECMails.HasPecAlreadyArchive, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.53.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="La PEC indicata risulta già archiviata in una unità documentale."
            name="HasPecAlreadyArchive" />
        </property>
      </properties>
    </ruleset>
  </type>
  <type name="VecompSoftware.DocSuiteWeb.Validation.Objects.Entities.MassimariScarto.MassimarioScartoValidator"
    defaultRuleset="MassimarioScartoInsert" assemblyName="VecompSoftware.DocSuiteWeb.Validation, Version=8.55.0.0, Culture=neutral, PublicKeyToken=null">
    <ruleset name="MassimarioScartoInsert">
      <properties>
        <property name="StartDate" />
        <property name="EndDate">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.OrCompositeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="Or Composite Validator">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.PropertyComparisonValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              operator="GreaterThanEqual" propertyToCompare="StartDate" messageTemplate="La data di disattivazione deve essere maggiore della data attivazione"
              name="Property Comparison Validator" />
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              negated="true" name="Not Null Validator" />
          </validator>
        </property>
        <property name="Name">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La proprietà Name non può essere vuota." name="Not Null Validator" />
        </property>
        <property name="Code">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La proprietà Code non può essere vuota." name="Not Null Validator" />
        </property>
        <property name="Self">
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.MassimariScarto.HasValidStartDate, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.55.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="La data di attivazione non può essere antecedente alla data di attivazione del nodo padre."
            name="HasValidStartDate" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.MassimariScarto.HasValidCode, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.55.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="E' già presente un altro massimario di scarto con lo stesso codice."
            name="HasValidCode" />
        </property>
      </properties>
    </ruleset>
    <ruleset name="MassimarioScartoUpdate">
      <properties>
        <property name="StartDate" />
        <property name="EndDate">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.OrCompositeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="Or Composite Validator">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.PropertyComparisonValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              operator="GreaterThanEqual" propertyToCompare="StartDate" messageTemplate="La data di disattivazione deve essere maggiore della data attivazione"
              name="Property Comparison Validator" />
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              negated="true" name="Not Null Validator" />
          </validator>
        </property>
        <property name="Name">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La proprietà Name non può essere vuota." name="Not Null Validator" />
        </property>
        <property name="Code">
          <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            messageTemplate="La proprietà Code non può essere vuota." name="Not Null Validator" />
        </property>
        <property name="Self">
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.MassimariScarto.HasValidStartDate, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.55.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="La data di attivazione non può essere antecedente alla data di attivazione del nodo padre."
            name="HasValidStartDate" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.MassimariScarto.HasValidChildrenEndDate, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.55.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="La data di disattivazione non può essere antecedente alla data di disattivazione del nodo figlio."
            name="HasValidChildrenEndDate" />
          <validator type="VecompSoftware.DocSuiteWeb.CustomValidation.Entities.MassimariScarto.HasValidParentEndDate, VecompSoftware.DocSuiteWeb.CustomValidation, Version=8.55.0.0, Culture=neutral, PublicKeyToken=null"
            messageTemplate="La data di disattivazione non può essere superiore alla data di disattivazione del nodo padre."
            name="HasValidParenEndDate" />
        </property>
      </properties>
    </ruleset>
  </type>
</validation>