<connectionStrings>
  <clear />
  <add name="DSWDataContext" connectionString="Data Source=SRVAZVSDEV.cloudapp.net;Initial Catalog=AUSLRE_Protocollo;persist security info=True;MultipleActiveResultSets=True;Max Pool Size=1024;user id=sa;password=Passw0rd;Application Name=DSW.PrivateWebAPI;"
    providerName="System.Data.SqlClient" />
</connectionStrings>