<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VecompSoftware.Commons" publicKeyToken="cd4cbb031a2ae285" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.20262.1" newVersion="9.9.20262.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VecompSoftware.Helpers.Signer" publicKeyToken="76f780eb4d2d0f1b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.9.20267.1" newVersion="9.9.20267.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
