<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDocuments" />
                <binding name="BasicHttpBinding_IContentSearch" />
                <binding name="BasicHttpBinding_IServiceDigitalSign" />
                <binding name="BasicHttpBinding_IContentSearch1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/Documents.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocuments" contract="DocumentService.IDocuments" name="BasicHttpBinding_IDocuments" />
            <endpoint address="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/DigitalSignature.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDigitalSign" contract="SignService.IServiceDigitalSign" name="BasicHttpBinding_IServiceDigitalSign" />
            <endpoint address="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/ContentSearch.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContentSearch" contract="SearchService.IContentSearch" name="BasicHttpBinding_IContentSearch" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
