<behaviors>
  <serviceBehaviors>
    <behavior name="ContentLogBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <dataContractSerializer maxItemsInObjectGraph="6553600" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="ContentAdministrationBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <dataContractSerializer maxItemsInObjectGraph="6553600" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="ServiceBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <dataContractSerializer maxItemsInObjectGraph="6553600" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="ContentSearchBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <dataContractSerializer maxItemsInObjectGraph="6553600" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="DigitalSignatureBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <dataContractSerializer maxItemsInObjectGraph="6553600" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="DocumentsBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <dataContractSerializer maxItemsInObjectGraph="6553600" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="PreservationBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <dataContractSerializer maxItemsInObjectGraph="6553600" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="TransitBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <dataContractSerializer maxItemsInObjectGraph="6553600" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="PreservationAdministrationBehavior">
      <serviceMetadata httpGetEnabled="true" />
      <dataContractSerializer maxItemsInObjectGraph="6553600" />
      <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
  </serviceBehaviors>
</behaviors>