<connectionStrings>
  <add name="BiblosDS" connectionString="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRVGEDDEV9999.CLOUDAPP.NET;Initial Catalog=BiblosDS2010;User ID=DocSuite;Password=Passw0rd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>