<appSettings>
  <add key="ServerName" value="" />
  <add key="PathCache" value="" />
  <add key="BoblosDSConvWs.BiblosDSConv" value="" />
  <add key="BiblosDSConvWsUrl" value="" />
  <add key="VerifyDocumentMainDate" value="true" />
  <add key="AllowZeroByteDocument" value="true" />
  <add key="PreservationAutoClose" value="false" />
  <add key="BoblosDSConvWs.BiblosDSConv" value="" />
  <add key="JournalEnabled" value="false" />
</appSettings>