<client>
  <endpoint address="net.tcp://localhost:8087" binding="netTcpBinding" bindingConfiguration="NetTcpStreamedBinding" contract="ServiceReferenceDigitalSign.IServiceDigitalSign" name="ServiceDigitalSign" />
  <endpoint address="net.tcp://localhost:8085" binding="netTcpBinding" bindingConfiguration="NetTcpStreamedBinding" contract="ServiceReferenceDocument.IServiceDocument" name="ServiceDocument" />
  <endpoint address="net.tcp://localhost:8086" binding="netTcpBinding" bindingConfiguration="NetTcpStreamedBinding" contract="ServiceReferenceStorage.IServiceDocumentStorage" name="ServiceDocumentStorage" />
</client>