<services>
  <service behaviorConfiguration="ContentAdministrationBehavior" name="Administration">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Documents.IAdministration" />
  </service>
  <service behaviorConfiguration="ContentLogBehavior" name="Log">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Logs.ILog" />
  </service>
  <service behaviorConfiguration="ContentSearchBehavior" name="ContentSearch">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Documents.IContentSearch" />
  </service>
  <service behaviorConfiguration="DigitalSignatureBehavior" name="DigitalSignature">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Signs.IServiceDigitalSign" />
  </service>
  <service behaviorConfiguration="DocumentsBehavior" name="Documents">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Documents.IDocuments" />
  </service>
  <service behaviorConfiguration="PreservationBehavior" name="Preservation">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Preservations.IPreservation" />
  </service>
  <service behaviorConfiguration="TransitBehavior" name="Transit">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Documents.ITransit" />
  </service>
  <service behaviorConfiguration="PreservationAdministrationBehavior" name="PreservationAdministration">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding" contract="VecompSoftware.ServiceContract.BiblosDS.Preservations.IPreservationAdministration" />
  </service>
</services>