.sidebar {
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 50px;
    left: 235px;
    width: 235px;
    margin-left: -235px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #29363d;
    color: #fff;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .sidebar .list-group a.list-group-item {
        background: #29363d;
        border: 0;
        border-radius: 0;
        color: #fff;
        text-decoration: none;
    }

        .sidebar .list-group a.list-group-item .fa {
            margin-right: 10px;
        }

    .sidebar .list-group a:hover {
        color: #fff;
        background: #20a8d8;
    }

    .sidebar .list-group a.router-link-active {
        color: #fff;
        background: #33444c;
    }

@media screen and (max-width: 768px) {
    .sidebar {
        left: 0px;
    }
}
