/*
   mercoledì 11 gennaio 201212:38:51
   User: sa
   Server: 192.168.1.1
   Database: BiblosDS2010
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PreservationAlertTask
	DROP CONSTRAINT FK_AlertTask_AlertType
GO
ALTER TABLE dbo.PreservationAlertType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PreservationAlertTask
	DROP CONSTRAINT FK_PreservationAlertTask_PreservationTaskType
GO
ALTER TABLE dbo.PreservationTaskType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PreservationAlertTask
	DROP CONSTRAINT DF_PreservationAlertTask_Enabled
GO
CREATE TABLE dbo.Tmp_PreservationAlertTask
	(
	IdPreservationAlertType uniqueidentifier NOT NULL,
	IdPreservationTaskType uniqueidentifier NOT NULL,
	Enabled bit NOT NULL,
	IdArchive uniqueidentifier NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_PreservationAlertTask SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_PreservationAlertTask ADD CONSTRAINT
	DF_PreservationAlertTask_Enabled DEFAULT ((1)) FOR Enabled
GO
IF EXISTS(SELECT * FROM dbo.PreservationAlertTask)
	 EXEC('INSERT INTO dbo.Tmp_PreservationAlertTask (IdPreservationAlertType, IdPreservationTaskType, Enabled)
		SELECT IdPreservationAlertType, IdPreservationTaskType, Enabled FROM dbo.PreservationAlertTask WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.PreservationAlertTask
GO
EXECUTE sp_rename N'dbo.Tmp_PreservationAlertTask', N'PreservationAlertTask', 'OBJECT' 
GO
ALTER TABLE dbo.PreservationAlertTask ADD CONSTRAINT
	PK_AlertTask PRIMARY KEY CLUSTERED 
	(
	IdPreservationAlertType,
	IdPreservationTaskType
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.PreservationAlertTask ADD CONSTRAINT
	FK_PreservationAlertTask_PreservationTaskType FOREIGN KEY
	(
	IdPreservationTaskType
	) REFERENCES dbo.PreservationTaskType
	(
	IdPreservationTaskType
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PreservationAlertTask ADD CONSTRAINT
	FK_AlertTask_AlertType FOREIGN KEY
	(
	IdPreservationAlertType
	) REFERENCES dbo.PreservationAlertType
	(
	IdPreservationAlertType
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
