/*
   martedì 17 gennaio 201210:51:43
   User: sa
   Server: srvbiblos
   Database: BiblosDS2010
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PreservationStorageDevice ADD
	EntratelCompleteFileName nvarchar(255) NULL,
	EntratelUploadDate datetime NULL,
	Company nvarchar(255) NULL
GO
ALTER TABLE dbo.PreservationStorageDevice SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
