<client>
  <clear />
  <endpoint address="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/Documents.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocuments" contract="BiblosDS.IDocuments" name="BasicHttpBinding_IDocuments" />
  <endpoint address="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/Administration.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministration" contract="BiblosDSManagement.IAdministration" name="BasicHttpBinding_IAdministration" />
</client>