<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDocuments" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/Documents.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocuments"
                contract="DocumentService.IDocuments" name="BasicHttpBinding_IDocuments" />
        </client>
    </system.serviceModel>
</configuration>