<connectionStrings>
  <!--<add name="BiblosDS" connectionString="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srvbiblos;initial catalog=APH_BiblosDS;user id=DocSuite;password=DocSuite;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="BiblosDS" connectionString="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRVBIBLOS;initial catalog=BiblosDSDocSuiteWeb;user id=DocSuite;password=DocSuite;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="_BiblosDS" connectionString="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRVBIBLOS;initial catalog=APH_BiblosDS;user id=DocSuite;password=DocSuite;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="BiblosDS" connectionString="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRVGEDDEV9999.CLOUDAPP.NET;initial catalog=BiblosDS2010;user id=DocSuite;password=Passw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

</connectionStrings>