<appSettings>
  <add key="EnableTransitoTimer" value="true" />
  <add key="TransitoTimerWaitMinute" value="60" />
  <add key="EnablePreservationTimer" value="true" />
  <add key="PreservationTimerWaitMinute" value="1" />
  <add key="EnableCleanDocumentsTimer" value="false"/>
  <add key="CleanDocumentsTimerWaitMinute" value="60"/>
  <add key="CleanDocumentsFromDate" value="" />
  <add key="CleanDocumentsToDate" value="" />
  <add key="CheckAttribute" value="false" />
  <add key="ArchivePreservationMarkXmlTemplate" value="C:\Lavori\Docs\BiblosDS\WorkingDir\Template.xml"/>
  <add key="ClosingFilesSuperMarkPath" value="C:\Lavori\Docs\BiblosDS\WorkingDir" />
  <add key="EntratelUploadedFilesPath" value="C:\Lavori\Docs\BiblosDS\WorkingDir" />
  <add key="VerifyAttributeType" value="false" />
  <add key="AllowZeroByteDocument" value="true" />
  <add key="PersistVerifyPreservation" value="true" />
  <add key="PreservationAutoClose" value="false" />
  <add key="PreservationLimitTaskDocToEndDocumentDate" value="true" />
  <add key="AutoGenerateNextTask" value="true" />
  <add key="BoblosDSConvWs.BiblosDSConv" value="http://localhost:8081/BiblosDSConv.asmx" />
  <add key="JournalEnabled" value="false" />
</appSettings>