<client>
  <endpoint address="http://localhost/BiblosDSDocSuiteWebWCFServices/Documents.svc"
            binding="basicHttpBinding"
            bindingConfiguration="BasicHttpStreamedBinding"
            contract="ServiceReferenceDocument.IDocuments"
            name="Binding_Documents" />

  <endpoint address="net.pipe://localhost/ServiceDocument/"
            binding="netNamedPipeBinding"
            bindingConfiguration="NetNamedPipeStreamedBinding"
            contract="ServiceReferenceDocument.IServiceDocument"
            name="ServiceDocument" />
  <endpoint address="net.pipe://localhost/ServiceDocumentStorage/"
            binding="netNamedPipeBinding"
            bindingConfiguration="NetNamedPipeStreamedBinding"
            contract="ServiceDocumentStorage.IServiceDocumentStorage"
            name="ServiceDocumentStorage" />
</client>