<services>
  <service behaviorConfiguration="ServiceBehavior" name="BiblosDS.WCF.Preservation.ServicePreservation">
    <endpoint address="net.tcp://localhost:9090"
              binding="netTcpBinding"
              bindingConfiguration="NetTcpBufferedBinding"
              contract="VecompSoftware.ServiceContract.BiblosDS.Documents.IServicePreservation">
    </endpoint>
  </service>
  <service behaviorConfiguration="ServiceBehavior" name="BiblosDS.WCF.Storage.ServiceDocumentStorage">
    <endpoint address="net.pipe://localhost/ServiceDocumentStorage/"
              binding="netNamedPipeBinding"
              bindingConfiguration="NetNamedPipeStreamedBinding"
              contract="VecompSoftware.ServiceContract.BiblosDS.Documents.IServiceDocumentStorage" />
    <endpoint address="net.tcp://localhost:9086"
              binding="netTcpBinding"
              bindingConfiguration="NetTcpStreamedBinding"
              contract="VecompSoftware.ServiceContract.BiblosDS.Documents.IServiceDocumentStorage" />
    <host>
      <baseAddresses>
        <add baseAddress="net.pipe://localhost/ServiceDocumentStorage/" />
        <add baseAddress="net.tcp://localhost:9086/" />
      </baseAddresses>
    </host>
  </service>
  <service behaviorConfiguration="ServiceBehavior" name="BiblosDS.WCF.Documents.ServiceDocument">
    <endpoint address="net.pipe://localhost/ServiceDocument/"
              binding="netNamedPipeBinding"
              bindingConfiguration="NetNamedPipeStreamedBinding"
              contract="VecompSoftware.ServiceContract.BiblosDS.Documents.IDocuments" />
    <endpoint address="net.tcp://localhost:9085"
              binding="netTcpBinding"
              bindingConfiguration="NetTcpStreamedBinding"
              contract="VecompSoftware.ServiceContract.BiblosDS.Documents.IDocuments" />
    <host>
      <baseAddresses>
        <add baseAddress="net.pipe://localhost/ServiceDocument/" />
        <add baseAddress="net.tcp://localhost:9085/" />
      </baseAddresses>
    </host>
  </service>
</services>