<client>
  <clear />
  <endpoint address="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/Documents.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocuments" contract="BiblosDS.IDocuments" name="BasicHttpBinding_IDocuments" />
  <endpoint address="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/Administration.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministration" contract="BiblosDSManagement.IAdministration" name="BasicHttpBinding_IAdministration" />
  <endpoint address="http://localhost/PDFGeneratorV1/PDFGeneratorService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPDFGenerator" contract="DocSuite.Services.PDFGenerator.IPDFGenerator" name="BasicHttpBinding_IPDFGenerator" />
  <endpoint address="http://geddevsc.northeurope.cloudapp.azure.com/StampaConforme/BiblosDSConv.asmx?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BiblosDSConvSoap" contract="StampaConforme.BiblosDSConvSoap" name="BasicHttpBinding_BiblosDSConvSoap" />
</client>