<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
  <listeners>
    <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\trace.log" footer="" formatter="File Formatter"
      header="" rollInterval="Midnight" maxArchivedFiles="20" traceOutputOptions="DateTime"
      asynchronous="false" />

    <add name="IP4D Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.***REMOVED***.IP4D.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" asynchronous="false" />
    <add name="ASCON Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.AUSLPC.ASCON.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" asynchronous="false" />
    <add name="ENavigare Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.***REMOVED***.ENavigare.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="ZEN Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.AUSLRE.ZEN.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="AVELCO Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.AUSLRE.AVELCO.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="RequestOpinion Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.AUSLRE.RequestOpinion.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="PeriodicFascicle Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.PeriodicFascicle.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="FascicleDocumentUnit Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.FascicleDocumentUnit.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="TokenSecurityGenerator Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.TokenSecurityGenerator.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="AFOL ERP Invoice Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.AFOL.ERP.Invoice.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="ERP Contract Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.***REMOVED***.ERP.Contract.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="ERP Invoice Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.***REMOVED***.ERP.Invoice.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="SAP Invoice Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.TECHNOSKY.SAP.Invoice.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="DocumentUnitLink Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.DocumentUnitLink.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="ReceivableInvoice Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.ReceivableInvoice.log"
        footer="" formatter="File Formatter" header="" rollInterval="Midnight"
        maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="PayableInvoiceFileSystem Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.PayableInvoiceFileSystem.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="FascicleClose Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.FascicleClose.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="FascicleCustomActions Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.FascicleCustomActions.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="Wide Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.ENEA.Wide.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="ArchiveInvoice Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.TEAFLEX.ArchiveInvoice.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="WorkflowLogging Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.WorkflowLogging.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="SPID Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.AUSLRE.SPID.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="AGENAS RDA Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.AGENAS.RDA.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="TECMARKET EventViewerAnalyzer Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.TECMARKET.EventViewerAnalyzer.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="TECMARKET PerformanceAnalyzer Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.TECMARKET.PerformanceAnalyzer.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="TECMARKET Reporting Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.TECMARKET.Reporting.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="TECMARKET ReportProcess Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.TECMARKET.ReportProcess.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="***REMOVED*** Malware Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.***REMOVED***.Malware.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" asynchronous="false" />
    <add name="DocumentUnitInterop Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.DocumentUnitInterop.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="SyncAOO.Contact Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.SyncAOO.Contact.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="Management.Contact Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.Management.Contact.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="Management.Audit Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.Management.Audit.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="DGROOVE.ImportCedolini Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.DGROOVE.ImportCedolini.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="Management.Tenants Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.Management.Tenants.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="ReadAOO.Tenants Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.ReadAOO.Tenants.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="SyncAOO.Tenants Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.SyncAOO.Tenants.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="WorkflowAutoNotify Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.WorkflowAutoNotify.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="AUSLPC COVID19 Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.AUSLPC.COVID19.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" asynchronous="false" />
    <add name="ENPACL Invoices Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.ENPACL.Invoices.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" asynchronous="false" />
    <add name="AFOL ERP RDA Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.AFOL.ERP.RDA.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
	<add name="WorkflowAggregator Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.VSW.WorkflowAggregator.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
    <add name="***REMOVED*** HR Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logs\VecompSoftware.BPM.Integrations.Modules.***REMOVED***.HR.log"
      footer="" formatter="File Formatter" header="" rollInterval="Midnight"
      maxArchivedFiles="20" traceOutputOptions="DateTime" />
	<add name="AUSLPC SWAF Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		fileName="logs\VecompSoftware.BPM.Integrations.Modules.AUSLPC.SWAF.log"
		footer="" formatter="File Formatter" header="" rollInterval="Midnight"
		maxArchivedFiles="20" traceOutputOptions="DateTime" />

  </listeners>
  <formatters>
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      template="{timestamp(local)} - {category} - {severity} -&gt; {message}"
      name="File Formatter" />
  </formatters>
  <categorySources>
    <add switchValue="All" name="General">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="Validation">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="UnitOfWork">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="DataContext">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="ServiceEntity">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="ServiceBus">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="ServiceWorkflow">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="WebAPIEntity">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="WebAPIServiceBus">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="WebAPIWorkflow">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="SignalR">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="DocumentContext">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="Error" name="NotifyEmail">
      <listeners />
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.***REMOVED***.IP4D">
      <listeners>
        <add name="IP4D Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.ENEA.Wide">
      <listeners>
        <add name="ASCON Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.***REMOVED***.ENavigare">
      <listeners>
        <add name="ENavigare Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.AUSLRE.ZEN">
      <listeners>
        <add name="ZEN Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.AUSLRE.AVELCO">
      <listeners>
        <add name="AVELCO Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.AUSLRE.RequestOpinion">
      <listeners>
        <add name="RequestOpinion Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.PeriodicFascicle">
      <listeners>
        <add name="PeriodicFascicle Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.FascicleDocumentUnit">
      <listeners>
        <add name="FascicleDocumentUnit Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.TokenSecurityGenerator">
      <listeners>
        <add name="TokenSecurityGenerator Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.AFOL.ERP.Invoice">
      <listeners>
        <add name="AFOL ERP Invoice Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.***REMOVED***.ERP.Contract">
      <listeners>
        <add name="ERP Contract Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.***REMOVED***.ERP.Invoice">
      <listeners>
        <add name="ERP Invoice Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name=" VecompSoftware.BPM.Integrations.Modules.TECHNOSKY.SAP.Invoice">
      <listeners>
        <add name="SAP Invoice Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.DocumentUnitLink">
      <listeners>
        <add name="DocumentUnitLink Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.ReceivableInvoice">
      <listeners>
        <add name="ReceivableInvoice Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.PayableInvoiceFileSystem">
      <listeners>
        <add name="PayableInvoiceFileSystem Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.FascicleClose">
      <listeners>
        <add name="FascicleClose Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.FascicleCustomActions">
      <listeners>
        <add name="FascicleCustomActions Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.TEAFLEX.ArchiveInvoice">
      <listeners>
        <add name="ArchiveInvoice Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.WorkflowLogging">
      <listeners>
        <add name="WorkflowLogging Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.AUSLRE.SPID">
      <listeners>
        <add name="SPID Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.AGENAS.RDA">
      <listeners>
        <add name="AGENAS RDA Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.TECMARKET.EventViewerAnalyzer">
      <listeners>
        <add name="TECMARKET EventViewerAnalyzer Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.TECMARKET.PerformanceAnalyzer">
      <listeners>
        <add name="TECMARKET PerformanceAnalyzer Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.TECMARKET.Reporting">
      <listeners>
        <add name="TECMARKET Reporting Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.TECMARKET.ReportProcess">
      <listeners>
        <add name="TECMARKET ReportProcess Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.***REMOVED***.Malware">
      <listeners>
        <add name="***REMOVED*** Malware Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.DocumentUnitInterop">
      <listeners>
        <add name="DocumentUnitInterop Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.Management.Contact">
      <listeners>
        <add name="Management.Contact Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.Management.Audit">
      <listeners>
        <add name="Management.Audit Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.DGROOVE.ImportCedolini">
      <listeners>
        <add name="DGROOVE.ImportCedolini Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.Management.Tenants">
      <listeners>
        <add name="Management.Tenants Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.ReadAOO.Tenants">
      <listeners>
        <add name="ReadAOO.Tenants Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.SyncAOO.Contact">
      <listeners>
        <add name="SyncAOO.Contact Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.SyncAOO.Tenants">
      <listeners>
        <add name="SyncAOO.Tenants Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.WorkflowAutoNotify">
      <listeners>
        <add name="WorkflowAutoNotify Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.AUSLPC.COVID19">
      <listeners>
        <add name="AUSLPC COVID19 Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.ENPACL.Invoices">
      <listeners>
        <add name="ENPACL Invoices Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.AFOL.ERP.RDA">
      <listeners>
        <add name="AFOL ERP RDA Rolling Flat File Trace Listener" />
      </listeners>
    </add>
	<add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.VSW.WorkflowAggregator">
	  <listeners>
		<add name="WorkflowAggregator Rolling Flat File Trace Listener" />
	  </listeners>
	</add>
    <add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.***REMOVED***.HR">
      <listeners>
        <add name="***REMOVED*** HR Rolling Flat File Trace Listener" />
      </listeners>
    </add>
	<add switchValue="All" name="VecompSoftware.BPM.Integrations.Modules.AUSLPC.SWAF">
		<listeners>
			<add name="AUSLPC SWAF Rolling Flat File Trace Listener" />
		</listeners>
	</add>

  </categorySources>

  <specialSources>
    <allEvents switchValue="All" name="All Events" />
    <notProcessed switchValue="All" name="Unprocessed Category" />
    <errors switchValue="All" name="Logging Errors &amp; Warnings">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </errors>
  </specialSources>

</loggingConfiguration>