* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: OpenSans-Regular, Arial, sans-serif, Verdana, Helvetica;
    font-size: 16px;
    line-height: 26px;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    background: #E4E4E4;
}

img {
    vertical-align: middle;
    border: 0;
}

p {
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color: #606060;
    text-decoration: none;
}

a:hover {
    color: #fe8e14;
}

input {
    font: normal 12px verdana;
    color: #444;
}

    input.invalid {
        background-color: #FF9;
        border: 2px red inset;
    }

a img {
    border: none;
}

    a img:hover {
        border: none;
    }

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.container {
    width: 983px;
    margin: 0 auto;
}

    .container:after, .clearfix:after {
        content: '';
        display: table;
        clear: both;
    }

.tc {
    text-align: center;
}

.btnOrg {
    padding: 0 15px;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
    background: #FE8E14 0% 0% no-repeat padding-box;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-right: 15px;
}

    .btnOrg:hover {
        background: #FEA543;
    }

.btnLoadAndSave {
    float: right;
    position: relative;
    margin-top: 16px;
    font-size: 12px;
    cursor: pointer;
    font: normal normal normal 14px/21px;
    letter-spacing: 0px;
    color: #FE8E14;
    text-transform: uppercase;
}

.d-btn {
    display: inline-block;
    padding: 0 25px;
    height: 36px;
    line-height: 30px;
    color: #fe8e14;
    font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border: solid 2px #fe8e14;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

    .d-btn:link, .d-btn:visited {
        color: #fe8e14;
    }

    .d-btn:hover {
        color: #ffae38;
        border: solid 2px #ffae38;
    }

    .d-btn.lgBtn {
        height: 46px;
        line-height: 40px;
    }

    .d-btn.mdBtn {
        height: 42px;
        line-height: 36px;
    }

    .d-btn.smBtn {
        height: 38px;
        line-height: 32px;
    }

    .d-btn.bgOrange {
        background: #fe8e14;
        color: #fff;
    }

        .d-btn.bgOrange:hover {
            background: #ffae38;
        }

    .d-btn.bgBlue {
        border-color: #50a8e1;
        background: #50a8e1;
        color: #fff;
    }

        .d-btn.bgBlue:hover {
            border-color: #61c2ec;
            background: #61c2ec;
        }

.ds-dwt-loaderBar img {
    margin-top: 60px;
}

@keyframes fade {
    50% {
        opacity: 0.4;
    }
}

.dynamsoft-dwt-selected {
    background-color: #666;
    box-shadow: -3px -3px 2px -2px inset #b7aaaa, 2px 2px 2px 0px inset #000000;
    padding: 3px;
}

.customInfo {
    background: url(../Images/information-circle.png) no-repeat center right;
    padding-right: 20px;
    cursor: pointer;
}

.customInfo-left {
    background: url(../Images/uploadInfo.png) #EAEAEA no-repeat center left 5px;
    cursor: pointer;
    position: absolute;
    line-height: 16px;
    padding: 5px 5px 5px 28px;
    width: 295px;
}

#customDetail, #uploadedFilesDetail {
    float: left;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 8px;
    z-index: 99;
    font-family: OpenSans-Regular;
    font-size: 12px;
}
/*=================================== dwtScanDemo =========================================*/
#dwtScanDemo {
    width: 983px;
    margin: 0 auto;
}

#DWTcontainer { /*position: absolute; top: 50%; transform: translateY(-50%);*/
}
/*=============== DWTcontainerTop ===============*/
#DWTcontainerTop {
    position: relative;
    float: left;
    width: 665px;
    height: 720px; /*border: 1px solid #ccc;*/
}

.ds-dwt-container-box > div {
    border: none !important;
}
/*#divEdit*/
#divEdit {
    float: left;
    margin: 0;
    padding: 0;
    width: 658px;
    height: 40px;
    background: #fff;
    border: 1px solid #ccc;
    background: #323234 0% 0% no-repeat padding-box;
    color: white;
    -webkit-box-sizing: unset;
    -moz-box-sizing: border-box;
    box-sizing: unset;
    margin-top: -1px;
    cursor: default;
}

    #divEdit .operateGrp li {
        float: left;
        margin: 0;
        width: 43px;
        height: 40px;
        line-height: 36px; /*border-right: solid 1px #ccc;*/
        text-align: center;
    }

        #divEdit .operateGrp li:nth-last-child(2) {
            height: 58px;
        }

        #divEdit .operateGrp li:last-child {
            height: 56px;
            border-bottom: none;
        }

        #divEdit .operateGrp li > img {
            cursor: pointer;
            padding: 10px 4px;
        }

        #divEdit .operateGrp li > span {
            border-left: solid 1px #bbbcc0;
            border-right: solid 1px #bbbcc0;
            line-height: 36px;
            padding-left: 10px;
            padding-right: 10px;
        }

        #divEdit .operateGrp li span > img {
            margin-top: -3px;
        }

    #divEdit .grayimg {
        opacity: 0.3;
    }

    #divEdit .operateGrp #btnZoomOut {
        padding: 20px 4px;
    }

    #divEdit .operateGrp #btnSelect_selected, #divEdit .operateGrp #btnHand_selected {
        padding: 0;
    }

#Crop {
    padding: 5px;
    padding-top: 10px;
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #cE5E04;
    position: absolute;
    height: 80px;
    z-index: 1;
    background-color: #f0f0f0;
    width: 250px
}

#ImgSizeEditor {
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    top: 455px;
    left: -1px;
    height: auto;
    width: 320px;
    font-size: 14px;
    color: #606060;
    text-align: left;
    background-color: #f5f5f5;
    border-collapse: collapse;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 18px #ccc;
    -webkit-box-shadow: 4px 4px 18px #ccc;
    -moz-box-shadow: 4px 4px 18px #ccc;
}

    #ImgSizeEditor li {
        margin-bottom: 5px;
    }

    #ImgSizeEditor input {
        background: #fff;
        border: solid 1px #ccc;
    }

        #ImgSizeEditor input[type='text'] {
            padding-left: 3px;
        }

        #ImgSizeEditor input[type='button'] {
            padding: 5px 5px;
            margin: 6px 5px 0;
        }
/*#dwtcontrolContainer*/
#dwtcontrolContainer {
    float: left;
    width: 659px;
    height: 676px;
    margin-top: 7px;
    background: white;
}

    #dwtcontrolContainer .dynamsoft-dwt-container-box > div {
        border: none !important;
    }

#dwt-NonInstallContainerID {
    float: left;
    width: 560px;
    height: 590px;
}
/*#btnGroupBtm*/
#DWTcontainerTop #btnGroupBtm {
    position: absolute;
    left: 60px;
    bottom: 0;
    padding: 14px 25px 15px 90px;
    width: 585px;
    height: 57px;
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    font-size: 14px;
    color: #606060;
}

.operateGrp {
    font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica;
}

    .operateGrp input {
        padding: 0;
        margin-right: 6px;
        width: 25px;
        height: 20px;
        font-size: 10px;
        background: transparent;
        border: solid 1px #bbbcc0;
        outline: none;
        cursor: pointer;
        color: white;
    }

        .operateGrp input[type='text'] {
            height: 20px;
            font-size: 14px;
            border: none;
            cursor: default;
            font: normal normal normal 14px/19px Open Sans;
            letter-spacing: 0px;
            color: #FFFFFF;
        }

    .operateGrp #DW_btnFirstImage {
        margin-left: 5px;
    }

    .operateGrp #DW_CurrentImage {
        margin: 0 0 0 -13px;
        text-align: right;
    }

    .operateGrp #DW_TotalImage {
        margin: 0 -7px 0 0;
        text-align: left;
    }

    .operateGrp #DW_spanZoom {
        width: 50px;
        text-align: center; /* margin-left: 5px; */ /* text-align: left; */
        font: normal normal normal 14px/19px Open Sans;
        letter-spacing: 0px;
        color: #FFFFFF;
    }

#DW_PreviewMode {
    padding: 0 5px;
    margin-left: 5px;
    height: 26px;
    border: solid 1px #d8d8d8;
    color: #444;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}
/*=============== ScanWrapper ===============*/
#ScanWrapper {
    float: right;
    width: 315px;
    height: 580px;
}

div.divinput {
    line-height: 24px;
    margin-bottom: 10px;
    text-align: left;
    background: #F5F5F5 0% 0% no-repeat padding-box;
}

.divType, #ScanWrapper .toggle {
    padding-left: 20px;
    height: 40px;
    line-height: 36px; /* font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; */ /* font-size: 14px; */ /* color: #444; */
    border-bottom: solid 1px #ccc; /* background: #eee; */
    cursor: pointer;
    background: #323234 0% 0% no-repeat padding-box;
    text-align: left;
    font: normal normal normal 16px/24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-top: 2px;
}

#ScanWrapper .toggle {
    cursor: default;
}

.divTableStyle {
    padding: 8px 20px 9px; /*border-bottom: solid 1px #ccc;*/
}

#ScanWrapper select, #divSaveDetail input[type='text'] {
    margin-top: 3px;
    margin-bottom: 6px;
    height: 26px;
    border: solid 1px #ccc;
    -moz-border-radius: 3px;
    outline: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #606060;
}

#ScanWrapper input[type='checkbox'], #ScanWrapper input[type='radio'] {
    margin: 0 3px 0 0;
}
/*#divScanner*/
#divScanner {
    border-bottom: none;
}

#PCollapse {
    list-style: none inside none;
    margin-left: 0;
    padding-left: 0;
}

select#source {
    margin-top: 3px;
    padding-left: 3px;
    width: 100%;
    font-size: 12px;
    outline: none;
}

select#Resolution {
    margin-left: 3px;
    width: 192px;
    height: 26px;
}

#divProductDetail li {
    margin-top: 8px;
}

    #divProductDetail li:first-child {
        margin-top: 3px;
    }

    #divProductDetail li label {
        display: inline-block;
        margin: 0 10px 0 0;
    }

        #divProductDetail li label:last-child {
            margin: 0;
        }

        #divProductDetail li label input {
            width: 15px;
            height: 15px;
            vertical-align: middle;
        }

    #divProductDetail li .lblPixelType {
        display: inline-block;
        margin: 0 28px 0 0;
    }

.btnScanGray {
    margin-top: 10px;
    margin-bottom: 8px;
    width: 120px;
    height: 32px;
    line-height: 30px;
    border: none;
    background: #ddd;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    font: normal normal normal 16px/24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.btnScanActive {
    background: 0% 0% no-repeat padding-box padding-box #50a8e1;
}

    .btnScanActive:hover {
        background: #50b3e1;
    }

#div_LoadLocalImage input[type='button'] {
    margin: 15px 0;
    width: 90px;
    height: 30px;
}

#div_ScanImage {
    position: relative;
}

    #div_ScanImage li {
        color: #323234;
        font-size: 12px;
    }

#tblLoadImage {
    position: absolute;
    top: 68px;
    z-index: 1;
    padding: 30px 15px;
    width: 275px;
    height: 128px;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    background-color: #f5f5f5;
    background: #606060 0% 0% no-repeat padding-box;
}

    #tblLoadImage > a {
        position: absolute;
        top: 15px;
        right: 15px;
        line-height: normal;
        text-decoration: none;
    }

    #tblLoadImage a {
        color: #FE8E14;
    }

        #tblLoadImage a:hover {
            color: #ffae38;
        }

    #tblLoadImage .imgClose {
        margin-top: -5px;
        margin-right: -5px;
    }

    #tblLoadImage .spanContent {
        letter-spacing: 0px;
        color: #FFFFFF;
        width: 200px;
        float: left;
        margin-left: 28px;
        margin-top: -20px;
    }

    #tblLoadImage .contentTitle {
        font: normal normal normal 14px/21px;
    }

    #tblLoadImage .contentDetail {
        font: normal normal normal 12px/22px Open Sans;
    }

.tabList {
    list-style: none;
    float: left;
    width: 50%;
    padding-left: 20px;
    height: 40px;
    cursor: pointer;
    text-align: left;
    font: normal normal normal 16px/24px;
    letter-spacing: 0px;
    padding-top: 6px;
}

.selectTab {
    border-top: solid 4px #323234;
}

.unselectTab {
    background: #323234 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    border-bottom: solid 1px #ccc;
}

#tabCon {
    height: 413px;
}

/*#divSaveDetail*/
#divSaveDetail input[type='text'] {
    width: 70%;
    padding-left: 5px;
}

#divSaveDetail li label {
    display: inline-block;
    margin: 0 8px 0 0;
}

#divSaveDetail li img {
    margin-right: 2px;
}

#divSaveDetail li label:last-child {
    margin-right: 0;
}

#divSaveDetail li input {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

#divSaveDetail li:nth-child(3) {
    margin: 5px 0 4px;
}

#divSaveDetail li {
    padding: 0 0px;
    color: #323234;
    font-size: 12px;
}

    #divSaveDetail li:nth-child(2) {
        padding-top: 5px;
    }

#divSaveDetail input[type='button'] {
    margin: 10px 0 10px 0;
}

#divSaveDetail #btnConferma {
    padding: 0;
    width: 120px;
    height: 32px;
    cursor: pointer;
    font: normal normal normal 16px/24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

#divSaveDetail #btnSave {
    padding: 0;
    width: 120px;
    height: 32px;
    cursor: pointer;
    font: normal normal normal 16px/24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

#divSaveDetail #txt_CustomInfo {
    width: 100%;
}

.dynamsoft-dwt-header {
    background: #323234 0% 0% no-repeat padding-box;
    height: 15px;
    margin-bottom: 30px;
}

#dwt-InstallBody .button-yes {
    width: 100px;
    margin-bottom: 20px;
    height: 42px;
    font: normal normal normal 16px/30px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #FE8E14 0% 0% no-repeat padding-box;
    border: none;
    cursor: pointer;
    margin-right: 23px;
}

    #dwt-InstallBody .button-yes:hover {
        background: #ffae38;
    }

#dwt-InstallBody .button-no {
    border: 2px solid #FE8E14;
    font: normal normal normal 16px/30px;
    letter-spacing: 0px;
    color: #FE8E14;
    text-transform: uppercase;
    background: #FFFFFF;
    width: 100px;
    height: 42px;
}

.dynamsoft-dwt-showMessage {
    margin-top: 15px;
}

.dynamsoft-dwt-showMessage-detail {
    margin-left: 85px;
    text-align: left;
    font: normal normal normal 14px/30px Open Sans;
    letter-spacing: 0px;
    color: #323234;
}

#showMessage {
    margin-right: 5px;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.dynamsoft-dwt-installdlg-buttons {
    margin: 20px 10px 8px 10px;
    text-align: center;
}
/*=============== DWTcontainerBtm ===============*/
#DWTcontainerBtm {
    position: relative;
    float: left;
    width: 996px
}

#DWTUploadContainer {
    float: left;
}

    #DWTUploadContainer input[type='text'] {
        border: solid 1px #ccc;
        padding-left: 3px;
    }

    #DWTUploadContainer input[type='button'] {
        cursor: pointer;
        margin: 0 3px;
        outline: none;
    }

#DWTdivUploade {
    padding: 5px 0 0;
    font-size: 14px;
    font: normal normal normal 14px/21px;
    letter-spacing: 0px;
    color: #323234;
}

#resultWrap {
    width: 100%;
    height: 258px;
    font-size: 8px;
    min-height: 80px;
    overflow-y: scroll;
}

    #resultWrap .info {
        padding: 8px 0 9px 20px;
    }

    #resultWrap .title {
        text-align: left;
        font: normal normal normal 13px/18px Open Sans;
        letter-spacing: 0px;
        color: #323234;
    }

    #resultWrap .content {
        text-align: left;
        font: normal normal normal 12px/17px Open Sans;
        letter-spacing: 0px;
        color: #606060;
        margin-left: 10px;
    }

    #resultWrap table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        display: table
    }

    #resultWrap table, th, td {
        border: none
    }
    /*#resultWrap a { color: #606060; text-decoration: none; background-color: transparent;}*/
    #resultWrap a {
        cursor: pointer;
        font: normal normal normal 12px/17px Open Sans;
        letter-spacing: 0px;
        color: #FE8E14;
    }

        #resultWrap a:hover {
            color: #ffae38;
        }

    #resultWrap tr td:nth-child(2) span {
        display: inline-block;
        width: 4px;
        height: 17px;
        color: #ccc;
        overflow: hidden;
    }

#DWTdivMsg {
    padding: 6px 0 0 8px;
    margin-top: 10px;
    width: 315px;
    height: 100px;
    overflow-y: scroll;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    font: normal normal normal 12px/17px Open Sans;
    border-top: solid 4px #323234;
}

.lblMessage {
    text-align: left;
    font: normal normal normal 14px/21px;
    letter-spacing: 0px;
    color: #323234;
}

#DWTemessage {
    width: 100%;
    height: 77%;
}

#DWTemessageContainer {
    float: right;
}

    #DWTemessageContainer p {
        margin: 0;
        color: #444;
        font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica;
    }

/*======================== Upload_list ==========================*/
#div-uploadedFile #wrapper {
    border: 2px solid #ddd;
    border-radius: 3px;
}

#div-uploadedFile .container {
    width: 870px;
}

#div-uploadedFile .d-btn {
}

#DWTUploadContainer #resultWrap #div-uploadedFile table {
    width: 100%;
}

#resultWrap #div-uploadedFile th {
    width: 35%;
    text-align: left;
    font-size: 12px;
    color: #444;
    height: 30px;
    font-weight: bold;
    padding-left: 10px;
    background: #CCCCCC 0% 0% no-repeat padding-box;
    font: normal normal normal 14px/21px;
    letter-spacing: 0px;
    color: #323234;
}

#resultWrap #div-uploadedFile tr {
    height: 30px;
    font-family: OpenSans-Regular;
    font-size: 14px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    text-align: left;
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #606060;
    padding-left: 10px;
}

    #resultWrap #div-uploadedFile tr:nth-child(odd) {
        background: #F5F5F5 0% 0% no-repeat padding-box;
    }

#resultWrap #div-uploadedFile td {
    padding-left: 10px;
}

#resultWrap #div-uploadedFile tr td:nth-child(2) span {
    display: inline-block;
    width: 18px;
    height: 17px;
    color: #ccc;
    overflow: hidden;
}

/*=============== dailog ===============*/
.ds-dialog-wrap, .ds-dialog-wrap div {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

    .ds-dialog-wrap:before, .ds-dialog-wrap div:before, .ds-dialog-wrap:after, .ds-dialog-wrap div:after {
        -webkit-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;
        box-sizing: content-box !important;
    }

.ks-overlay {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.ks-ext-close {
    padding: 0 20px;
    position: absolute;
    right: -5px;
    top: 5px;
}

    .ks-ext-close, .ks-ext-close:link {
        color: #2222AA;
        text-decoration: none;
        cursor: pointer;
    }

.ks-ext-mask {
    background: #999;
    filter: alpha(opacity=70); /* IE */
    -moz-opacity: 0.7; /* Moz + FF */
    opacity: 0.7; /* CSS3 e.g. FF 1.5 */
}

.D-dailog .ks-ext-close .ks-ext-close-x {
    height: 8px;
}

.D-dailog .ks-ext-close, .D-dailog .ks-ext-close:hover {
    background: none;
    border: none;
}

.D-dailog {
    position: absolute;
    left: -9999px;
    top: -99999px;
    margin: 100px auto;
    padding: 0;
    width: 392px;
    height: 262px;
    background-color: #F1F2F2;
}

    .D-dailog .D-dailog-body {
        width: 350px;
        height: 200px;
        position: relative;
        top: 5px;
        left: 5px;
        margin: 0;
        background-color: #ffffff;
        border: 1px solid #E7E7E7;
        padding: 15px;
    }

    .D-dailog .D-dailog-body-Mac {
        width: 350px;
        height: 235px;
        position: relative;
        top: 5px;
        left: 5px;
        margin: 0;
        background-color: #ffffff;
        border: 1px solid #E7E7E7;
        padding: 15px;
    }

    .D-dailog .D-dailog-body-NotAllowed {
        color: #444;
        line-height: 1.8;
        width: 350px;
        height: 185px;
        position: relative;
        top: 5px;
        left: 5px;
        margin: 0;
        background-color: #ffffff;
        border: 1px solid #E7E7E7;
        padding: 15px;
    }

    .D-dailog .D-dailog-body-Scan {
        width: 380px;
        height: 240px;
        position: relative;
        top: 5px;
        left: 5px;
        margin: 0;
        background-color: #ffffff;
        border: 1px solid #E7E7E7;
        padding: 15px;
    }

    .D-dailog .D-dailog-body-Scan-sample {
        width: 380px;
        height: 200px;
        position: relative;
        top: 5px;
        left: 5px;
        margin: 0;
        background-color: #ffffff;
        border: 1px solid #E7E7E7;
        padding: 15px;
    }

    .D-dailog a {
        text-decoration: none;
    }

.link {
    text-decoration: underline;
}

.D-dailog ul {
    margin: 10px 0 10px 20px;
    list-style-type: disc;
}

.red {
    color: red;
    margin-left: 5px;
}
/*=============== Upgrade ===============*/
#message {
    font-family: Arial, sans-serif, Verdana, Helvetica;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 105;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    padding: 10px 0px 10px 0px;
    color: #239210;
    background-color: #E0F0D6;
    border: 1px solid #54D33F;
    box-shadow: 0 0 10px #3A3A3A;
}

#MessageBody a {
    color: #6A9962;
    font-size: 14px;
}

#message span {
    text-align: center;
    width: 95%;
    float: left;
}

#MessageBoy a:hover {
    text-decoration: underline;
}

.close-notify {
    white-space: nowrap;
    float: right;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    border: 2px #fff solid;
    padding-left: 3px;
    padding-right: 3px;
}

    .close-notify a {
        color: #fff;
    }

.DWTPage {
    margin: 0 auto;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #divEdit {
        height: 42px;
    }
}

.removable-list-item {
    display: inline-block;
    background: #b7d5e8;
    color: white;
    padding: 2px 4px 2px 6px !important;
    font-size: 14px;
    margin-left: 3px !important;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    border-radius: 3px;
}

.removable-span-item {
    cursor: pointer;
    margin-left: 11px;
    background: white;
    color: black;
    border-radius: 53%;
    padding: 2px 7px 2px 6px;
}