<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="log4net" value="true" />
    <add key="Customer" value="VecompSoftware - LiveUpdateService" />
    <!--Impostazioni condivise notifica-->
    <add key="NotificationMailEnabled" value="true" />
    <!--<add key="NotificationMailTo" value="assistenza@vecompsoftware.it"/>-->
    <add key="NotificationMailTo" value="emanuele.fabbri@vecompsoftware.it" />
    <!--<add key="NotificationMailCc" value="alejandro.gonzalez@vecompsoftware.it;emanuele.fabbri@vecompsoftware.it;andrea.piccoli@vecompsoftware.it"/>-->
    <!--Esempio Configurazione Office 365-->
    <!--Valori previsti per NotificationMailType: smtp=> server smtp| oppure exchange=> web service di exchange-->
    <!--<add key="NotificationMailType" value="smtp"/>
    <add key="NotificationMailServer" value="pod51015.outlook.com"/>
    <add key="NotificationMailServerPort" value="587"/>
    <add key="NotificationMailServerAuthenticationType" value="plain"/>
    <add key="NotificationMailFrom" value="servizio.docsuiteweb@vecompsoftware.it"/>
    <add key="NotificationMailUserName" value="serviziodocsuiteweb@vecompsoftware.it"/>
    <add key="NotificationMailUserPassword" value="Passw0rd"/>
    <add key="NotificationMailDomain" value=""/>-->
    <!--Esempio Configurazione Server Mail Locale-->
    <!--Valori previsti per NotificationMailType: smtp=> server smtp| oppure exchange=> web service di exchange-->
    <add key="NotificationMailType" value="smtp" />
    <add key="NotificationMailServer" value="srvsmtp" />
    <add key="NotificationMailFrom" value="jeepservice_liveupdate@vecompsoftware.it" />
    <!--Esempio Configurazione Exchange Enav-->
    <!--Valori previsti per NotificationMailType: smtp=> server smtp| oppure exchange=> web service di exchange-->
    <!--<add key="NotificationMailType" value="exchange"/>
    <add key="NotificationMailServer" value="https://enavmail.enav.it/ews/Exchange.asmx"/>
    <add key="NotificationMailFrom" value="skydoc_no_reply@enav.it"/>
    <add key="NotificationMailUserName" value="efabbri.vecomp"/>
    <add key="NotificationMailUserPassword" value="V3c0mpp1cc0l12013"/>-->
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="JeepService.JeepService.DashboardService.FileRepositoryService">
        <endpoint name="" binding="netTcpBinding" address="net.tcp://localhost:5000" contract="Vecompsoftware.FileServer.Services.IFileRepositoryService" bindingConfiguration="customTcpBinding" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="customTcpBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>