<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cli_basetypes" version="1.0.20.0" targetFramework="net461" />
  <package id="cli_cppuhelper" version="1.0.23.0" targetFramework="net461" />
  <package id="cli_oootypes" version="1.0.9.0" targetFramework="net461" />
  <package id="cli_ure" version="1.0.23.0" targetFramework="net461" />
  <package id="cli_uretypes" version="1.0.9.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="VecompSoftware.Commons.BiblosDS.Objects" version="8.79.19078.2" targetFramework="net461" />
</packages>