<appSettings>
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://srvgeddev.vecompsoftware.local/DocSuiteNamespace;StsEndpoint=https://srvgeddev.vecompsoftware.local:9355/DocSuiteNamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=pe3QDNHy/kTRy4hkIsFa0klir0Cq093kHSlJ7qa1u0s=" />
  <add key="Microsoft.WorkflowManager.ScopeUrl" value="https://srvgeddev.vecompsoftware.local:12290" />
  <add key="Microsoft.WorkflowManager.PollingInterval.TimeSpan" value="00:01:00" />
</appSettings>