
<nav class="navbar navbar-inverse navbar-fixed-top">  
    <div class="container-fluid">
        <div class="navbar-header">
            <h3 [innerHTML]="title" class="navbar-text navbar-left nounderline"></h3>
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
        </div>
    </div>
</nav>
<div>
    <div>
        <loading-spinner></loading-spinner>
    </div>
    <router-outlet></router-outlet>
</div>

