<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetNamedTcpBinding" receiveTimeout="00:30:00" transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="None"/>
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="BiblosDS.WCF.StampaConforme.ServiceStampaConformeBehavior" name="BiblosDS.WCF.StampaConforme.ServiceStampaConforme">
                <endpoint address="net.tcp://localhost/ServiceStampaConformeHost/" binding="netTcpBinding" bindingConfiguration="NetNamedTcpBinding" name="ServiceStampaConforme" bindingName="ServiceStampaConforme" bindingNamespace="BiblosDS" contract="BiblosDS.WCF.Interface.IServiceStampaConforme">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="BiblosDS.WCF.StampaConforme.ServiceStampaConformeBehavior">
                    <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
                    <serviceMetadata httpGetEnabled="false"/>

                    <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="True"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
