.ng-invalid .k-dateinput-wrap {
    color: #656565 !important;
    border-color: rgba(0,0,0,.08) !important;
}

.ng-invalid .k-picker-wrap {
    color: #656565 !important;
    border-color: rgba(0,0,0,.08) !important;
}

.k-icon {
    margin-right: 10px;
}

    .k-icon.k-i-loading {        
        top: 50%;
        left: 50%;
        color: #ff6358;
    }

.k-icon-64 {
    font-size: 64px;
}
