<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VecompSoftware.JeepDashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <VecompSoftware.JeepDashboard.Properties.Settings>
      <setting name="ServiceName" serializeAs="String">
        <value>VecompSoftware.JeepService8</value>
      </setting>
      <setting name="LiveUpdateServiceName" serializeAs="String">
        <value>VecompSoftware.JeepServiceLiveUpdate</value>
      </setting>
      <setting name="JeepServicePath" serializeAs="String">
        <value>C:\Workspaces\JeepService [8.58]\Service\JeepService\bin\Debug\JeepService.exe</value>
      </setting>
      <setting name="log4netConfig" serializeAs="String">
        <value>C:\Workspaces\JeepService [8.58]\Service\JeepService\Config\log4net.config</value>
      </setting>
      <setting name="JeepServiceConfig" serializeAs="String">
        <value>C:\Workspaces\JeepService [8.58]\Service\JeepService\Config\JeepConfig.xml</value>
      </setting>
      <setting name="LiveUpdatePath" serializeAs="String">
        <value>C:\Workspaces\JeepService [8.58]\Service\VecompSoftware.JeepService.LiveUpdate\bin\Debug\VecompSoftware.JeepService.LiveUpdate.exe</value>
      </setting>
    </VecompSoftware.JeepDashboard.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="LiveUpdateServiceAddress" value="" />
    <add key="ServiceBaseFolder" value="C:\Users\Fabbri\Source\Workspaces\LavoroSviluppo\JS8\JeepService\bin\Debug" />
    <add key="ModulesFolder" value="C:\Users\Fabbri\Source\Workspaces\LavoroSviluppo\JS8\Modules" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:5000" binding="netTcpBinding" bindingConfiguration="customTcpBinding" contract="Vecompsoftware.FileServer.Services.IFileRepositoryService" name="FileRepositoryService" />
      <endpoint address="http://wcf.jeepserviceliveupdate.fabbrisoft.it/LiveUpdate.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILiveUpdate" contract="LiveUpdateServiceReference.ILiveUpdate" name="BasicHttpBinding_ILiveUpdate" />
    </client>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILiveUpdate" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="customTcpBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ionic.Zip" publicKeyToken="6583c7c814667745" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.8.0" newVersion="1.9.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq.EagerFetching" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
