<bindings>
  <basicHttpBinding>
    <binding name="BasicHttpStreamedBinding"
             transferMode="Streamed"
             maxReceivedMessageSize="2147483647"
             maxBufferSize="2147483647">
      <readerQuotas maxDepth="128"
                    maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" />
      <security mode="None" />
    </binding>

    <binding name="BasicHttpEndpointBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
      <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
      <security mode="TransportCredentialOnly">
        <transport clientCredentialType="Windows" />
      </security>
    </binding>
  </basicHttpBinding>
  
  <netNamedPipeBinding>
    <binding name="NetNamedPipeStreamedBinding"
             transferMode="Streamed"
             maxReceivedMessageSize="2147483647"
             maxBufferSize="2147483647">
      <readerQuotas maxDepth="128"
                    maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" />
      <security mode="None" />
    </binding>
  </netNamedPipeBinding>
  
  <netTcpBinding>
    <binding name="NetTcpStreamedBinding"
             transferMode="Streamed"
             maxReceivedMessageSize="2147483647"
             maxBufferSize="2147483647">
      <readerQuotas maxDepth="128"
                    maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" />
      <security mode="None" />
    </binding>
  </netTcpBinding>

  <wsHttpBinding>
    <binding name="WsHttpBindingCfg" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
      <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384000" maxBytesPerRead="4096" maxNameTableCharCount="16384000" />
      <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
      <security mode="None" />
    </binding>
  </wsHttpBinding>

</bindings>