<services>
  <service behaviorConfiguration="MetadataServiceBehavior" name="VecompSoftware.DocSuiteWeb.API.APIService">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding"
      contract="VecompSoftware.DocSuiteWeb.API.IAPIService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service behaviorConfiguration="MetadataServiceBehavior" name="VecompSoftware.DocSuiteWeb.API.OChartService">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding"
      contract="VecompSoftware.DocSuiteWeb.API.IOChartService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service behaviorConfiguration="MetadataServiceBehavior" name="VecompSoftware.DocSuiteWeb.API.ProtocolService">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding"
      contract="VecompSoftware.DocSuiteWeb.API.IProtocolService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service behaviorConfiguration="MetadataServiceBehavior" name="VecompSoftware.DocSuiteWeb.API.MailService">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding"
      contract="VecompSoftware.DocSuiteWeb.API.IMailService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service behaviorConfiguration="MetadataServiceBehavior" name="VecompSoftware.DocSuiteWeb.API.FastMergeService">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding"
      contract="VecompSoftware.DocSuiteWeb.API.IFastMergeService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />    
  </service>
  <service behaviorConfiguration="MetadataServiceBehavior" name="VecompSoftware.DocSuiteWeb.API.CollaborationService">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding"
      contract="VecompSoftware.DocSuiteWeb.API.ICollaborationService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
  <service behaviorConfiguration="MetadataServiceBehavior" name="VecompSoftware.DocSuiteWeb.API.FastInvoiceProtocolService">
    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding"
      contract="VecompSoftware.DocSuiteWeb.API.IFastInvoiceProtocolService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
  </service>
</services>