<bindings>

  <basicHttpBinding>
    <binding name="BasicHttpStreamedBinding"
             transferMode="Streamed"
             maxReceivedMessageSize="2147483647"
             maxBufferSize="2147483647">
      <readerQuotas maxDepth="128"
                    maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" />
      <security mode="None" />
    </binding>

    <binding name="BasicHttpEndpointBinding" maxBufferSize="640000000" maxReceivedMessageSize="640000000" maxBufferPoolSize="640000000" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">
      <readerQuotas maxDepth="640000000" maxStringContentLength="640000000" maxArrayLength="640000000" maxBytesPerRead="640000000" />
      <security mode="TransportCredentialOnly">
        <transport clientCredentialType="Windows" />
      </security>
    </binding>

  </basicHttpBinding>

</bindings>