<appSettings>
  <clear />
  
  <!-- Service Bus specific app setings for messaging connections -->
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://srvazvsdev.vecompsoftware.local/DocSuiteNamespace;StsEndpoint=https://srvazvsdev.vecompsoftware.local:9355/DocSuiteNamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=JRIjZKohmkbhwBy66XugRrNQve8hMrQyxnS/YmT0xk4=" />

  <!--<add key="QueueName" value="management_uds_create" />
    <add key="QueueName" value="management_uds_update" />
    <add key="QueueName" value="data_uds_insert" />
    <add key="QueueName" value="data_uds_update" />
    <add key="QueueName" value="data_uds_delete" />
    <add key="QueueName" value="cqrs_insert" />
    <add key="QueueName" value="cqrs_update" />
    <add key="QueueName" value="management_uds_create" />-->

  <!--<add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.UDS.Listener.Create.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.UDS.Listener.Update.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.UDS.Listener.DataInsert.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.UDS.Listener.DataUpdate.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.UDS.Listener.DataDelete.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.CQRS.Listener.ModelInsert.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.CQRS.Listener.ModelUpdate.dll" />
    <add key="VecompSoftware.ServiceBus.Receiver.Listener.Assembly.FullName" value="VecompSoftware.ServiceBus.Module.UDS.Listener.Create.dll" />-->

</appSettings>