<client>
  <clear />
      <endpoint address="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/Documents.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocuments"
          contract="DocumentService.IDocuments" name="BasicHttpBinding_IDocuments" />
      <endpoint address="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/DigitalSignature.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDigitalSign"
          contract="SignService.IServiceDigitalSign" name="BasicHttpBinding_IServiceDigitalSign" />
      <endpoint address="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/ContentSearch.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContentSearch"
          contract="SearchService.IContentSearch" name="BasicHttpBinding_IContentSearch" />
      <endpoint address="http://rmvsw-sc.westeurope.cloudapp.azure.com/StampaConforme2010/BiblosDSConv.asmx"
        binding="basicHttpBinding" bindingConfiguration="BiblosDSConvSoap"
        contract="StampaConformeService.BiblosDSConvSoap" name="BiblosDSConvSoap" />
</client>