<p><b>Avviso</b></p>
<p>La collaborazione con ID {0:IdCollaborazione} e data di registrazione {0:DataRegistrazione} sta per scadere.<br />
Clicca il seguente link per visualizzare tale collaborazione.<br />
{0:Link}</p>

<table>
    <tr>
        <td>
            <b>Id collaborazione: </b>
        </td>
        <td>
            {0:IdCollaborazione}
        </td>
    </tr>
    <tr>
        <td>
            <b>Data avviso: </b>
        </td>
        <td>
            {0:DataAvviso}
        </td>
    </tr>
    <tr>
        <td>
            <b>Oggetto: </b>
        </td>
        <td>
            {0:Oggetto}
        </td>
    </tr>
    <tr>
        <td>
            <b>Note: </b>
        </td>
        <td>
            {0:Note}
        </td>
    </tr>
</table>