<connectionStrings>
  <clear />
  <add connectionString="Data Source=SRVGEDDEV9999.CLOUDAPP.NET;Initial Catalog=AUSLRE_Protocollo;persist security info=True;MultipleActiveResultSets=True;Max Pool Size=1024;user id=DocSuite;password=Passw0rd;Application Name=DSW.PrivateWebAPI" name="DSWDataContext" providerName="System.Data.SqlClient" />
</connectionStrings>