<client>
  <endpoint address="http://./BiblosDS2010WCF/Documents.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding"
      contract="DocumentService.IDocuments" name="BasicHttpStreamedBinding" />
  <endpoint address="http://./StampaConforme/BiblosDSConv.asmx"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding"
      contract="SC.BiblosDSConvSoap" name="BiblosDSConvSoap" />

</client>