<appSettings>
  <add key="VecompSoftware.Logger.Services.InterceptorEnabled" value="false" />
  <add key="VecompSoftware.Logger.Mappers.InterceptorEnabled" value="false" />
  <add key="VecompSoftware.Logger.Validations.InterceptorEnabled" value="false" />
  <add key="VecompSoftware.DocSuiteWeb.UDS.Assembly.FullName" value="VecompSoftware.DocSuiteWeb.UDS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  <add key="VecompSoftware.DocSuiteWeb.UDS.FileName" value="" />
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://srvgeddev.vecompsoftware.local/DocSuiteNamespace;StsEndpoint=https://srvgeddev.vecompsoftware.local:9355/DocSuiteNamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=pe3QDNHy/kTRy4hkIsFa0klir0Cq093kHSlJ7qa1u0s=" />
  <add key="VecompSoftware.DocSuiteWeb.Finder.ConfigurationName" value="AUSL" />
  <!-- VecompSoftware.DocSuiteWeb.AllowCrossOrigin può assumere il valore ALL (tutte le oringini client) o RESTRICTED (necessita della gestione del json in App_Data\ConfigurationFiles\WebAPI.Origin.Allow.Lists.json -->
  <add key="VecompSoftware.DocSuiteWeb.AllowCrossOrigin" value="ALL" />
  <!-- VecompSoftware.DocSuiteWeb.Service.Workflow.EngineType può assumere il valore Machine, Domain o ApplicationDirectory  -->
  <add key="VecompSoftware.DocSuiteWeb.Security.ContextType" value="Domain" />
  <add key="VecompSoftware.DocSuiteWeb.OnlinePublicationInterval" value="15" />
  <add key="VecompSoftware.DocSuiteWeb.CustomInstanceName" value="" />
  <!-- VecompSoftware.DocSuiteWeb.ServiceBus.Subscription.AutoDeleteOnIdle valore in secondi che determina la durata massima della sottoscrizione delle UDS  -->
  <add key="VecompSoftware.DocSuiteWeb.ServiceBus.Subscription.AutoDeleteOnIdle" value="600" />
  <!-- VecompSoftware.DocSuiteWeb.ServiceBus.Subscription.DefaultMessageTimeToLive valore in secondi che determina la durata del messaggio prima che venga eliminato dalla coda delle UDS  -->
  <add key="VecompSoftware.DocSuiteWeb.ServiceBus.Subscription.DefaultMessageTimeToLive" value="600" />
  <!-- VecompSoftware.DocSuiteWeb.ServiceBus.Subscription.LockDuration valore in secondi che determina il timeout prima di generare errore dell'operazione dell'UDS -->
  <add key="VecompSoftware.DocSuiteWeb.ServiceBus.Subscription.LockDuration" value="60" />
  <!-- VecompSoftware.DocSuiteWeb.ServiceBus.Subscription.MaxDeliveryCount valore di tentativi prima di fallire per notificare la risposta dell'azione dell'UDS -->
  <add key="VecompSoftware.DocSuiteWeb.ServiceBus.Subscription.MaxDeliveryCount" value="3" />
</appSettings>