<client>
  <endpoint address="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/Documents.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding"
      contract="DocumentService.IDocuments" name="BasicHttpStreamedBinding" />
  <endpoint address="http://geddevsc.northeurope.cloudapp.azure.com/StampaConforme/BiblosDSConv.asmx"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpStreamedBinding"
      contract="SC.BiblosDSConvSoap" name="BiblosDSConvSoap" />

</client>