<nav class="sidebar">
    <ul class="list-group">
        <a routerLink="/home" routerLinkActive="router-link-active" class="list-group-item" aria-hidden="true">
            <i class="fa fa-tachometer"></i>&nbsp;Dashboard
        </a>
        <a routerLink="/nuova-richiesta" routerLinkActive="router-link-active" class="list-group-item" aria-hidden="true">
            <i class="fa fa-pencil-square-o"></i>&nbsp;Nuova richiesta
        </a>
        <a routerLink="/le-mie-richieste" routerLinkActive="router-link-active" class="list-group-item" aria-hidden="true">
            <i class="fa fa-list-alt"></i>&nbsp;Le mie richieste
        </a>
    </ul>
</nav>