<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CCypher" version="1.0.0.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="VecompSoftware.Commons.BiblosDS.Objects" version="8.79.19078.2" targetFramework="net461" />
</packages>