<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!-- Connessione AZURE -->
    <!--<add name="BiblosDS" connectionString="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=b8pisbavxp.database.windows.net;Initial Catalog=BiblosDs2010;User ID=DocSuite@b8pisbavxp;Password=Passw0rd;&quot;" providerName="System.Data.EntityClient"/>-->
    <!-- Connessione locale -->
    <!--<add name="BiblosDS2010Entities" connectionString="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=srvbiblos;initial catalog=DevBiblosDS2010;user id=DocSuite;password=DocSuite;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Connessione APH_BiblosDS su SRVBIBLOS -->
    <add name="_BiblosDS2010Entities" connectionString="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRVGEDDEV9999.CLOUDAPP.NET;initial catalog=BiblosDs2010;user id=DocSuite;password=Passw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="BiblosDS2010Entities" connectionString="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRVGEDDEV9999.CLOUDAPP.NET;initial catalog=BiblosDs2010;user id=DocSuite;password=Passw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

    <!-- Connessione TEAFLEX -->
    <!--<add name="BiblosDS" connectionString="metadata=res://*/Model.BiblosDSEntityFramework.csdl|res://*/Model.BiblosDSEntityFramework.ssdl|res://*/Model.BiblosDSEntityFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BIASSRV06;Initial Catalog=BiblosDS2010;User ID=sa;Password=teaflexsql;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings> 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
