<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nhibernateSettings" type="VecompSoftware.NHibernateManager.Config.OpenSessionInViewSection, VecompSoftware.NHibernateManager" />
  </configSections>

  <nhibernateSettings>
    <sessionFactories default="ProtDB" interceptor="VecompSoftware.DocSuiteWeb.Data.DocSuiteInterceptor, VecompSoftware.DocSuiteWeb.Data">
      <clearFactories />
      <sessionFactory name="ProtDB" factoryConfigPath="Config/ProtDB.config" cfg="VecompSoftware.DocSuiteWeb.Data.NHibernateConfiguration, VecompSoftware.DocSuiteWeb.Data" isTransactional="true" />
      <sessionFactory name="DocmDB" factoryConfigPath="Config/DocmDB.config" cfg="VecompSoftware.DocSuiteWeb.Data.NHibernateConfiguration, VecompSoftware.DocSuiteWeb.Data" isTransactional="true" />
      <sessionFactory name="ReslDB" factoryConfigPath="Config/ReslDB.config" cfg="VecompSoftware.DocSuiteWeb.Data.NHibernateConfiguration, VecompSoftware.DocSuiteWeb.Data" isTransactional="true" />
    </sessionFactories>
  </nhibernateSettings>

  <connectionStrings>
    <clear />
    <add name="ProtConnection" connectionString="Data Source=.;  Initial Catalog=ASLTO_Protocollo;User ID=sa;Pwd=Passw0rd;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <appSettings file="">
    <clear />
    <add key="Customer" value="VecompSoftware - Sviluppo" />
    <add key="JeepConfig" value="C:\_w\JeepService_global\releases\iterations [2018]\JeepService 8.77\Service\JeepService\Config\JeepConfig.xml" />
    <add key="autolog" value="false" />
    <add key="log4net" value="true" />
    <add key="DocSuiteWeb.Biblos.URI" value="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/Documents.svc" />
    <add key="DocSuite.BiblosDSConv.BiblosdSConv" value="http://rmvsw-sc.westeurope.cloudapp.azure.com/StampaConforme2010/BiblosDSConv.asmx" />
    <add key="NotificationMailEnabled" value="false" />
    <add key="NotificationMailTo" value="**REMOVE**@dgroove.it" />
    <add key="NotificationMailCc" value="" />
    <add key="NotificationMailType" value="limilabs" />
    <add key="NotificationMailServer" value="smtp.office365.com" />
    <add key="NotificationMailServerPort" value="587" />
    <add key="NotificationMailServerSslAuthentication" value="true" />
    <add key="NotificationMailFrom" value="serviziodocsuiteweb**REMOVE**.it" />
    <add key="NotificationMailUserName" value="serviziodocsuiteweb**REMOVE**.it" />
    <add key="NotificationMailUserPassword" value="Passw0rd" />
    <add key="NotificationMailDomain" value="" />
    <add key="JeepCatcherEnabled" value="false" />
    <add key="JeepCatcherUrl" value="" />

    <add key="DocSuiteWeb.Biblos.DisableInnerConversion" value="True" />
    <add key="DocSuiteWeb.Biblos.DisableCloneDocument" value="False" />
    <add key="DocSuiteWeb.Biblos.CheckIsAliveEnabled" value="True" />
    <add key="DocSuiteWeb.Biblos.CheckIsAliveTimer" value="10" />
    <add key="DocSuiteWeb.Biblos.LatestVersionWorkaround" value="False" />
    <add key="DocSuiteWeb.Biblos.AttributesPour" value="False" />
    <add key="DocSuiteWeb.Biblos.SkipEmptyDataTime" value="False" />

    <add key="DocSuite.Default.ODATA.Finder.TopQuery" value="100" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpStreamedBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="HTTPStreamedBinding" sendTimeout="00:10:00" transferMode="Streamed" />
        <binding name="basicHttpBindingCfg" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="52428800" maxReceivedMessageSize="655360000" textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="163840000" maxBytesPerRead="4096" maxNameTableCharCount="1638400" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpStreamedBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WsHttpBindingCfg" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384000" maxBytesPerRead="4096" maxNameTableCharCount="16384000" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <clear />
      <endpoint address="http://SRVGEDDEV9999.CLOUDAPP.NET/BiblosDS2010WCF/Documents.svc" behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingCfg" contract="DocumentsService.IDocuments" name="Biblos.Documents" kind="" endpointConfiguration="">
        <identity>
          <userPrincipalName value="" />
          <servicePrincipalName value="" />
          <dns value="" />
          <rsa value="" />
          <certificate encodedValue="" />
          <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectDistinguishedName" findValue="" isChainIncluded="false" />
        </identity>
      </endpoint>
      <endpoint address="http://rmvsw-sc.westeurope.cloudapp.azure.com/StampaConforme2010/BiblosDSConv.asmx" behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingCfg" contract="StampaConformeService.BiblosDSConvSoap" name="Biblos.StampaConforme" kind="" endpointConfiguration="">
        <identity>
          <userPrincipalName value="" />
          <servicePrincipalName value="" />
          <dns value="" />
          <rsa value="" />
          <certificate encodedValue="" />
          <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectDistinguishedName" findValue="" isChainIncluded="false" />
        </identity>
      </endpoint>
      <metadata>
        <policyImporters>
          <clear />
          <extension type="System.ServiceModel.Channels.PrivacyNoticeBindingElementImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <extension type="System.ServiceModel.Channels.UseManagedPresentationBindingElementImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <extension type="System.ServiceModel.Channels.TransactionFlowBindingElementImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <extension type="System.ServiceModel.Channels.ReliableSessionBindingElementImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <extension type="System.ServiceModel.Channels.SecurityBindingElementImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <extension type="System.ServiceModel.Channels.CompositeDuplexBindingElementImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <extension type="System.ServiceModel.Channels.OneWayBindingElementImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <extension type="System.ServiceModel.Channels.MessageEncodingBindingElementImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <extension type="System.ServiceModel.Channels.TransportBindingElementImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <extension type="System.ServiceModel.Channels.ContextBindingElementImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, processorArchitecture=MSIL" />
        </policyImporters>
        <wsdlImporters>
          <clear />
          <extension type="System.ServiceModel.Description.DataContractSerializerMessageContractImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <extension type="System.ServiceModel.Description.XmlSerializerMessageContractImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <extension type="System.ServiceModel.Channels.MessageEncodingBindingElementImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <extension type="System.ServiceModel.Channels.TransportBindingElementImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <extension type="System.ServiceModel.Channels.StandardBindingImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <extension type="System.ServiceModel.Channels.ContextBindingElementImporter, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, processorArchitecture=MSIL" />
        </wsdlImporters>
      </metadata>
    </client>

  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq.EagerFetching" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VecompSoftware.Helpers" publicKeyToken="bea6ad8812d06015" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.85.0.0" newVersion="8.85.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
