body {
  padding-top: 128px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-fixed-top {
  background: #FFF;
}

.blc-cont {
  padding: 20px 0px;
  padding-bottom: 0px;
}
.blc-cont-image {
  background-color: #fece7a;
  background: url('../images/background_cont_70.jpg') no-repeat;
  background-size: 100%;
  background-position-y: center;

}
.blc-cont-middle {
  background-color: #f5f5fd;
}
.blc-cont-lnee {
  background-color: #e1e4ed;
  background: url('../images/background_last.gif') no-repeat;
  background-size: 100%;
  background-position-y: center;
}

.panel {
  border: 1px solid #ededed;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 30px;
}
a.title {
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 10px;
}
a.title02 {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 10px;
}
.date {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}
.navbar-brand {
  height: 100px;
  margin-left: 0px !important;
  padding: 0px;
}
.navbar-collapse {
  width: 75%;
}
.news {
  background: #fff url('../images/bg_news.png') no-repeat;
  background-size: auto;
  background-position-y: bottom;
}
.news .panel-body div,
.help_desk .panel-body div,
.quality .panel-body div,
.circolari .panel-body div{
  padding-left: 75px;
}
.mail {
  background: #fff url('../images/bg_mail.png') no-repeat;
  background-size: auto;
  background-position-y: top;
}
.mail a {
  padding-left: 120px;
  font-size: 20px;
  height: 69px;
  font-weight: bold;
}
.help_desk {
  background: #fff url('../images/bg_helpDesk.png') no-repeat;
  background-size: auto;
  background-position-y: bottom;
}
.quality {
  background: #fff url('../images/bg_quality.png') no-repeat;
  background-size: auto;
  background-position-y: bottom;
}
.circolari {
  background: #fff url('../images/bg_circolari.png') no-repeat;
  background-size: auto;
  background-position-y: bottom;"
}


/* BOX Misure */
.bx_111 {
  overflow: hidden;
  height: 111px;
  position: relative;
}
.bx_155 {
  overflow: hidden;
  height: 155px;
  position: relative;
}
.bx_195 {
  overflow: hidden;
  height: 195px;
  position: relative;
}
.bx_236 {
  overflow: hidden;
  height: 236px;
  position: relative;
}
.bx_239 {
  overflow: hidden;
  height: 239px;
  position: relative;
}
.bx_257 {
  overflow: hidden;
  height: 257px;
  position: relative;
}
.bx_278 {
  overflow: hidden;
  height: 278px;
  position: relative;
}
.bx_319 {
  overflow: hidden;
  height: 319px;
  position: relative;
}
.bx_338 {
  overflow: hidden;
  height: 338px;
  position: relative;
}
.bx_340 {
  overflow: hidden;
  height: 340px;
  position: relative;
}
.bx_403 {
  overflow: hidden;
  height: 403px;
  position: relative;
}

.bx_338 img {
  width: 100%; 
  height: max-content;
}

a.arrow {
  float: right;
  font-weight: bold;
}
a.arrow:after,
a.arrow_box:after {
  content:url('../images/ico_readAll.png');
  position:relative;
  top: 5px;
  margin-left: 10px;
}
.arrow_box {
  font-weight: bold;
}
.margin-top-0 {
  margin-top: 0px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-bottom-0 {
  margin-bottom: 0px !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-right-0 {
  margin-right: 0px !important;
}
.margin-right-5 {
  margin-right: 5px !important;
}
.margin-right-15 {
  margin-right: 15px !important;
}
.margin-left-0 {
  margin-left: 0px !important;
}
.margin-left-10 {
  margin-left: 10px !important;
}

.padding-none {
  padding: 0px !important;
}
.padding-5 {
  padding: 5px !important;
}
.padding-15 {
  padding: 15px !important;
}
.padding-20 {
  padding: 20px !important;
}
.padding-top-0 {
  padding-top: 0px !important;
}
.padding-top-5 {
  padding-top: 5px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-right-0 {
  padding-right: 0px !important;
}
.padding-left-0 {
  padding-left: 0px !important;
}
.padding-left-5 {
  padding-left: 5px !important;
}
.padding-left-10 {
  padding-left: 10px !important;
}
.padding-left-15 {
  padding-left: 15px !important;
}
.font-size-16 {
  font-size: 16px !important;
}
.font-size-18 {
  font-size: 18px !important;
}
.font-size-20 {
  font-size: 20px !important;
}
.separatore {
  border-bottom: 1px solid #eee;
}
.separatore_dot {
  border-bottom: 1px dotted #eee;
}
.width-x-100 {
  width: 100% !important;
}
.lnk_all {
  text-align: right;
  bottom: 0px;
  position: absolute;
  width: 100%;
  background-color: #FFF;
  z-index: 2;
  padding-bottom: 10px;
}
.carousel-indicators li {
  background-color: #6b9bcb;
}
.carousel-indicators .active {
  background-color: #0053a6;
}
.carousel-indicators {
  bottom: -40px;
  left: 0%;
  margin-left: 0px;
  text-align: left;
  width: 100%;
}
.icon-menu {
  padding-left: 0;
  list-style: none;
}
.icon-menu li {
  width: auto;
  height: 51px;
  border: 1px solid #e5e5e5;
  font-size: 11px;
  color: #FFF;
  padding: 0 10px;
  float: left;
  line-height: 1.4;
  text-align: center;
  margin: 0 2px;
}

.icon-menu .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.int_img {
  width: 100%;
  padding: 15px; 
  padding-left: 30px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
}
.icon-menu .glyphicon {
  margin-top: 0px;
  margin-bottom: 5px;
}
.icon-menu li a {
  padding: 0;
  line-height: normal;
  color: #FFF;
  font-size: 11px;
  font-weight: bold;
}
.icon-menu li a:hover,
.icon-menu li a:focus {
  background: inherit;
}

.icon-menu li.mnu_mail {
  background-color: #cfe09b;
}
.icon-menu li.mnu_notifiche {
  background-color: #89ccca;
}
.icon-menu li.mnu_archivio {
  background-color: #8baddc;
}
.icon-menu li.mnu_profilo {
  background-color: #ab8cc0;
}



#mnu-button button{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  color: #0053a6;
  border-color: #e5e5e5;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 20px;

  font-size: 12px;
  padding: 17px 12px;
}

.mnu_search {
  margin-top: 10px;
}

.mnu_search .input-group input {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.mnu_search .input-group .input-group-btn .btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.mnu_search .btn-default {
  background-color: #0053a6;
}
#footer {
  background-color: #0e1339;
  color: #fff;
}

#footer .row {
  padding: 20px;
  padding-left: 0px;
}

.copyrght {
  padding-left: 50px;
}

.inner-page-color {
  background-color: #f6f6fe;
}
.inner-page {

  background-color: #ededf7;
}
.page-content {
  margin-top: 30px;
  margin-bottom: 80px;
}
.page-content-box {
  margin-top: 30px;
}
.breadcrumb {
  background: none;
  margin-bottom: 0px;
  padding-left: 0px;
}
.breadcrumb li {
  padding: 5px 15px;
  background-color: #FFF;
}
.breadcrumb li a {
  color: #000;
  font-weight: 500;
}

.breadcrumb > li + li:before {
  padding: 0;
  content: normal;
}
.breadcrumb > .active {
  color: #000;
  border-bottom: 1px solid #0153a5;
  font-weight: 500;
}

span.data_evento {
  color: #666;
  font-size: 12px;
  /*float: right;
  font-weight: bold;*/
}
span.data_evento:before {
  content: url('../images/ico_date.jpg');
  position:relative;
  top: 10px;
  margin-right: 10px;
}

span.data_pubbl {
  color: #666;
  font-size: 12px;
  /*float: right;
  font-weight: bold;*/
}
span.data_pubbl:before {
  content: url('../images/ico_view.jpg');
  position:relative;
  top: 10px;
  margin-right: 10px;
}

.cell_doc {
  padding: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 18px;
  color: #2e4577;
  font-weight: bold;
}

.inner-page-color .carousel-indicators {
  position: relative;
  bottom: -10px;
  text-align: center;
}

.row-box-white {
  background-color: #FFF;
  margin-left: 0px;
  margin-right: 0px;
}

.content-text {
  padding-left: 40px;
  padding-right: 40px;
}
.down-file {
  padding-bottom: 10px;
  margin-top: 5px;
}
.link-down {
  text-align: right;
  padding-top: 5px;
}

.link-down img {
  margin-left: 10px;
}

.link-down a:after {
  content: url('../images/ico_downloads.jpg');
  position:relative;
  top: 5px;
  margin-left: 10px;
}

.sp-box {
  padding: 30px 15px;
}

.border-box {
  border: 1px solid #e5e5e5;
}
.link-ext {
  padding: 10px 15px;
}
.link-ext a {
  font-weight: 500;
  color: #2e4577;
}
.link-ext a:after {
  content: url('../images/ico_arrow.jpg');
  position:absolute;
  right: 0px;
  top: -4px;
}

.btn-default.active {
  background-color: #ededf7;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-segna {
  background: url('../images/ico_segna.jpg') no-repeat;
  height: 32px;
  width: 32px;
  display: inline-block;
}
.btn-stampa {
  background: url('../images/ico_stampa.jpg') no-repeat;
  height: 32px;
  width: 32px;
  display: inline-block;
}
.crp_box_text {
  padding: 20px;
}
.crp_box_text_x3 {
  padding: 20px;
  padding-top: 0px;
}
a.title_box {
  font-size: 20px;
  font-weight: normal;
  color: #000;
  margin-bottom: 15px;
  display: block;
}
h4.title_box {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 15px;
  display: block;
}
.crp_box_text_x3.cat_01 a.title_box {
  border-left: 8px solid #302784;
  padding-left: 8px;
}
.crp_box_text_x3.cat_01 a.arrow_box {
  color: #302784;
  border: none;
  padding-left: 0px;
}
.crp_box_text_x3.cat_01 a.arrow_box:after {
  content: none;
}
.crp_box_text_x3.cat_02 a.title_box {
  border-left: 8px solid #278342;
  padding-left: 8px;
}
.crp_box_text_x3.cat_02 a.arrow_box {
  color: #278342;
  border: none;
  padding-left: 0px;
}
.crp_box_text_x3.cat_02 a.arrow_box:after {
  content: none;
}
.crp_box_text_x3.cat_03 a.title_box {
  border-left: 8px solid #c9311c;
  padding-left: 8px;
}
.crp_box_text_x3.cat_03 a.arrow_box {
  color: #c9311c;
  border: none;
  padding-left: 0px;
}
.crp_box_text_x3.cat_03 a.arrow_box:after {
  content: none;
}
.crp_box_text_x3.cat_04 a.title_box {
  border-left: 8px solid #efd355;
  padding-left: 8px;
}
.crp_box_text_x3.cat_04 a.arrow_box {
  color: #efd355;
  border: none;
  padding-left: 0px;
}
.crp_box_text_x3.cat_04 a.arrow_box:after {
  content: none;
}
.crp_box_text_x3.cat_05 a.title_box {
  border-left: 8px solid #02bedb;
  padding-left: 8px;
}
.crp_box_text_x3.cat_05 a.arrow_box {
  color: #02bedb;
  border: none;
  padding-left: 0px;
}
.crp_box_text_x3.cat_05 a.arrow_box:after {
  content: none;
}
.crp_box_text_x3.cat_06 a.title_box {
  border-left: 8px solid #fe8f01;
  padding-left: 8px;
}
.crp_box_text_x3.cat_06 a.arrow_box {
  color: #fe8f01;
  border: none;
  padding-left: 0px;
}
.crp_box_text_x3.cat_06 a.arrow_box:after {
  content: none;
}
.crp_box_text_x3.cat_07 a.title_box {
  border-left: 8px solid #ecb4b5;
  padding-left: 8px;
}
.crp_box_text_x3.cat_07 a.arrow_box {
  color: #ecb4b5;
  border: none;
  padding-left: 0px;
}
.crp_box_text_x3.cat_07 a.arrow_box:after {
  content: none;
}
.label-pagination {
  margin: 20px 0px;
  height: 34px;
  line-height: 34px;
  padding-right: 10px;
  font-weight: normal;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #ededf7;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #ededf7;
  color: #428bca;
  border: none;
}
.pagination > li > a {
  border: none !important;
}

.nav-year {
  display: inline-block;
  margin-bottom: 0px;
}
.nav-year li {
  display: inline-block;

  padding: 10px 0px;
}
.nav-year li a {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
  border-right: 1px solid #dddbdc;
  display: block;
  color: #aab4cd;
}
.nav-year li.active a {
  color: #0e1339;
}
.nav-year li.last-year a{
  border: none; 
}
.nav-year li a:last-child {
  /*border: none;*/
}
.chek-societa {
  background-color: #fff;
  padding: 6px 10px;
  display: inline-block;
  border: 1px solid #e5e5e5;
}
.chek-societa input[type=checkbox] {
  margin-right: 5px;
}
.chek-societa label {
  padding-right: 10px;
  border-right: 1px dotted #e5e5e5;
  margin-bottom: 0px;
  font-weight: normal;
}
.chek-societa label:last-child {
  border: none;
  padding-right: 0px;
}
.form-control,
.btn,
.dropdown-menu {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

a.btn_griglia,
a.btn_lista {
  padding: 10px;
  background-color: #FFF;
  color: #000;
}

a.btn_griglia:before {
  content: url('../images/ico_griglia.png');
  position: relative;
  right: 0px;
  top: 2px;
  padding-right: 5px;
}

a.btn_lista:before {
  content: url('../images/ico_lista.png');
  position: relative;
  right: 0px;
  top: 2px;
  padding-right: 5px;
}

a.btn_griglia.active,
a.btn_lista.active {
  border-bottom: 1px solid #0153a5;
}
.active_text {
  color: #428bca;
}
label.simple {
  font-weight: normal;
}

.list-group-item:first-child {
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.list-group-item:last-child {
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.list-group-item {
  border: none;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  background-color: #ededf7;
  color: #0053a6;
}
.list-group-item {
  background-color: #f6f6fe;

}
a.list-group-item {
  color: #799ac3;
}
.mnu_separatore_dot {
  width: 100%;
  border-bottom: 1px dotted #a0a0a0;
  height: 1px;
  margin-top: 4px;
  margin-bottom: 3px;
}

.crp_content {
  padding: 0px;
}

.crp_content .row {
  margin-left: 0px;
}

.sidebar-offcanvas.btn_profilo,
.sidebar-offcanvas.btn_menu {
  background-color: #FFF;
  padding: 0px;
}
.sidebar-offcanvas.btn_profilo .row,
.sidebar-offcanvas.btn_menu .row{
  padding: 0px 10px;
  padding-top: 20px;
  padding-bottom: 0px;
}
a.edit_profile {
  color: #666;
  font-size: 12px;
}
a.edit_profile:before {
  content: url('../images/ico_edit.jpg');
  position:relative;
  top: 10px;
  margin-right: 10px;
}
.int_profile h1 {
  font-size: 28px;
  color: #0053a6;
  margin-bottom: 0px;
}
.int_profile span {
  color: #666666;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
}



span.info_tel {
  color: #666;
  font-size: 12px;
  display: block;
}
span.info_tel:before {
  content: url('../images/ico_tel.jpg');
  position:relative;
  top: 10px;
  margin-right: 10px;
}
span.info_fax {
  color: #666;
  font-size: 12px;
  display: block;
}
span.info_fax:before {
  content: url('../images/ico_fax.jpg');
  position:relative;
  top: 10px;
  margin-right: 10px;
}
span.info_mobile {
  color: #666;
  font-size: 12px;
  display: block;
}
span.info_mobile:before {
  content: url('../images/ico_mobile.jpg');
  position:relative;
  top: 10px;
  margin-right: 10px;
}
a.btn_mail {
  color: #666;
  font-size: 12px;
  display: block;
}
a.btn_mail:before {
  content: url('../images/ico_mail.jpg');
  position:relative;
  top: 10px;
  margin-right: 10px;
}
.nmn_prof {
  width: 100%;
  text-align: center;
  color: #FFF;
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 0;
  padding: 0px 15px
}
.nmn_prof .fnd_prof {
  background-color: #000;
  width: 100%;
  height: 40px;
  line-height: 40px;
  opacity: .7;
}

.nmn_prof h1 {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 0px;
}
.sub-date {
  background-color: #ededf7;
}

  /* MOBILE */
.mobile .bx_111,
.mobile .bx_155,
.mobile .bx_195,
.mobile .bx_236,
.mobile .bx_239,
.mobile .bx_257,
.mobile .bx_278,
.mobile .bx_319,
.mobile .bx_338,
.mobile .bx_340,
.mobile .bx_403 {
  height: auto;
}
.mobile .bx_111 {
  min-height: 100px;
}

.mobile .bx_338 img {
  height: initial;
}
.mobile .carousel-indicators {
  padding-top: 10px;
}

.mobile .navbar-brand {
  padding-top: 0px;
  width: 100%;
  text-align: center;
}

.mobile a.title {
  width: 100%;
  margin-top: 10px;
}
.mobile .blc-cont-image {
  background-size: cover;
  background-position-y: top;
}
.mobile .blc-cont-lnee {
  background-size: cover;
  background-position-y: top;
}
.mobile .lnk_all {
  position: relative;
}
.mobile .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}
.mobile .col-xs-12.padding-left-0 {
  padding-right: 0px;
}
.mobile .carousel-indicators {
  position: relative;
  bottom: 0px;
}
.mobile .navbar-header {
  text-align: center;
}
.mobile .navbar-toggle {
  position: absolute;
  right: 0px;
  z-index: 100;
}
.mobile #footer {
  background-color: #0e1339;
  color: #fff;
}
.mobile #footer .row {
  padding: 20px;
}
.mobile .copyrght {
  padding: 0px;
  padding-top: 15px;
  text-align: center;
}
.mobile .ft_logo {
  text-align: center;
}
.mobile #mnu-button button {
  display: block;
  margin-bottom: 10px;
}
.mobile .navbar-collapse {
  width: 100%;
}
.mobile .navbar-nav {
  float: left !important;
  margin: 0px;
  width: 100%;
}
.mobile .link-down {
  text-align: left;
  padding-left: 10px;
}
.mobile .sidebar-offcanvas {
  margin-top: 20px;
}
.mobile body {
  padding-top: 122px;
}
.mobile .breadcrumb li {
  margin-bottom: 5px;
}
.mobile .swich-class {
  float: left !important;
}
.mobile .nav-year {
  float: left !important;
  padding-left: 0px;
}
.mobile .mb-mrg-btt-10 {
  margin-bottom: 10px;
}
.mobile .sidebar-offcanvas {
  height: auto;
  margin-bottom: 20px;
}
.mobile .sidebar-offcanvas .list-group {
  margin-bottom: 0px;
}
.mobile .crp_content .row {
  margin-left: -15px;
}
.mobile .sidebar-offcanvas.btn_profilo .row:last-child,
.mobile .sidebar-offcanvas.btn_menu .row:last-child{
  padding: 0px 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.mobile .crp_cont_corp {
  padding-left: 0px;
}

/* Tablet */
.tablet.portrait body {
  padding-top: 190px;
}
.tablet.portrait .blc-cont-image {
  background-size: cover;
  background-position-y: top;
}

.tablet.portrait .bx_319 {
  height: auto;
}
.tablet.portrait .bx_319 img {
  width: 100%;
}
.tablet.portrait .bx_195 {
  height: auto;
}
.tablet.portrait .carousel-indicators {
  position: relative;
  bottom: 0px;
  padding-top: 10px;
}
.tablet.portrait .lnk_all {
  position: relative;
  background: none;
}
.tablet.portrait .bx_195 .col-xs-12.padding-left-0 {
  padding: 0;
}
.tablet.portrait .bx_257 {
  height: auto;
}
.tablet.portrait .bx_257 .col-xs-12.padding-left-0 {
  padding: 0;
}
.tablet.portrait .bx_155 {
  height: auto;
}
.tablet.portrait .bx_155 .col-xs-12.padding-left-0 {
  padding: 0;
}
.tablet.portrait .blc-cont-lnee {
  background-size: cover;
  background-position-y: top;
}
.tablet.portrait .bx_257 img {
  width: 100%;
}
.tablet.portrait .bx_338 img {
  height: auto;
}
.tablet.portrait .bx_338 {
  height: 100%;
}

.tablet.portrait .bx_403 {
  height: 100%;
}
.tablet.portrait .bx_278 {
  height: auto;
}
.tablet.portrait .navbar-collapse {
  width: 100%;
}
.tablet.portrait .navbar-nav {
  float: left !important;
  margin-left: 10px;
  margin-top: 10px;
}
.tablet.portrait #mnu-button {
  margin-left: 10px;
}
.tablet.portrait .swich-class {
  float: left !important;
  margin-top: 20px;
}
.tablet.portrait .sidebar-offcanvas {
  height: auto;
  margin-bottom: 20px;
}
.tablet.portrait .sidebar-offcanvas .list-group {
  margin-bottom: 0px;
}
.tablet.portrait .sidebar-offcanvas.btn_profilo .row:last-child {
  padding: 0px 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}

@media (min-width: 992px) {
  .bx_403 {
    height: auto;
  }
  
  .bx_319 {
    height: auto;
  }

  .bx_195 {
    height: 253px;
  }
  .bx_111 {
    height: 188px;
    background-position-y: bottom;
  }
  .bx_111.mail a {
    padding-left: 30px;
  }
  .bx_111.mail .panel-body {
    padding-top: 50px;
  }
  .news .panel-body div,
  .help_desk .panel-body div,
  .quality .panel-body div,
  .circolari .panel-body div {
    padding-left: 15px;
  }
  a.title {
    font-size: 15px;
  }
  p {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  #mnu-button button {
    font-size: 15px;
    padding: 15px 20px;
  }
  .bx_403 {
    height: 403px;
  }
  .bx_319 {
    height: 319px;
  }
  .bx_195 {
    height: 195px;
  }
  .bx_111 {
    height: 111px;
    background-position-y: top;
  }
  .bx_111.mail a {
    padding-left: 120px;
  }
  .bx_111.mail .panel-body {
    padding-top: 5px;
  }
  .news .panel-body div,
  .help_desk .panel-body div,
  .quality .panel-body div,
  .circolari .panel-body div {
    padding-left: 75px;
  }
  a.title {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}